[2016-05-10 10:49] demoive opened #247 "Avoid class="interactive" to make things work"
Consider avoiding the dependency on wrapping things in `<div class="interactive">` in order to get them to work. There have been multiple instances reported related to this:

#140
#141
#109
https://wordpress.org/support/topic/op-social-class-without-any-supported-embed-type

[2016-05-10 11:36] profitpunk opened #248 "Can't activate the plugin"
Following error comes up during activation:

.../plugins/facebook-instant-articles-wp-master/vendor/autoload.php): failed to open stream...

My Wordpress is version: 4.5.2

[2016-05-10 14:08] billwill commented on #248
Same issue, different error plus a warning.  WP version 4.52
Added the plugin via the admin panel

Plugin could not be activated because it triggered a fatal error.

Warning: require(/home/dstaton/public_html/wp-content/plugins/facebook-instant-articles-wp-master/vendor/autoload.php): failed to open stream: No such file or directory in /home/dstaton/public_html/wp-content/plugins/facebook-instant-

[2016-05-10 19:54] kitwestneat opened #249 "<div class="embed"> wrapping embeds on non-instant articles."
It appears as if embeds.php strips out all embed filters from other plugins, and adds its own filters, one of which wraps the embed in a &lt;div class="embed"&gt; tag. The problem is that it looks as if embeds.php is run regardless of whether or not the request is for an instant feed.

[2016-05-10 20:05] herbco opened #250 "Custom Post Type - custom post meta fields in Transformer rules"
Hi Guys

I spoke to your team at the Dev Garage today about this issue and was advised to make a Github post.
Many Wordpress sites have Custom Post Types and these include custom metadata fields which a site may render on the front end as part of its content. However, because this data is not is not included in the standard Wordpress post content field, it can't be accessed via the Transformer rul

[2016-05-10 20:36] paulschreiber opened #251 "CoAuthors: ability to customize/filter user URL"
Currently, the author's Facebook page is read from the `$coauthor->website` parameter:

    $author->user_url = is_a( $coauthor, 'WP_User' ) ? $coauthor->data->user_url : $coauthor->website;

We use `->website` for other purposes and use `->facebook` for the facebook URL slug.

Please add a filter or other method that allows us to use `->facebook` (and prepends `https://www.facebook.com/`).

[2016-05-10 21:39] KhalidAlmallahi commented on #226
I will delete this plugin in my site

its not work good

[2016-05-10 23:09] emanuelet commented on #198
Still experiencing the same issue

[2016-05-11 08:12] katsar0v opened #253 "Audience network - white ad?"
After putting a placement ID, I get an white ad, has anyone had this already?

[2016-05-11 09:16] katsar0v commented on #245
Maybe the page does not have access to instant articles yet

[2016-05-11 10:03] samichamoun opened #254 "Trying to setup a transformer rule"
Hi there,

I am embedding my own video player which is used as an iframe. The height attribute is being stripped from the video, so I am trying to setup a transformer rule to apply it.

[code]

I'm not sure what the type/selector/attribute values should be for the properties. springboard-height is a class which is assigned to the video itself.

Any ideas?

[2016-05-11 10:13] MattiaConfalonieri commented on #198
This is a real pain in the ass guys...

[2016-05-12 09:43] withoutfield opened #256 "New FB-Issue: HTML Embeds Require Valid Width / Height"
Recently there is a new Error-Message on Embeds, FB is missing "Valid Width / Height" for op-social an op-interactive Embeds.

op-social:

`<figure class="op-social"><iframe src="https://www.youtube.com/embed/QfTKLpdA5Fc?feature=oembed"></iframe></figure>
`
`**HTML Embeds Require Valid Width: HTML Embeds require a valid integer width in order to be displayed properly.**
`
`**HTML Embeds Require Va

[2016-05-12 11:46] #206 closed

[2016-05-13 06:23] kawarano commented on #209
This issue happens on a current version in WordPress.com VIP shared plugin repository. So I'm looking forward to prompt merging.

[2016-05-13 06:23] #209 closed

[2016-05-13 09:57] demoive opened #259 "Retain settings on failed sanitation"
Setting values which don't pass their sanitation should retain their same (previous) value.

Example: The current behavior is particularly disruptive when editing "long form" settings (like `<textarea>` such as Custom Transformer Rules, Tracking/Ads Embeds, etc.) since it clears out the entire content if the value is invalid based on the sanitation.

[2016-05-13 10:01] demoive opened #260 "Store Page token expiration"
The expiration date of the Facebook Page token should be stored. This would allow warnings/notifications to suggest that the user update the token before it expires.

[2016-05-13 10:10] demoive opened #261 "Additional setting option to apply a global footer"
This feature request is to add an additional option in the settings to set a footer which would apply to all articles.

Example use case: Useful for copyright information.

Reference:
https://wordpress.org/support/topic/footer-110?replies=1
https://wordpress.org/support/topic/footer-customization-4/
https://wordpress.org/support/topic/customizing-footer-5/

[2016-05-13 10:45] demoive commented on #110
The "draft" portion of this issue was changed in v2.8.

Related: https://wordpress.org/support/topic/draft-articles-causing-errors

[2016-05-13 10:48] demoive commented on #110
Related issue regarding "scheduled" posts:
https://wordpress.org/support/topic/planified-articles-are-empty

[2016-05-13 10:55] demoive commented on #148
Related: https://wordpress.org/support/topic/problems-with-nordic-letters-%C3%A6-%C3%B8-and-a

[2016-05-13 11:05] demoive commented on #147
Related: https://github.com/facebook/facebook-instant-articles-sdk-php/issues/49
Fixed: https://github.com/facebook/facebook-instant-articles-sdk-php/pull/46

[2016-05-13 12:46] #34 closed

[2016-05-13 12:46] #64 closed

[2016-05-13 12:47] #146 closed

[2016-05-13 12:47] #147 closed

[2016-05-13 14:58] nikssardana opened #262 "Heading inside blockquotes not present in rss feed"
I installed this plugin on my blog http://www.sugeek.net. However, when the instant articles were submitted for review, they were rejected, reason being "Missing content - text elements". The text inside < blockquote >< h1 > ... < /h1 >< /blockquote > tags was not present in the rss feed generated by the plugin. (http://www.sugeek.net/feed/instant-articles). Rather, it shows an empty < blockquote

[2016-05-13 16:20] demoive commented on #155
Thanks for these suggestions.

@YOzaz your suggestion is tracked in #186.
@jashsayani I've added your suggestion to the same #186 issue.

We'll close this out to avoid duplication.

[2016-05-13 17:52] #155 closed

[2016-05-13 19:00] cusatxpress commented on #243
yes its a Download button shortcode.

Plugin URL : http://blog.ppfeufer.de/wordpress-button-fuer-downloads-erzeugen/

and CSS

`@CHARSET "UTF-8";
/* Download Buttons + Comment Submit Button */
.dwnld-button-shortcode {
/* 	margin: 10px; */
	border-radius: 5px;
	border: 1px solid #808080;
	padding: 2px;
	-webkit-box-shadow: 0 0 3px 0 rgba(125,125,125,0.5), inset 0 0 0 2px #ccc;
	-moz-box-shadow: 0

[2016-05-13 21:09] demoive commented on #110
Calling for assistance: if anyone on this thread wishes to create and submit a PR to resolve the remaining issue where a "scheduled post" is being published to Facebook, here are some suggestions:

- Referring to the updates made in #151 in this commit: https://github.com/Automattic/facebook-instant-articles-wp/pull/151/commits/221fc435c19d95c5ea664bbb193fc45d3089c682
- Add a condition which check

[2016-05-13 22:23] demoive commented on #243
@cusatxpress the link you provided leads to a "This site cannot be reached" message (ERR_NAME_NOT_RESOLVED). Can you double check?

[2016-05-14 05:13] jaygidwitz commented on #133
I agree with both of these. +1 on this issue

[2016-05-14 10:10] warrenlee opened #265 "Ignoring Google Maps embed"
Hi, I have a Google Maps embed inside an article and trying to use the ignore rule to skip it but it doesn't seem to be working.

[code]

Here is an example of the embed

[code]

Anything I'm doing wrong here?

[2016-05-14 10:17] warrenlee opened #266 "Extracting the Image caption under the image"
Is there a way to get the image caption that's under the image itself (or link in this case)?

[code]

[2016-05-14 11:35] davydelbeke opened #267 "Request: Validator for unpublished articles"
I'd love to be able to validate if my article is valid for Facebook Instant Articles before publishing it online.
I'm asking this because I had an empty Instant Article because one of my writers wrote a span around a div. Dirty code and Facebook Articles didn't like that. Is it possible to do this every time the author saves the article as a concept?

Thanks!

[2016-05-14 13:03] jeremyongws commented on #131
Having the same issue, running on PHP 7 and the latest version of WP and the plugin.

Error is : "General Errors: Empty Articles: You have one or more articles without any content."

[2016-05-16 08:41] demoive commented on #160
A fix for this was deployed in v2.9.

[2016-05-16 10:48] demoive opened #268 "Support publishing via XML-RPC"
Posts and pages created/saved in [WordPress via XML-RPC](https://codex.wordpress.org/XML-RPC_Support) are published ("pushed") with empty content to Facebook for Instant Articles.

To reproduce, create a new post through a weblog client (e.g. [Blogo](https://getblogo.com)).

Reference:
https://wordpress.org/support/topic/instant-articles-empty-when-using-xml-rpc

[2016-05-16 11:33] #160 closed

[2016-05-16 14:31] ericescalante opened #269 "Can't populate related articles in footer"
Hi, thanks for creating this great plugin! I'm experiencing a bit of on issue though. I can't get related articles to display with this rules:

[code]

The markup has a UL with 3 links wrapped in LIs :)
Thanks a bunch!

[2016-05-16 16:34] ericescalante commented on #269
Closing it myself. Went around the rule-based parsing and just added them on a `instant_articles_transformed_element` filter by hand ^_^

[code]

[2016-05-16 16:53] drrobotnik opened #270 "Ability to flush feed"
We had an issue where the another plugin/service was applying data to the_content, that was not being correctly validated preventing us from being approved for FB-IA. I was able to remove the action easily, but flushing the cached feed was impossible. It looks like currently it only updates when the post is updated.

I propose adding some ability to flush the feed via an interface within the dashb

[2016-05-16 18:25] onpubcom commented on #147
👍

[2016-05-17 04:44] chrisackermann commented on #198
Sorry for the headache here. We've confirmed the PR from @Aioros addresses the issue where scheduled posts are not issued to Facebook. We're performing some additional testing to ensure there are no unintended side effects and will plan to merge tomorrow if all's good.

[2016-05-17 08:52] iamali opened #272 "Unable to activate plugin"
I'm unable to activate the plugin. I downloaded the zip from here, uploaded with no problem, clicked activate and I got this error:

`Warning: require(/var/www/vhosts/norburychurch.org.uk/httpdocs/wp-content/plugins/facebook-instant-articles-wp-master/vendor/autoload.php): failed to open stream: No such file or directory in /var/www/vhosts/norburychurch.org.uk/httpdocs/wp-content/plugins/facebook-

[2016-05-17 14:17] msnadler commented on #198
I'm likely late too the party, but I'm having a similar issue with scheduled posts. Though in my case, I don't get the error message others reference, the scheduled posts just don't show up at all.
Unscheduled posts work fine.

[2016-05-17 16:14] cassler commented on #36
+1

[2016-05-17 19:05] chrisackermann commented on #198
We've now released Version 2.11 of the plugin which includes the fix provided in #257 from @Aioros (thanks for the contribution!).  Please upgrade to this latest version and let us know if you have any further issues with scheduled posts.

[2016-05-18 04:00] samichamoun commented on #140
@diegoquinteiro apologies if I should have created a separate issue ticket for this, however it applies to the above. Any time I have a height set on my iframe, the plugin strips it out, making the video player look very short inside IA.

Any ideas?

[2016-05-18 11:46] GOT1878 commented on #272
Just to second this, I'm having the same issue.

[2016-05-18 13:34] donaldG commented on #225
Got the update on the plugin this morning and this issue persists. I dropped my fix back into the plugin for the time being.

[2016-05-18 18:19] diplatis opened #274 "Option for displaying featured image as header image"
Hi,

it would very handy if there was an option for displaying or not the featured image in wordpress as header image in instant article. Many wordpress blogs use the main article image as featured and so it gets displayed twice in the instant article.

[2016-05-18 20:51] noumaan opened #275 "Check box to disable Instant Articles on a Post"
It would be nice to have options that allow site owners to choose which articles they want to appear in their Instant Articles feed. A checkbox in the 'Facebook Instant Articles' metabox below the post editor would be very useful.

Another way is to allow site owners to choose a tag or category for articles they want to automatically add into Instant Articles feed.

[2016-05-19 10:19] samichamoun commented on #256
Has a patch been made for this?

[2016-05-19 11:30] OPPtester commented on #272
I just tested by installing the plugin on my test site and was able to install/activate. I did this from within the admin Panel...plugins->add new....

Running WP 4.5.2

[2016-05-19 12:17] larsschenk commented on #268
Since version 2.11 of the plugin, this issue is solved.
Articles created or updated with XML-RPC do result now in correct FB IA! Thanks.+

[2016-05-19 12:25] diplatis opened #276 "Problem with Jetpack Publicize and scheduled posts"
I experience the following problem with scheduled posts and jetpack publicize:
When the scheduled post gets published it gets autoposted to my facebook page but with no opengraph image (should be the featured image). Also, I can see the post in Facebook's Instant Articles Production dashboard as Live (and no errors generated) but when I try to read it in facebook app there is no Instant Article, j

[2016-05-19 12:34] damadorPL opened #277 "Malformed header from CGI script: ERROR - Unable to submit article."
Malformed header from CGI script: ERROR - Unable to submit article. Status: 302 Set-Cookie: wfvt_806150073=573c73d31b23f; expires=Wed, 18-May-2016 14:23:23 GMT; Max-Age=1800; path=/; HttpOnly Expires: Wed, 11 Jan 1984 05:00:00 GMT Cache-Control: no-cache, must-revalidate, max-age=0 Pragma: no-cache Content-Type: text/html; charset=UTF-8 X-Pingback: http://arsenal.org.pl/xmlrpc.php Location: http:/

[2016-05-19 14:05] MattiaConfalonieri opened #278 "Custom rule for youtube embed not work."
here may page http://www.piccolericette.net/piccolericette/spiedini-di-asparagi-e-bacon/

and here my custom rule

`{
    "rules":
    [
        {
            "class": "SocialEmbedRule",
            "selector" : "div.video-shortcode",
            "properties" : {
                "socialembed.url" : {
                    "type" : "string",
                    "selector" : "iframe",

[2016-05-19 15:28] warrenlee commented on #265
Resolved: It was wrapped in a p tag so the following works.

[code]

[2016-05-19 15:28] #265 closed

[2016-05-19 16:06] diplatis opened #279 "Text between images is stripped"
Source Markup:
[code]

Transformed Markup:
[code]

[2016-05-19 18:13] skftn opened #280 "Literally the most god awful documentation/plugin I have ever witnessed"
Facebook should be ashamed.

- The documentation is ultra confusing
- The "admin panel" *kugh* on Facebook itself for instant-articles is ultra confusing and does not provide sufficient debugging methods.
- This plugin is ultra confusing and does not work correctly

Facebook APIs or developer technology is an absolute disgrace and if you tasked on working with it; I wish you goodluck.

[2016-05-19 19:38] overpress opened #281 "Images are not seen"
After the latest updates of the plugin images in our instant article unseen. Why?

![img_1155](https://cloud.githubusercontent.com/assets/17315030/15407173/ecb8ccc4-1e09-11e6-83fd-fbcca190ab63.PNG)

[2016-05-19 22:21] #280 closed

[2016-05-19 22:23] kellydavidsansom opened #282 "'wp-caption aligncenter' is not recognized, how can I create this rule?"

[2016-05-20 07:11] katsar0v commented on #275
Yes, I would really love to have that, and guess it is not that complicated to build

[2016-05-20 09:33] demoive commented on #110
The "scheduled" portion of this issue was resolved in v2.11.

[2016-05-20 10:01] diplatis opened #283 "Google Analytics by Yoast integration after post update"
When I update a post the Analytics Code in the Instant Article op-tracker is wrong:

[code]

[2016-05-20 10:27] demoive commented on #127
@CarsonLee27, if there are problems with the filenames of images which contain non-roman characters, this has been reported in issue #148 so we'll close out this issue to avoid duplicates. Please follow that issue and share any additional information you feel would be helpful.

[2016-05-20 10:30] CarsonLee27 commented on #127
FYI, the issue seem resolved over here. Anyway, thanks =

[2016-05-20 10:35] demoive commented on #131
There have been similar reports of issues with unexpected empty content which were fixed in versions v2.8 and v2.11 of the plugin. If you're still experiencing the issue, could you update to the latest versions and reopen if it still reproduces?

Occasionally, simply updating the plugin wasn't enough for the problem to go away, but articles had to be re-saved/re-published* — this was because the a

[2016-05-20 10:38] MattiaConfalonieri commented on #131
I confirm that the last update resolve the problem...

[2016-05-20 10:42] markbarnes commented on #131
_**I composed the post below before @demoive posted above. As it took me a while to type, I'm leaving it here whilst I test 2.11. I'll report back later.**_

I have the same issue. According to Facebook, my production feed doesn't have any content. What's interesting is (a) when I view the feed it looks fine; (b) Facebook says the development feed is fine, even though the feed URL is identical!; (

[2016-05-20 10:54] jclanoe commented on #131
I installed 2.11 and there's still no content in that feed. Note that I manually updated a few posts before testing it.

[2016-05-20 11:15] demoive commented on #104
@CarsonLee27 we have not been able to reproduce this problem so I'm marking it as closed for now. Also to note: while #127 isn't directly related to this issue, since it was opened at the same time and has since been resolved with recent updates to the plugins, perhaps this too has been resolved?

[2016-05-20 12:20] #198 closed

[2016-05-20 12:22] #110 closed

[2016-05-20 12:24] #127 closed

[2016-05-20 12:24] #131 closed

[2016-05-20 12:24] #104 closed

[2016-05-20 12:31] CarsonLee27 commented on #104
I have checked lately also. This issue still occurs.

[2016-05-20 13:42] MattiaConfalonieri commented on #278
Any idea?

[2016-05-20 16:44] markbarnes commented on #186
It's already possible to do this by modifying the query. I'm doing that to limit by feed to a particular custom post type.

[code]

[2016-05-21 14:16] finalhit commented on #205
Here are the missing rules for images with captions, hope they will be added directly to plugin:

`{"rules": [
	{
		"class": "CaptionRule",
		"selector" : "p.wp-caption-text"
	},
	{
	"class": "ImageRule",
	"selector" : "div.wp-caption",
	"properties" : {
		"image.url" : {
			"type" : "string",
			"selector" : "img",
			"attribute": "src"
		},
		"image.caption" : {
			"type" : "element",
			"select

[2016-05-21 14:18] finalhit commented on #282
See https://github.com/Automattic/facebook-instant-articles-wp/issues/205#issuecomment-220780141

[2016-05-21 14:19] finalhit commented on #137
No need to add HTML5 support to the theme.

See https://github.com/Automattic/facebook-instant-articles-wp/issues/205#issuecomment-220780141

[2016-05-21 16:15] GraemeFulton commented on #187
Same here, works fine for me locally, but not on redhat openshift. No idea why yet..

[2016-05-21 16:34] GraemeFulton commented on #187
aha it looks like because 'log4php' is not being tracked by git:

![screen shot 2016-05-21 at 17 31 01](https://cloud.githubusercontent.com/assets/4354786/15449598/ed43706a-1f79-11e6-80de-60cf403c4fd1.png)

make sure it's tracked in your repo and push it - that should fix it

[2016-05-22 08:36] ghost opened #288 "Multisite and Multilingual Support please"
Hi, please add Multisite and Multilingual Support for Blog with more than one language.

thx

[2016-05-22 16:11] bewarem commented on #256
I have the same problem when i try to embed vimeo video

[2016-05-22 22:29] stuartshields commented on #283
@diplatis Google Analytics by Yoast is now Google Analytics by Monster Insights. The issue you're having is easily resolved by going into the settings for Google Analytics by Monster Insights and removing Admin from the Ignore user groups as stated in your code snippet.

``

[2016-05-23 03:30] stuartshields commented on #225
@donaldG The issue I've noticed with Instagram and twitter is that their embed JS doesn't contain `https:` which causes facebook to throw up errors. I'm actually going to create a Pull Request that fixes my issue. I'd be interested in seeing if you could try out my fix to get your issue resolved.

[2016-05-23 08:16] diplatis commented on #283
That's not a resolution, it's a workaround as I don't want administrators and editors to be tracked.

[2016-05-23 08:44] djrules24 opened #289 "JetPack Slideshow Rule Cannot be defined"
Here's my slideshow data code, How do I create a Transformation rule for the same.

[code]

[2016-05-23 20:24] stuartshields commented on #289
@djrules24 No code?

[2016-05-23 20:24] stuartshields commented on #283
@diplatis Well you need to talk to Monster Insights for a solution.

[2016-05-24 05:00] samichamoun commented on #256
Any update on this? Still receiving this error on every post which includes a video

[2016-05-24 06:14] Esther27 opened #291 "Problem with infogram plugin"
Hi,

we use infogram graphs for our WP articles and we usually inserted them via the responsive embed link. However, as this was not recognized by facebook for our instant articles we tried an alternative way, namely embedding the graph via the infogram plugin. This also didn't work, in our instant articles the infogram graph is simply not shown. Does anyone have a solution or tip to this problem?

[2016-05-24 06:44] stuartshields commented on #291
@Esther27 Quick question for you, have you checked the RSS feed to see what the output of the code is? just add /instant-articles to the end of your domain (change instant-articles if you changed the name of the RSS feed for Instant Articles). If so can you paste the code here and I'll check it out.

[2016-05-24 06:48] Esther27 commented on #291
Hi @stuartshields! thanks for the reply!

this is the code output of the infogram graph:

<script id="infogram_0_949b4acc-21fa-410c-898c-6a5a63524188" title="AnTuTu Sony Xperia X" src="//e.infogr.am/js/embed.js?bud" type="text/javascript"></script>

[2016-05-24 06:49] stuartshields commented on #291
@Esther27 No code was outputted... Make sure to use ` for opening and closing

[2016-05-24 06:59] stuartshields commented on #278
@MattiaConfalonieri Try this:

[code]

[2016-05-24 07:02] stuartshields commented on #291
@Esther27 Do you have any surrounding div tags? What Rules are you using to display it?

[2016-05-24 07:56] MattiaConfalonieri commented on #278
Unfortunately it does not work,

[2016-05-24 08:39] withoutfield commented on #256
Still not fixed, but if I understand it right, the fix will come with the next Update.

[2016-05-24 09:18] Esther27 commented on #291
no I don't have any surrounding div tags.  We already had the infogram graph working, so I thought there is no need to have any rules.....

[2016-05-24 09:46] stuartshields commented on #291
@Esther27 You'll need rules to get it to work.

[2016-05-24 12:27] Esther27 commented on #291
ok @stuartshields. That's the problem, I don't know how to set up such rules. If you have an idea, maybe you could post it here? Thanks a lot!

[2016-05-24 13:18] donaldG commented on #225
@stuartshields totally! Is your fix in a PR now?

[2016-05-24 16:26] MLRobbins commented on #237
We are seeing this as well. [paging @chrisackermann] seems @Aioros has a workaround for this problem as well - which is a pretty significant problem. As a news org, we are publishing all day long and this has significantly impacted our social sharing capabilities, on Facebook. Any update?

[2016-05-24 19:11] kevinlisota opened #292 "Is Automattic actively developing this plugin?"
I see little in the way of commit activity over the past month and a quickly growing issues list that isn't being addressed.

What is Automattic's commitment to this plugin? Or do we need to rely on community-sourced fixes and our own workarounds for stuff?

[2016-05-24 21:01] Jake-Grafenstein opened #293 "Div tags around images prevents inclusion in feed"
It seems that whenever an image is encapsulated in a div tag, the image is ignored when the plugin parses the article. I know this to be true because when I add a basic image to a post, the image can render correctly in Facebook. Captioned images are encapsulated in div tags and thus are completely ignored by your plugin. This seems like it would be a pretty simple fix.

[2016-05-24 22:11] stuartshields commented on #291
@Esther27 Let me think about it and see what I can do for you.

[2016-05-24 22:12] stuartshields commented on #293
@Jake-Grafenstein Have you looked at adding rules for this?

[code]

[2016-05-24 22:15] stuartshields commented on #292
@kevinlisota I think this plugin was developed in partnership between Facebook and Automattic. I'd wait and see what happens over next few weeks. While I don't personally work for either, if you have any fixes you want, let me know and I'll create a pull request so we can atleast get something happening.

[2016-05-25 02:19] stuartshields commented on #225
@donaldG Here is the PR https://github.com/Automattic/facebook-instant-articles-wp/pull/290 If you wouldn't mind testing it that way I know for sure it works the way we want it to.

[2016-05-25 05:45] stuartshields commented on #291
@Esther27 I'm still thinking about this, as I don't have a infogram account, is there anyway you can send me a URL to a page that has the infogram? Also I can see an issue that my PR fixes https://github.com/Automattic/facebook-instant-articles-wp/pull/290 that we might run into even when we get the rules in place. Basically the script src is using `//` instead of `https://`.

[2016-05-25 07:06] Esther27 commented on #291
Hi @stuartshields! Thx for your reply! Yes, here is a URL where we have an infogram graph: http://www.a1blog.net/2016/05/20/sony-xperia-x-test/#Leistung

[2016-05-25 09:02] stuartshields commented on #291
@Esther27 Try this:
[code]

[2016-05-25 09:10] stuartshields commented on #278
@MattiaConfalonieri How about this one:

[code]

[2016-05-25 09:17] MattiaConfalonieri commented on #278
Thanks for the help but not work... custom rules for me not work properly in the plugin...

[2016-05-25 09:21] stuartshields commented on #278
@MattiaConfalonieri After adding the custom rules, your clicking update from within the actual post screen itself to update the article? I'm interested in working out why this isn't working for you

[2016-05-25 09:24] MattiaConfalonieri commented on #278
yes yes i update the post, but nothing appear in the instant article...

[2016-05-25 09:25] stuartshields commented on #278
@MattiaConfalonieri  I also noticed this in your code for your videos:

`<iframe title=$title width="620" height="349" src="http://www.youtube.com/embed/e3POHO89YhM" frameborder="0" allowfullscreen></iframe>` notice `title` has `$title` maybe this is causing the issue?

[2016-05-25 10:01] MattiaConfalonieri commented on #278
I remove `title=$title` but nothing change, i try your two code and the mine...

[2016-05-25 10:29] partcoffee opened #294 "Support for HeaderSubTitleRule"
Just checking to see if there's any support for the subtitle rule without physically moving the h2 into the header? Ideally through custom transformer rules.

[2016-05-25 11:56] stuartshields commented on #248
Just install it from the WP plugin directory - https://wordpress.org/plugins/fb-instant-articles/ The error your getting is because you need to install those componants using composer.

[2016-05-25 15:11] donaldG commented on #225
@stuartshields didn't do the trick for me :/ Is the problem not related to the embeds.php file? It seems that section is missing something?

[2016-05-25 15:38] katsar0v commented on #275
Any update on this feature? I guess it is a must for such a plugin

[2016-05-25 16:45] djrules24 commented on #289
Sorry about that, didnt include the code quotes. Here you go.

`<div id="gallery-58713-2-slideshow" class="slideshow-window jetpack-slideshow slideshow-black" data-trans="fade" data-autostart="1" data-gallery="[{&quot;src&quot;:&quot;https:\/\/s3-ap-southeast-1.amazonaws.com\/hungryforever\/wp-content\/uploads\/2016\/05\/23023739\/1.jpg&quot;,&quot;id&quot;:&quot;58714&quot;,&quot;title&quot;:&quo

[2016-05-26 04:50] demoive commented on #268
Confirmed to have been resolved in #257 by https://github.com/Automattic/facebook-instant-articles-wp/pull/257/commits/cce67efe8bb401ed37b3d0188e4cf028a4fe1a44 in [v2.11](https://github.com/Automattic/facebook-instant-articles-wp/releases/tag/2.11). The root cause of the problem (empty content) was causing the same problem with scheduled posts.

[2016-05-26 11:20] CarsonLee27 opened #297 "Analytics Embed Code Invalid"
Hi there,

I tried to insert comscore and Alexa tracking code into the Analytics Embed code section but I have received the error " Invalid HTML markup provided for custom analytics tracker code".

Anyone met the same issue or have any idea?

**comscore**
[code]

**Alexa**
[code]

[2016-05-26 11:20] #246 closed

[2016-05-26 11:30] CarsonLee27 opened #298 "Google Analytics appear (not set) with API code"
Have encounter issue with integration of Google Analytics in Instant Article. (withMonsterInsight plugin/without - direct insert GA).

In Google Analytics Real Time -> Content, it display the (not set) at the Page title column. Realise it display auth.php?api_key=xxxxxxxx

Anyone have similar issue or any idea?

Thank you.

<img width="1045" alt="screen shot 2016-05-26 at 1 41 41 pm" src="https://

[2016-05-26 19:31] technosailor opened #299 "Unit Tests Failing"
Just an FYI-

Unit tests are failing. While the plugin works fine, failure to have passing unit tests throw CircleCI for a loop. Unfortunately, it looks like some of the failures are from the Facebook SDK too so not sure how much control you have but it would be good to fix or remove the tests.

[2016-05-26 20:55] gecugamo commented on #182
@stuartshields that code doesn't seem to work. It breaks the instant article feed. Any ideas?

[2016-05-27 01:37] cuckoofordeals commented on #275
Yes I would love this as well!

[2016-05-27 03:56] MLRobbins commented on #237
@Aioros we've tried the workaround you recommend, and we're still getting 404s and having to rescrape URLs via the FB debugger to get them to display properly when shared via URL. Has the Automattic/FB plugin dev team looked into this issue yet?

[2016-05-27 10:49] ericescalante opened #300 "Add to Packagist?"
Could I suggest you guys to please add this plugin to packagist? That way we can install it with the rest of our plugins and avoid having to manually run `compser install` inside it.
Thanks for your great work!

[2016-05-27 13:27] Esther27 commented on #291
@stuartshields: I inserted the rule but unfortunately is still doesn't show the graph in the pages manager app view of the instant article :(

[2016-05-27 19:13] donaldG commented on #275
@noumaan @katsar0v @cuckoofordeals I was able to achieve this by creating a category specifically for the Instant Articles. Figuring out that feed URL was a bit of a pain. What I figured out was after creating the Category my feed was this:
http://www.site.com/category/fb-instant-articles-your-custom-cat-name/feed/instant-articles

The documentation isn't super clear on that. Just after trial & er

[2016-05-27 19:19] donaldG commented on #266
@warrenlee if you're able to change your markup at all it gets a bit easier. Using HTML5 elements makes it super easy. I've had little success using any of the filters in this plugin but writing [Custom Transformer Rules](https://developers.facebook.com/docs/instant-articles/sdk/transformer-rules) and/or changing my markup is working swimmingly.

So, for markup, you could try:

[code]

And that wo

[2016-05-28 06:12] stuartshields commented on #299
@technosailor Can you post that over at the SDK - https://github.com/facebook/facebook-instant-articles-sdk-php

[2016-05-28 06:13] stuartshields commented on #298
@CarsonLee27 Can you paste a code snippet here

[2016-05-28 06:15] stuartshields commented on #289
What's the rules you tried to apply?

[2016-05-28 06:43] CarsonLee27 commented on #298
Here you go.
[code]

Do let me know if you need more info =D thank you so much @stuartshields

[2016-05-28 06:59] stuartshields commented on #275
@donaldG You don't need /feed/ in the URL (well I haven't come across any instances of needing this).

[2016-05-28 07:12] stuartshields commented on #298
@CarsonLee27 Give me until Monday and I'll see what I can do for you :)

[2016-05-28 07:26] djrules24 commented on #289
The slidehow rule.

Even a static image rule is fine as well.

From: Stuart Shields [mailto:notifications@github.com]
Sent: 28 May 2016 11:46
To: Automattic/facebook-instant-articles-wp
Cc: djrules24; Mention
Subject: Re: [Automattic/facebook-instant-articles-wp] JetPack Slideshow Rule Cannot be defined (#289)

What's the rules you tried to apply?

—
You are receiving this because you were mention

[2016-05-28 10:38] miguelfspinto opened #303 "Using instant articles with qTranslate in Wordpress"
When creating the instant articles, the tags [:pt] and [:] are appearing in title and content. I suggest a field where we can strip some expressions when transforming the content into instant articles.

[2016-05-28 20:23] donaldG commented on #275
Woah, you're right. I couldn't get it working any other way but you're
totally right. In addition, /feed/ does work, for whatever that's worth.

On Sat, May 28, 2016 at 1:59 AM Stuart Shields <notifications@github.com>
wrote:

[2016-05-29 10:47] stuartshields commented on #289
@djrules24 try the following rules:

[code]

[2016-05-29 22:19] stuartshields commented on #291
@Esther27  I'll have another look tonight if I get time.

[2016-05-29 22:21] stuartshields commented on #289
@djrules24 I think I have found an issue with the above rule, it'll only show the one image from the gallery since it's trying to grab it from `div.gallery-row`. I'm going to work more on this rule tonight.

[2016-05-30 01:46] djrules24 commented on #289
Koolio.

[2016-05-30 02:46] CarsonLee27 commented on #298
@stuartshields  sure bro ~~ thank you so much !!!

[2016-05-30 07:42] stuartshields commented on #233
@demoive I've adjusted your code to work with JetPack Tiled Galleries. I noticed it was only bringing in 1 image, however a simple adjustment brings in all images from the tiled gallery.

[code]

[2016-05-30 07:48] stuartshields commented on #289
@djrules24 Unfortunately due to Jetpack slideshow requiring JavaScript enabled. The plugin looks like it'll need to support the Jetpack slideshow properly. I'll look into creating this and maybe you can test it so we can get it merged.

[2016-05-30 07:54] nicolinuxfr commented on #289
I'm using Jetpack gallery as well, so if you need tests, don't hesitate !

[2016-05-30 07:58] djrules24 commented on #289
Alright.
What if we can make it into a single image rule, but how do we process the next image.

[2016-05-30 08:07] stuartshields commented on #297
Hi @CarsonLee27 You don't need to worry about the <noscript> tags, as the App itself supports JS so the tracking code works.

[code]

[2016-05-30 08:08] stuartshields commented on #298
@CarsonLee27 I've sent this ticket to Monster Insights and hopefully they'll check it out and reply.

[2016-05-30 08:24] stuartshields commented on #303
@miguelfspinto Does the site support english as a language? I've tested the plugin and I don't have the issue your reporting. What settings are you using?

[2016-05-30 08:54] stuartshields commented on #289
@djrules24 If you select it as a tiled-gallery the following rule will work. But for the Jetpack-slideshow itself, we'll need to build some custom code.

[code]

[2016-05-30 08:57] miguelfspinto commented on #303
​Hi Stuart,

The website is in Portuguese and Spanish. I am using qTranslate-X to manage
internationalization in posts. The way this plugin manage i18n is adding
tags for each language in the post_title and post_content fields. The tags
are like [:pt] and [:es].

The problem is during the generation of instant article code because this
tags are not being striped, so the article title appears somet

[2016-05-30 08:59] nicolinuxfr commented on #289
Why would you need the slideshow ? It's an Instant Article features and it works well already !

Right now, I have this rule, but only the first image of a gallery is displayed in the IA. So I edit the article myself to add all other pictures, which is a pain.

`{ "class": "SlideshowImageRule", "selector" : "div.gallery-row","properties" : {"image.url" : { "type" : "string", "selector" : "img", "a

[2016-05-30 09:01] stuartshields commented on #289
@nicoleckohler Because Jetpack has it's own slideshow that formats the code differently. We need to add support for it.

[2016-05-30 09:04] nicolinuxfr commented on #289
It works great ! I don't need more, at least I don't think so… :-)

(If you wish to see what it does, here's an example : https://voiretmanger.fr/chef-table-gelb-netflix/)

[2016-05-30 09:09] stuartshields commented on #303
@miguelfspinto I can see the issue you're having. I'm working on something else at the moment but when I'm done I'll look into the translating issue for you.

[2016-05-30 10:12] miguelfspinto commented on #303
Thank you very much for the help. :)

Best regards,
Miguel Pinto

On Mon, May 30, 2016 at 10:09 AM, Stuart Shields <notifications@github.com>
wrote:

[2016-05-30 10:45] CarsonLee27 commented on #298
Cool.
Thank you so much.

Actually we have tried use without Monster Insights. but the results was same.

[2016-05-30 10:47] CarsonLee27 commented on #297
Okay. Basically you have removed the

<noscript>
<img src="http://b.scorecardresearch.com/p?c1=2&c2=11111111&cv=2.0&cj=1" />
</noscript>

and

<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=bd5Ei1a4ZP00MC" style="display:none" height="1" width="1" alt="" /></noscript>

Right? Okay. I just proceed with the code you provide then =D THank you so much @stuartshields =D

[2016-05-31 00:25] gabu69 opened #304 "HTML Embeds Require Valid Width & Height"
For embeds im getting this error:

[code]

[2016-05-31 00:41] stuartshields commented on #304
@gabu69 Can you confirm the YouTube videos on a normal post contain the width and height?

[2016-05-31 01:07] gabu69 commented on #304
Yup:

`<div class="embed"><iframe width="500" height="281" src="https://www.youtube.com/embed/rJ657zjzE8w?feature=oembed&#038;cc_lang_pref=es&#038;hl=es&#038;showinfo=0&#038;rel=0&#038;autohide=1&#038;modestbranding=1&#038;iv_load_policy=3" frameborder="0" allowfullscreen></iframe></div>`

[2016-05-31 04:22] stuartshields commented on #304
@gabu69 Try the following rule:

[code]

[2016-05-31 09:53] pmfadil commented on #233
Hello @stuartshields. Does it work for you?
For me, there's still the warning below and the gallery is not transformed at all.
No rules defined for <div class="tiled-gallery type-rectangular tiled-gallery-unresized"> in the context of InstantArticle

[2016-05-31 10:00] stuartshields commented on #297
@CarsonLee27 Yes that's all I have done.

[2016-05-31 10:14] CarsonLee27 commented on #297
Cool =D

[2016-05-31 12:25] philipjohn commented on #32
This is fixed in v2.11 :)

[2016-05-31 12:25] #32 closed

[2016-05-31 12:28] Aioros commented on #237
I should take a closer look into the meta box code, but it seems to me that this is more of a weird behaviour on Facebook's side than a bug. I would suggest, as a way of working around this, that the meta box should only check for the article status after the first time the post has been published, but this would probably mean saving more post metas, which would be a debatable choice for a workaro

[2016-05-31 12:29] nicolinuxfr commented on #237
In the meantime, your "fix" @Aioros is working fine. No more meta box, but at least the crawler works as expected.

[2016-05-31 12:35] philipjohn commented on #44
@brunohulk We've left this issue behind a bit because we've released v2.11

Do you want to update this PR to merge against the latest version and then we can get it merged :)

Thanks so much for putting the effort in!

[2016-05-31 12:53] philipjohn commented on #50
Yep, filter sounds like a good route. I've done that in #305 - review needed please :)

[2016-05-31 12:55] philipjohn commented on #60
@diegoquinteiro Could you advise on what the best way forward here would be? I know we can filter the content, but is there anything more targeted we can do?

[2016-05-31 12:58] philipjohn commented on #62
It looks like this is expected - the pubDate should show the date when the article was *first published* and the modDate is that date of the most recent modification.

As for the scheduling, we did have an issue there which is fixed in v2.

[2016-05-31 12:58] #62 closed

[2016-05-31 12:59] chrisackermann commented on #237
Thanks for reporting and sorry for the headache. The right approach here is to force a re-scrape when the article is being taken live, using this endpoint:

`POST /?id={object-instance-id or object-url}&amp;scrape=true`

as documented here: https://developers.facebook.com/docs/sharing/opengraph/using-objects#update

We should address this in the PHP SDK though, so @Aioros, would you mind opening a

[2016-05-31 12:59] philipjohn commented on #73
@demoive Do we still need this, given that v2 introduces the API, or is this going to be required for feed-only usage?

[2016-05-31 13:00] philipjohn commented on #75
As v2 removes the DOM transformation code, this is no longer an issue. Thanks for the report!

[2016-05-31 13:00] #75 closed

[2016-05-31 13:03] philipjohn commented on #77
Hi @jmouka - DOM transformation is no longer used in the plugin so that wouldn't be an option anymore I'm afraid. We do have the `instant_articles_content` filter - would that suffice?

[2016-05-31 13:19] philipjohn commented on #79
Hi @sgatz - `` looks like something that would be made available by a plugin. That plugins will likely be hooking `the_content` filter to split posts into multiple pages. The best solution, then is to remove that hook using something like:

[code]

...replacing `<plugin hook>` with whatever function the plugin uses.

[2016-05-31 13:19] #79 closed

[2016-05-31 13:20] philipjohn commented on #80
Is this still an issue for you in v2+ @Aioros ? We don't use DOM transformation any more so this may be fixed by the new method.

[2016-05-31 13:21] philipjohn commented on #81
@wulfy Can you provide more info about how the feed is broken? Are you seeing errors? What are they, and where are they shown?

Note that there are very particular guidelines about what is acceptable in FBIA feeds: https://developers.facebook.com/docs/instant-articles

[2016-05-31 13:24] philipjohn commented on #135
We had an issue where unpublished posts sneaked into the feed, but that has been solved now. Is this still an issue for you, @fabianpimminger ? As I think the fix in v2 may have solved this by proxy.

[2016-05-31 13:26] philipjohn commented on #139
Hi @OPPtester - are you able to provide more details about these duplicates? Is there *anything* different about them at all? Any differences will help us to spot why they may be treated as separate.

Do they only appear once in your feed, or multiple times?

[2016-05-31 13:31] philipjohn commented on #143
Closing for lack of info - feel free to re-open to provide more detail!

[2016-05-31 13:31] #143 closed

[2016-05-31 13:36] philipjohn commented on #150
How do you construct posts for the frontend, @partcoffee ?

If you're not using the normal content editor to store content, and using ACF instead, how do you get the value of those ACF fields printed out to the page when viewing a single post?

I'm imagining either a filter on `the_content` or a template file?

The plugin relies on `the_content()` so if that's being bypassed you'll need to reconst

[2016-05-31 13:42] partcoffee commented on #150
I eventually scrapped the whole ACF thing for Instant Articles, but a way I managed to get parts of it working was through this, returning the content with the primary default `the_content`:

[code]

Ideally, I would have liked to structure my whole site with ACFs, but it seems to need at least one character in the default content editor to be initiated — unless I want to write additional function

[2016-05-31 13:46] philipjohn commented on #150
Okay, cool, glad you got it sorted - and thanks for sharing that. Hopefully that'll help others.

[2016-05-31 13:46] #150 closed

[2016-05-31 13:47] #152 closed

[2016-05-31 13:48] philipjohn commented on #154
Might be worth having this displayed in the new settings screen

[2016-05-31 13:52] philipjohn commented on #157
Am I right in thinking that you've edited the large image size using the setting in Settings > Media @sebids ?

The plugin will grab whatever you use when creating content in the editor, so if that's the large size set at 596px, that's what'll appear in your feed.

We do have the `instant_articles_content` filter which would allow you to filter the output, but it'd be a case of searching the conte

[2016-05-31 13:54] philipjohn commented on #158
The best way to use oEmbeds with the plugin is to rely on WP's own oEmbed functionality, which the plugin handles and converts to the appropriate markup.

To do that, you'll need to insert the YouTube URL into the content at the right point, *before* the FBIA plugin grabs that content and converts it to FBIA-compatible markup.

[2016-05-31 14:04] sebids commented on #157
Right. That's what I meant.

OK, so it takes the size used in the editor. Would still be nice to have a setting to use a larger image size.
Because manually searching the content is messy, yes.

[2016-05-31 14:19] philipjohn commented on #162
Hi @abdusfauzi , can you elaborate on the need for your `vckt_social_embed_type()` function please? Those embeds *should* be handled automatically by the plugin.

[2016-05-31 14:22] philipjohn commented on #163
My gut feeling is that really this should be handled properly in the content by having absolute URLs. There are other effects to having relative URLs so while we could have the plugin handle it, it's still a sticking plaster for the root cause.

You could probably filter the content and find and fix those relative URLs, but it'd be better to do that as part of a 'fixer' that went through those art

[2016-05-31 14:22] #163 closed

[2016-05-31 14:24] philipjohn commented on #164
Hmm, I can't see anything in the docs on this. Perhaps @diegoquinteiro has a better answer?

[2016-05-31 14:24] philipjohn commented on #165
Nice idea! We should definitely do this if we can.

[2016-05-31 14:25] philipjohn commented on #168
Hi @Asif2BD can you confirm exactly which version this was with, and if you still have the same issue with 2.11? Thanks!

[2016-05-31 14:29] jmouka commented on #77
Good to know. I'll give that a try. Thank you!

[2016-05-31 14:37] Aioros commented on #80
Right, I don't think this is an issue anymore.

[2016-05-31 15:00] kevinlisota commented on #237
@chrisackermann I'm not sure if this is the right approach. Here are the issues I see:

1) The canonical URL may actually change at time of publish. In fact, in our workflow, it's not unusual to change the title & URL at the end of the editing process, prior to publishing.
2) I you tie a re-scrape to the article's publish event, it is entirely possible that in a few second interval while that is h

[2016-06-01 07:50] Aioros commented on #237
I have to say I'm not sure either. Before deactivating the meta box I tried forcing a rescrape, but it was a bit of a hit and miss; I'm not sure why, but I suppose that @kevinlisota has a point with timings and possible oddities. Then again, I'm really not an expert here, so I trust the devs on this, but the rescrape solution should definitely be tested carefully.

[2016-06-01 17:02] paulschreiber opened #306 "Non-static method DOMDocument::loadHTML() should not be called statically"
The FBIA plugin is generating this warning:

[code]

[code]

[2016-06-01 17:26] donaldG commented on #225
I really want to get this fixed, ha. I'm to the point now where I can resubmit our feed, after tweaking loads of our own custom shortcodes and such, but this is the only thing hindering me. It appears my fix I posted above (https://github.com/Automattic/facebook-instant-articles-wp/issues/225#issuecomment-216637477) doesn't actually work. @stuartshields had any other ideas/thoughts on this? I'm fe

[2016-06-01 23:20] stuartshields commented on #306
@paulschreiber I've come across this warning several times and it's been straight after I've attempted to apply an invalid Rule. Can you confirm the steps before this error happens? Can you also supply the current rules you're using so I can help.

[2016-06-01 23:44] paulschreiber commented on #306
I installed the plugin and entered the app ID and secret. I didn't configure or attempt to use anything specific.

[2016-06-02 10:42] camaran opened #307 "mod_security error"
With this plugin enabled when submit page or article i have internat error for mod_security reason

[2016-06-02 20:37] chrisackermann commented on #237
Thanks for the additional input.  @diegoquinteiro and I are looking at an alternative solution and we'll provide an update shortly.

[2016-06-02 21:58] rinatkhaziev commented on #306
@stuartshields I don't think this has anything to do with rules. Per docs (http://php.net/manual/en/domdocument.loadhtml.php) :

[2016-06-02 23:27] stuartshields commented on #306
@rinatkhaziev I've only ever come across it when a Rule is incorrectly set. But it's good to know it's not just related to it.

[2016-06-02 23:55] emanuelet commented on #300
@ericescalante It is already. Look here https://wpackagist.org/search?q=fb-instant-articles&type=any&search=

[2016-06-06 01:02] samichamoun commented on #304
The suggested fix does not work. Upon adding this, it now looks as though the plugin is wrapping two iframes around it.

Here's the output in IA when using the rules above:

`<figure class="op-social"><iframe width="620" height="465"><iframe width="620" height="465" src="https://www.youtube.com/embed/T8VLOtKyYj4?feature=oembed" frameborder="0" allowfullscreen=""/></iframe></figure>`

The error mes

[2016-06-07 00:17] maikmacs opened #310 "Error : Could not get access token"
After create the facebook app and try to login in the plugin settings to select a fan page i get:

"Error : Could not get access token please check your app settings for more about this error
Or Follow our doc setion Documentation Section."

** Version Info **

* Plugin version: 2.11
* WordPress version: 4.5.2
* PHP version: 5.4.43

[2016-06-07 08:30] rlopezestentor opened #311 "Post content (only shortcodes) is not included in the instant-articles feed"
I use ViralPress, a Wordpress plugin. It doesn't use de post content field to save the post content. It insert in the post content field one or more shortcodes like this:

[vp_post_entry type="lists" id="626" order="0"][vp_post_entry type="news" id="622" order="0"][vp_post_entry type="lists" id="623" order="0"][vp_post_entry type="lists" id="624" order="0"][vp_post_entry type="lists" id="625" orde

[2016-06-07 11:28] sweetsickshit opened #312 "Pages Not Showing During Page Selection"
Hello just have a quick question.

The Wordpress Plugin was integrated correctly (I guess) for Instant Articles with Facebook, and I could see two Pages populating for me to select which one to publish my Instant Articles. I have over 10 Pages, and I am admin on all these Pages, but for the two showing, I am actually the Page Owner. So Pages where I admin on (but not the Page Owner) are not showin

[2016-06-08 17:17] seeReadCode commented on #36
+1

[2016-06-08 20:06] jamestylerpatton commented on #278
Forgive me I don't know at all how these custom rules work, but could it not be working because the selector is looking for the class `.video-shortcode` but you're trying to target the iframe, which doesn't have that class?

[2016-06-08 23:23] jamestylerpatton opened #314 "SocialEmbedRule not working with youtube video loaded by iframe api"
I'm trying to use a custom transformer rule to insert my youtube videos into my instant articles. I'm using the Youtube iframe API, so I'm not sure if that's why it's not working.

Here is the HTML that's added and shown in the source:
[code]

After the Youtube javascript code runs, this is what's shown in the browser:
[code]

Here is the custom transformer rule code I've added:
[code]

I've tried

[2016-06-09 03:11] stuartshields commented on #314
Hi,
Did you try the following:

[code]

[2016-06-09 03:12] stuartshields commented on #312
@sweetsickshit Did you go in and click Update on the posts that aren't showing up?

[2016-06-09 04:24] jamestylerpatton commented on #314
@stuartshields Yeah I tried that and it didn't work.
Would Instant Articles see it as an iframe if the video isn't loaded until the youtube iframe api script runs?

If it helps, I'm using this method of loading the video https://developers.google.com/youtube/iframe_api_reference#Getting_Started.

[2016-06-09 05:42] vajrasar opened #315 "Not listing Pages where we are Admins"
I had a same conversation over facebook chat and they also acknowledge the issue in this.

We did everything by the steps but the problem is that the plugin do not list facebook pages where we are Admins. It only allows us to choose pages where we are Page Owners.

Attaching the screenshot of the same. In the screenshot you can see that we are getting only two pages for selection, whereas we are A

[2016-06-09 06:07] vajrasar commented on #312
I can confirm the same issue. https://github.com/Automattic/facebook-instant-articles-wp/issues/315

It is not showing pages where we are Admins. Only the pages where we are Owners are listed.

[2016-06-09 09:40] sweetsickshit commented on #312
Hey @stuartshields , it's not so much of the post, but the Page where I want to publish the articles to aren't showing up for me to select when using the plugin. Do I have to be the Page owner as well before I can use the plugin for Instant Articles to that particular Page?

[2016-06-11 14:07] nitays opened #317 "RTL has to be added manually for each and every post"
# Steps required to reproduce the problem

When you have RTL content all over the website and you want that each and every article that you create will be RTL supported.
# Expected Result
- Having a button that enables auto RTL for all existent articles and for future articles
# Actual Result
- Having to apply the RTL markup for each and every post

---

*\* Version Info **
- Plugin version: 2.11

[2016-06-12 15:21] echenze commented on #131
I'm having the same problem as the others have reported here. Any fix?

[2016-06-12 15:22] ahmedabdailla commented on #317
Fix On Line [676]
Replace
`		$result = $document->loadHTML( '<!doctype html><html><body>' . $content . '</body></html>' );
`
with
`$result = $document->loadHTML( '<!doctype html><html dir="rtl"><body>' . $content . '</body></html>' );`

[2016-06-12 15:46] nitays commented on #317
@ahmedabdailla will it apply the RTL markup for my existing posts too or only for the new ones?

[2016-06-13 01:42] ahmedabdailla commented on #317
only for the new ones but you can just click update on every post you wrote before and it will fix to this post you just updated

[2016-06-13 09:09] CastenettoA commented on #237
It seems not yet resolved in the new version of plugin.
Following @Aioros advice I have to add this code to function.php
`if(is_admin()){
	remove_action('add_meta_box', array( 'Instant_Articles_Meta_Box', 'register_meta_box' ));
	remove_action( 'wp_ajax_instant_articles_meta_box', array( 'Instant_Articles_Meta_Box', 'render_meta_box' ) );
}
`

[2016-06-13 10:52] philipjohn commented on #27
We should check if this is still an issue in v2.

[2016-06-13 14:34] FewKinG commented on #294
If I understand your request correctly, you want to use content in the InstantArticle context as header subtitle. I see three ways in which you can achieve this.

### 1. Custom Transformer Rule with custom content

You can ensure, that the content you want to include in the subtitle is part of the IA content so that you can select it with custom transformer rules. One way you could do this by impl

[2016-06-13 15:40] FewKinG commented on #254
More information is required to help you out here. Somewhere in the original markup, the height should be specified. In the properties you specify where this height value can be found. The `selector` specifies which element inside the container matched by your initial selector ('.springboard-height') contains the value. The `attribute` specifies the attribute of this element which contains the val

[2016-06-13 15:55] FewKinG commented on #216
pre tags are not recognized by the default set of transformer rules, so they get stripped out when the post gets transformed into Instant Article markup. If you want to include them, you can for example turn them into Instant Article paragraphs, using this custom transformer rule:

[code]

However, this will of course no longer be pre-formatted text when displayed as Facebook Instant article. As f

[2016-06-13 16:40] rinatkhaziev commented on #27
I don't think it is but I haven't personally checked yet either.

[2016-06-13 19:04] donaldG commented on #225
@stuartshields HOLY CRAP I THINK I JUST FOUND OUR ISSUE. When embedding a tweet if the URL is like this: https://twitter.com/peta/status/711932888216838146?ref_src=twsrc%5Etfw with that "?ref=..." parameter then it breaks. If I take that off then it's fine.

I'm not sure where exactly that ?ref param is coming from but that seems to be true culprit.

[2016-06-13 20:13] donaldG commented on #225
Closing, finally found a friggin' plugin in our code that's causing the issue. The plugin helps handle special characters in Tweets (not sure it's needed anymore?) and converts the Tweet to base64 encode then saves it & outputs it.

[2016-06-13 20:13] #225 closed

[2016-06-14 09:07] nitays commented on #317
@ahmedabdailla It doesn't work... is `class-instant-articles-post.php` the right file?

[2016-06-14 09:18] overpress commented on #281
Up

[2016-06-14 10:58] samichamoun commented on #254
Thanks for the reply.

This post was written a while back, so how about I give you a fresh code snippet:

`<script src="//www.springboardplatform.com/js/overlay"></script><iframe id="crzy005_1635837" src="//cms.springboardplatform.com/embed_iframe/5365/video/1635837/crzy005/craziestsportsfights.com/10" width="600" height="400" frameborder="0" scrolling="no"></iframe>`

Youtube also fails to automa

[2016-06-14 14:15] FewKinG commented on #254
Yes I think so. Well, I experimented a little with your two examples. First of all: Your transformer rule won't match the youtube example video, because that is embedded in a div container which won't be matched by the `iframe` selector. You need a selector like `//div[@class='embed' and iframe]` to select divs with the `embed` class and an `iframe` child element.

I thus managed to get the transf

[2016-06-14 14:56] warrenlee commented on #266
Hi @donaldG thanks for your reply and sorry for the late response.
I'm trying to avoid altering any markup since the blogger has gone for the easier approach [insert image, new line, caption, new line, insert image] etc, rather than upload image, type caption, insert image.

Will try and look for other work arounds.

[2016-06-14 20:00] paulschreiber commented on #306
Looks fixed in https://github.com/Automattic/facebook-instant-articles-wp/pull/308

[2016-06-14 23:38] samichamoun commented on #254
Hey mate thanks for your response. I must be doing something wrong because I haven't got this quite right yet.

Below is the custom transformer rule I've added:

`{ "rules":
	[{
		"class": "InteractiveRule",
		"selector": "//div[@class='interactive' and iframe]",
		"properties": {
			"interactive.height": {
				"type": "int",
				"selector": "iframe",
				"attribute": "height"
			},
			"interactiv

[2016-06-15 06:44] FewKinG commented on #254
Well, your springboard example is definitely working for me the way you describe it. I put the script and iframe tag (iframe tag wrapped by a div.interactive) into the content using the instant_articles_content filter. This is done prior to   transformer rule application. Then I used your interactive transformer rule and it properly converts into an Interactive element.

If you visit the edit post

[2016-06-15 07:33] lubimow opened #319 "problem with the output from the photo gallery"
I have a problem. I use the plug-in Gallery Carousel Without JetPack for the Gallery on the website. For proper display of thumbnails in the record I have set up a special display of photo size. 205x205 px

`add_filter( 'shortcode_atts_gallery', 'meks_gallery_atts', 10, 3 );
function meks_gallery_atts( $output, $pairs, $atts ) {
$output['size'] = 'gallery';
return $output;
} `
But now in my facebo

[2016-06-15 08:35] amjadbooxmedia opened #320 "no issue"

[2016-06-15 08:39] amjad-eremnews opened #321 "Google analytic is not registering my traffic that is coming from fb instant articles"
Google analytic is not registering traffic coming from fb instant articles. i hope that I have configured it properly.
Please check the screenshot of my settings and confirm me if these are fine. **Note**: I didn't enclosed analytic code in iframe tags.

![screenshot from 2016-06-15 12 33 42](https://cloud.githubusercontent.com/assets/19947761/16073272/341b4032-32f6-11e6-8426-bf71dc2a2e7f.png)

[2016-06-15 09:09] #320 closed

[2016-06-15 09:46] whitesiroi commented on #131
The same here "Empty Articles: You have one or more articles without any content.".
Using Instant Articles API in Graph API Explorer

Here is the content I'm testing on:
[code]

[2016-06-15 12:14] fabiograsso opened #322 "Visual composer"
Hello,
I'm using [Visual Composer](http://codecanyon.net/item/visual-composer-page-builder-for-wordpress/242431), and I've found that articles write with Visual Composer are not rendered.
In particular all the text managed by visual composer is missing in IA feed.

Visual Composer generate text using tag like: [vc_row full_width="" full_screen=""][vc_column][vc_column_text]....[/vc_column_text][/v

[2016-06-15 13:55] miguelfspinto commented on #303
Dear Stuart,

We are evaluationg possible solutions. Do you have a time estimated to
correct this issue in this plugin?
Thank you.

BR,
Miguel Pinto

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Sem
vírus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DDB

[2016-06-15 14:06] CarsonLee27 commented on #321
You may try by using their recommended plugin - https://www.monsterinsights.com/welcome-to-monsterinsights/ to double check with the issue.

I kind of having the same issues.
Just GA does register but in less I believe and it show (notset) in the GA for the article came from FB instant article.

[2016-06-15 15:38] equa2k9 commented on #131
if you are using some pagebuilder, i use SiteOrigin pagebuilder
this in file

just comment
`//	add_filter( 'posts_where' , 'instant_articles_query_where', 10, 2 );`

for me it solves the problem with no content in instant article, because this pagebuilder save all content in post meta and not in post_content

[2016-06-16 00:45] samichamoun commented on #254
Hmmm, are you sure about the width? The documentation on the link you posted specifically says there is a "width" attribute, and despite setting the no-margin, I receive the error:

As for the springboard, inside the post, I'm seeing the following warnings:

This is a text container that must not be empty nor contain only whitespace characters such as spaces, tabs, new lines or  .Element content:

[2016-06-16 06:42] sushant0077 commented on #297
Hello stuartshields,
I am facing the same issue " Invalid HTML markup provided for custom analytics tracker code". for my below GTM code. Can you please help me out . Thank you.

<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WGSSZRV7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start'

[2016-06-16 08:01] stuartshields commented on #297
@sushant0077 try the following:

[code]

You don't need to include the noscript code.

[2016-06-16 08:07] sushant0077 commented on #297
@stuartshields  thanks for your quick reply.. i tried it but still showing the same error."Invalid HTML markup provided for custom analytics tracker code";

[2016-06-16 11:56] matalla opened #323 "ERROR - Graph returned an error: Error validating verification code"
When I try to connect to my page using FB login I have the following error: ERROR - Graph returned an error: Error validating verification code. Please make sure your redirect_uri is identical to the one you used in the OAuth dialog request.

Also please check this screenshot: https://www.dropbox.com/s/1sy95dnedho7sob/Screenshot%202016-06-16%2013.35.18.png?dl=0

I already set the auth redirect url

[2016-06-16 12:56] Lindstromer commented on #237
+1 on this problem to be fixed. It creates a lot of extra work for a editors/publisher having to scrape articles multiple times a day.

@CastenettoA you missed the plural in the action call. It's supposed to be 'add_meta_boxes' like in Aioros code. Oterwhise the meta box will be there but without any content.

[2016-06-16 16:40] FewKinG commented on #254
Well, the documentation is pretty clear regarding the width I think. And it does seem to strip the width attribute. I would guess, even if you'd set the width property in the transformer rule to some integer value, it won't end up in the final markup. But it's curious that Facebook complains in that case then. Wouldn't be the only case where I'm unsure about Facebook's behavior. Animated GIFs don'

[2016-06-17 05:51] whitesiroi commented on #131
Sorry, In my case I didn't have anything after <time ...>...</time> tags so thats why I got that message

After<time> tag adding any stuff like for example <p>A</p> I stopped getting the error message.

Just in case full html for example:
`<head>
  <meta charset="utf-8">
  <meta property="op:markup_version" content="v1.0">

  <link rel="canonical" href="http://mydomain/article">

  <meta property=

[2016-06-17 08:54] riccarbi opened #324 "Blank space between images removed"
# Steps required to reproduce the problem
1. insert at least two images in WP without any text between them
2. Blank space between images is set in style.CSS though img margins
3. Images are correctly separated by a blank space in WP
# Expected Result
- Same (or similar) image formatting in FBIA as in WP
# Actual Result
- Images are "glued" to one another, no spaces in between, my FBIA are not acc

[2016-06-17 12:51] peterphilippo opened #325 "Can't log in to Facebook from different wp-admin domain"
# Steps required to reproduce the problem

1. Install WP and run the site on a different domain as the cms
[code]
2. Install the facebook IA plugin.
3. submit the App ID and App Secret and click on "next". Make sure the App has the App-Domain "mywpsite.com" and website-url "http://www.mywpsite.com"
4. in wp-admin, click the button "Login with Facebook". You need to do this to select the Facebook P

[2016-06-18 06:16] nitays commented on #317
?

[2016-06-18 08:02] riccarbi commented on #36
+1

[2016-06-18 14:07] ahmedabdailla commented on #317
yeah it supposed to work

[2016-06-18 15:13] JoostKorporaal opened #326 "New functions for default transformer rules"
# Steps required to reproduce the problem
1. Adding fictures into your article with the standard function on top of the text box
2. Publishing your article with RSS to the plugin
3. The plugin must take pictures that are set right behind each other to a gallery and the map into a JSON Geotag map
# Expected Result
- Mutiple pictures placed behind each other are moved into a gallery
- An added map m

[2016-06-20 05:17] amjad-eremnews commented on #321
I am unable to fixed the issue, it is still not registering the fb instant article traffic.

[2016-06-20 18:04] paulschreiber commented on #325
We're seeing the same problem with WordPress VIP — we have espnxyz.wordpress.com for the backend and xyz.com for the frontend.

[2016-06-20 18:13] phpmypython commented on #297
@sushant0077
I've been dealing with this issue myself and ended up finding the real issue you're having.

It comes from the fact that they are loading the value of the embed code field into DOMDocument through the following method.
[code]

If the text is not valid XML then the load will fail as will the saving of the value resulting in the error.

The cause of the tag not validating is actually th

[2016-06-21 09:01] philipjohn commented on #325
@peterphilippo Have you tried adding both your admin URL to App Domains in your Facebook app settings?

FB needs to know where authentication is going to take place (that happens on the backend) and so without that URL it doesn't trust your attempt to authenticate.

[2016-06-21 09:38] lubimow opened #332 "how to add built-in Facebook Likes"
tell me how to enable the built-on Facebook Likes under each photo?

I tried to register it in the plugin settings - does not work.

`{ "rules": [{ "class": "ImageRule", "selector": "img", "properties": { "image.url": { "type": "string", "selector": "img", "attribute": "src" }, "image.caption": { "type": "element", "selector": "img[@alt]" }, "image.like" : { "type" : "exists", "selector" : "img" }

[2016-06-21 09:40] lubimow opened #333 "conflict gallery "carousel" with the plugin"
I have a problem. I use the plug-in Gallery Carousel Without JetPack for the Gallery on the website. For proper display of thumbnails in the record I have set up a special display of photo size. 205x205 px

add_filter( 'shortcode_atts_gallery', 'meks_gallery_atts', 10, 3 );

function meks_gallery_atts( $output, $pairs, $atts ) {

$output['size'] = 'gallery';

return $output;

}

But now in my face

[2016-06-21 10:36] sushant0077 commented on #297
@phpmypython

Finally its working for me.. A huge thanks to you..:)

[2016-06-21 10:37] phpmypython commented on #297
Very welcome 👍

[2016-06-21 14:35] sebids commented on #332
I'm using this in my own plugin or functions.php:

[code]

[2016-06-21 17:10] lubimow commented on #332
@sebids does not work. that's what I had
all plugin stopped working: http://screenshot.net/2o3q7fg

[2016-06-22 02:22] paulschreiber commented on #325
@philipjohn That doesn't work any more.

![image](https://cloud.githubusercontent.com/assets/86784/16252707/8cf7fa30-37fe-11e6-96d9-04742bdd27e1.png)

[2016-06-22 03:00] samichamoun opened #334 "Is there a way we can make an image a link?"
Just tried doing the following

`<a href="http://google.com"><img src="someimage.jpg" /></a>`

Noticed that the plugin strips the <a> tag out which led me to ask, is there a way to actually do this?

[2016-06-22 03:05] samichamoun opened #335 "Support for IA footers?"
Obviously it would be great if the plugin had the ability to configure IA footers, however until this is made available, could someone please confirm what would be the best way for us to use these within an article?

[2016-06-22 04:24] chrisjpatty opened #336 "After connecting plugin to app, returns to a blank screen"
This is driving me crazy. I saw somebody else had this problem and it was never resolved. Every time I connect it to my app it just returns with a blank page instead of a dropdown where I can pick my pages. Help please!

# Steps required to reproduce the problem

1. Installed and activated the plugin.
2. Input my app id and secret
3. connected the app to my account and redirected back.

# Expected

[2016-06-22 06:56] harush commented on #36
this rule works for me:
[code]

[2016-06-22 08:10] abdusfauzi commented on #162
@philipjohn i was trying to force the plugin to embed these two urls into feed xml

https://www.facebook.com/kazlan/videos/vb.683701305/10154008848741306/?type=3&theater
https://www.facebook.com/MFMiraFilzah/posts/181097478934711:0

i have both links in my post content, however, they were omitted from
[code]

[2016-06-23 08:02] GOT1878 commented on #321
I also have this problem...

[2016-06-23 08:07] amjad-eremnews commented on #321
I have fixed it by disabling https in the analytics code. my code is now as under:

`<script type="text/javascript">
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google

[2016-06-23 08:10] GOT1878 commented on #321
Thank you very much amjad, I really appreciate you taking the time to feedback and assist. So is your full code;

<iframe>
<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'scr

[2016-06-23 08:37] jo4nny8 commented on #336
I have exactly the same issue.  Ive completely deleted the plugin, all options from wordpress etc and done a fresh install but its exactly the same.

[2016-06-23 13:00] philipjohn commented on #325
I've checked with Facebook on this. The FBIA plugin only needs to get at the backend for authentication, so instead of using the frontend URL you can use *only* the backend URL, to get around that and allow authentication to go through.

[2016-06-23 13:03] krispy1298 commented on #336
in my scenario, I'm getting this error in the system logs:

[code]

Even though the docs for FB Apps states (specifically for the `pages_manage_instant_articles` permission):

I am an admin on both the App and Page I am using for my set up.

Not sure if this is the exact thing going on for the others in this thread, but hopefully it can help.

[2016-06-23 13:11] krispy1298 commented on #325
So in the situation where the frontend has Facebook likes/sharing, would you/Facebook recommend having 2 separate apps for the frontend vs backend?

[2016-06-23 13:17] paulschreiber commented on #325
Two separate applications is not an acceptable solution.

This is new behaviour on Facebook's part. Who are you working with at Facebook? Can you have them confirm if this change is intentional, and if so, explain why it was made.

[2016-06-23 14:07] krispy1298 commented on #325
@paulschreiber I've editted my question for, hopefully, more clarity. I will link my contact at FB to this thread and see what he says.

[2016-06-23 14:45] gordon225 commented on #231
Note that Facebook will generate 'URL is Incomplete' warning for this embed.

[2016-06-23 15:21] paulschreiber opened #337 "Embed filters affecting content outside of Instant Articles feeds"
The FBIA plugin adds several filters. Example: in `themes/vip/plugins/facebook-instant-articles-2.11/embeds.php`, on line 54:

[code]

In the function instant_articles_embed_get_html(), the HTML gets wrapped in a div like so:

[code]

This code currently affects content in regular web views. It should only affect content in instant articles feeds.

[2016-06-23 19:35] diegoquinteiro commented on #336
Hi, thanks for reporting! This was a bug on the Instant Articles API and we fixed it this morning. Please reopen if you still have issues.

Thank you!

[2016-06-23 19:44] jo4nny8 commented on #336
How do we fix it?  I'm not showing an update through Wordpress. Do I need to download it directly from here?

[2016-06-23 19:53] diegoquinteiro commented on #336
@jo4nny8 sorry, I wasn't clear. The issue is not on the plugin, it was on Facebook servers itself. It was fixed as of this morning. Can you simply retry going through the flow?

Thanks!

[2016-06-23 19:53] #336 closed

[2016-06-23 20:04] jo4nny8 commented on #336
Unfortunately still no joy.

Should I delete the plugin and start again?

[2016-06-23 20:04] jo4nny8 commented on #336
![image](https://cloud.githubusercontent.com/assets/6171316/16318233/1b1c42de-3986-11e6-8d99-f47be0680238.png)

[2016-06-23 20:24] diegoquinteiro commented on #325
Hi @peterphilippo, @paulschreiber and @krispy1298 - Diego from Facebook here!

Thank you a lot for the feedback. We appreciate your time to report it and the ideas!

As the plugin triggers the Facebook login flow from your backend, you need the App to whitelist only the domain of your back-end. If you cannot add/change your back-end domain because your App is used also for other reasons on the fro

[2016-06-23 22:01] paulschreiber commented on #325
@diegoquinteiro Having two apps for every site we run Instant Articles for will be a lot of unnecessary administration overhead. That's three for me alone. While I don't speak for the rest of my company, it would require the creation of dozens, if not hundreds, of zombie apps that we need to maintain lists of administrators for and perform other associated tasks.

Until recently, Facebook let me p

[2016-06-24 10:48] diplatis commented on #233
@pmfadil I get the same error. Any progress?

[2016-06-24 20:06] everton-rosario commented on #303
@miguelfspinto Is it possible for you to add a hook pre-processor so it stripes out this [pt:] tags?

[2016-06-24 20:13] miguelfspinto commented on #303
I already did it. Thank you.
BR,
Miguel Pinto

On Fri, Jun 24, 2016 at 9:06 PM, Everton Rosario <notifications@github.com>
wrote:

[2016-06-24 20:22] #300 closed

[2016-06-24 20:24] everton-rosario commented on #299
@technosailor Have you posted it to SDK?
Can you please file an issue within the SDK project with repro steps and more details please?

SDK lies here: https://github.com/facebook/facebook-instant-articles-sdk-php

thanks

[2016-06-24 20:31] everton-rosario commented on #298
@CarsonLee27 Have you debugged your tracking code?
You can do it using a remote Javascript console.
Like this one: http://jsconsole.com/remote-debugging.html

[2016-06-24 20:33] #297 closed

[2016-06-24 20:38] everton-rosario commented on #294
@partcoffee Have this solved your issue?

[2016-06-24 20:40] everton-rosario commented on #293
You can also add a ByPassRule for the selector of the <div> tag.

[2016-06-24 20:40] #293 closed

[2016-06-24 20:42] everton-rosario commented on #292
@kevinlisota and @stuartshields This is an open source project where Automattic owns the repository.

We are getting the best help we can to keep it up and running.

[2016-06-24 20:42] #292 closed

[2016-06-24 20:59] partcoffee commented on #294
I did mange to get the second solution working eventually, but I have yet to push it to our production build. While I don't like altering the core version of the plugin, it definitely gets the job done.

Currently working on a solution to remove the first sentence from the default content completely, and return it as a subtitle.

[2016-06-25 06:15] fahmi182 commented on #314
@jamestylerpatton you can try this https://gist.github.com/fahmi182/a66b4117fa24dc588006d2b0dcae7774

[2016-06-27 03:05] herbco commented on #298
Hi Guys

Is there a resolution to this issue yet?

[2016-06-27 10:00] Ycfx commented on #304
@samichamoun I have the same error, did you find a solution ?

[2016-06-27 13:32] everton-rosario commented on #77
Hello, thanks for using Instant Articles @jmouka
Im closing this for now. If any problem found, please file another issue.

[2016-06-27 13:32] #77 closed

[2016-06-27 14:15] everton-rosario commented on #81
Hello, thanks for using Instant Articles, @wulfy.

Any issue using the API integration?
We, from Facebook strongly encourages you to use the new API integration for Instant Articles, since you have more control and more flexibility to your articles.

Im closing this since it is old, but feel free to reopen if you still need any support.

[2016-06-27 14:15] #81 closed

[2016-06-27 14:16] everton-rosario commented on #129
Hello @fabianpimminger, thanks for using Instant Articles.

This issue should be fixed on the new version of the WordPress plugin.

Can you check it?

[2016-06-27 14:16] #129 closed

[2016-06-27 14:21] everton-rosario commented on #135
@fabianpimminger Im closing this, considering it is fixed for your case.

Please reopen or file a new issue if you find any other problems with the Instant Articles wordpress plugin or its SDK: https://github.com/facebook/facebook-instant-articles-sdk-php/

[2016-06-27 14:21] #135 closed

[2016-06-27 15:00] everton-rosario commented on #139
@OPPtester Thanks for using Instant Article.
Im considering this issue to be fixed with the latest version of the plugin.

Feel free if you find out any other issue to the plugin.

Thanks.

[2016-06-27 15:00] #139 closed

[2016-06-27 16:56] everton-rosario commented on #157
@sebids This is related to Image processing in WP. The image we use is the one that will be shown on Web. It is a nice to have to be configurable, thus using the Raw image uploaded.
It is enhancement, with low priority.
Can you help us with a pull request regarding this feature?

[2016-06-27 17:01] everton-rosario commented on #162
This should be fixed in the latest release of SDK.
Please update your SDK by running:

1. Open your command prompt terminal
2. Change dir to your plugin folder: usually /wp-content/plugins/facebook-instant-articles-wp
3. Run "composer update && composer install"

If you dont have composer, check how it works from the docs of SDK: https://github.com/facebook/facebook-instant-articles-sdk-php/issues

[2016-06-27 17:01] #162 closed

[2016-06-27 17:03] everton-rosario commented on #164
No DL can be used.
We just accept <ul>  and <ol>.

Check it here: https://developers.facebook.com/docs/instant-articles/reference

[2016-06-27 17:03] #164 closed

[2016-06-27 17:07] everton-rosario commented on #168
@Asif2BD Thanks for using Instant Articles. Do you have any more info regarding your login problem?

Please feel free to reopen or to file another issue regarding this problem.

[2016-06-27 17:07] #168 closed

[2016-06-27 17:09] everton-rosario commented on #169
@bfrye26 Thanks for using Instant Articles. Do you have more info about your case?
We need the HTML code your WP has generated regarding this so we can help better with the transformation rules.

[2016-06-27 17:14] everton-rosario commented on #170
@samichamoun @equa2k9 Thanks for using Instant Articles.
We had few issues within our ingestion backend server. Do you still experience the issues?

Im closing, but feel free to reopen or file another issue task.

[2016-06-27 17:14] #170 closed

[2016-06-27 17:17] everton-rosario commented on #172
@partcoffee Thanks for using Instant Articles.
This issue must be fixed by the latest SDK version and WP plugin rules.
https://github.com/facebook/facebook-instant-articles-sdk-php

[2016-06-27 17:17] #172 closed

[2016-06-27 17:23] everton-rosario commented on #175
@ewrightmedia Thanks for using Instant Articles.
Im glad you could find your way to solve the issue.

Sorry by late response.

[2016-06-27 17:23] #175 closed

[2016-06-27 17:25] everton-rosario commented on #178
Duplicated issue with this: #36

[2016-06-27 17:27] everton-rosario commented on #80
@Aioros Thanks for using Instant Articles.

Closing this issue. Feel free to reopen or file another issue.

[2016-06-27 17:27] #80 closed

[2016-06-27 17:29] #282 closed

[2016-06-27 17:32] diegoquinteiro commented on #281
Hi,

Can you share the debug information from the Transformer? It is shown in the bottom of the post screen, in the Instant Articles metabox. We need the original markup and the transformed one to check why your images aren't showing up.

Thank you,
Diego

[2016-06-27 17:34] diegoquinteiro commented on #279
Hi,

Thanks for reporting. We'll include a fix to this bug in the next release.

Thank you,
Diego

[2016-06-27 17:47] diegoquinteiro commented on #272
Please download the plugin binary from the releases page. If you downloaded the source code directly, please notice you need to run `composer install` on your plugin root to get the dependencies, as stated in the README.

[2016-06-27 17:47] #272 closed

[2016-06-27 17:48] #268 closed

[2016-06-27 18:05] everton-rosario commented on #181
@samichamoun and @withoutfield Thanks for using Instant Articles.
The review process exists to check a full compatibility with any partners. So taking down content just to get approved, isn't a good approach.

[2016-06-27 18:05] #181 closed

[2016-06-27 18:05] Asif2BD commented on #168
I still have the same issue in 2.1.1 wit WP 4.5.3.

[2016-06-27 18:15] everton-rosario commented on #182
@smerriman @withoutfield @gecugamo @CarsonLee27 @lesterchan Thanks for using Instant Articles.

We changed the behavior of withHTML() methods to receive plain string parameters.
This way it will just output whatever you pass as parameter string, without any escaping.

Please test it again using the latest version of SDK: https://github.com/facebook/facebook-instant-articles-sdk-php
In case of any

[2016-06-27 18:15] #182 closed

[2016-06-27 18:58] jamestylerpatton commented on #314
I just found out that it isn't that the custom transformer rule that isn't working, but that the youtube code is being added through a custom field.

I had to add an extra action to the plugin code to get it to work.

In class-instant-articles-post.php, I added this to line 674:
`
do_action( 'instant_articles_before_article_content', $this );
`

and added this to my functions.php file:
[code]

I w

[2016-06-28 05:20] sushant0077 opened #338 "Restrict rss feeds for one post type only in WP"
Hello,

I have added my Production RSS Feed url to Facebook instant article. but i facing two issues below,

FIA- Facebook instant article.
1. I am not able to restrict feeds for one or more ( specific ) post type only.
2. Facebook instant article not reading my old feed for post type.
   The only feed are reads for.
    i. Newly add post or page.(**Note** here i don't wanna FIA read my feed for p

[2016-06-28 10:55] CarsonLee27 commented on #182
@stuartshields Yes. This is something I looking forward. After I included in the functions.php, I believe we dun need to insert the GA code to  the custom embed code right?

Or anyway to insert into custom embed code part to skip the messy code xD.

@everton-rosario
Nice. Is there any sample that we can include the post title into GA?

[2016-06-28 17:01] abdusfauzi commented on #162
@everton-rosario oh. alright, will update. didn't realised the plugin also utilise composer as update method.

[2016-06-28 17:37] abdusfauzi commented on #162
@everton-rosario after updating to the latest SDK, using the `composer` command, this url which rendered nicely in WordPress content, does not present in the instant-articles xml feed.

https://www.facebook.com/MFMiraFilzah/posts/181097478934711:0

Screenshot:
---
![](http://i.imgur.com/RlMGjsh.png)
---

[2016-06-29 06:59] abdusfauzi commented on #36
How do we do this? The above rules didn't work for me.

[2016-06-29 16:21] kawarano opened #339 "Japanese post title is corrupted. $title needs to be helped by mb_convert_encoding() as with $content in Instant_Articles_Post::to_instant_article()"
Post content is converted by `$content = mb_convert_encoding( $content, 'HTML-ENTITIES', get_option( 'blog_charset' ) )` before DOMDocument in class-instant-articles-publisher.php, but post title is not converted. So Japanese post title is corrupted.

---

** Version Info **

* WordPress version: WordPress.com VIP

[2016-06-29 17:51] rawzefr opened #340 "Automatic Images with likes and comments data-feedback"
# Steps required to reproduce the problem

I tried with every rule posible on the guide to enable the option for likes and comments options on images, slideshows, and videos, but it doesn't seem to work at all. The plugin should come with this option enable as a default
# Expected Result

Images with like and comment options on Instant Articles
# Actual Result

Nothing

---

*\* Version Info **
-

[2016-06-29 18:29] everton-rosario commented on #36
We will work on this issue soon @abdusfauzi so we can have a default config setup on the Rules.json.

[2016-06-29 18:30] everton-rosario commented on #340
@rawzefr Thanks for using Instant Articles.
We have this same issue reported 2 other times.
There were some of them that could make it work as a workaround. Check it here: https://github.com/Automattic/facebook-instant-articles-wp/issues/36

[2016-06-29 18:32] everton-rosario commented on #339
@kawarano Thanks for using Instant Articles. Can you send us a pull request with the fix you found?

[2016-06-29 18:34] everton-rosario commented on #192
@sbbic Thanks for using Instant Articles.
Can you provide us more info? Like steps to reproduce, some print-screens of the steps you took?

Thanks

[2016-06-29 18:35] everton-rosario commented on #193
@eustasskid Thanks for using Instant Articles.
I couldn't understand the issue you are facing here. Can you please reopen with more details?

Thanks

[2016-06-29 18:35] #193 closed

[2016-06-29 18:43] everton-rosario commented on #194
@katsar0v Thanks for using Instant Articles.

Currently we have the component Ad where you can set any add you like.
Here is the doc: https://developers.facebook.com/docs/instant-articles/reference/ad

[2016-06-29 18:43] #194 closed

[2016-06-29 18:59] everton-rosario commented on #196
@samichamoun Thanks for using Instant Articles.
Can you share the small piece of html of your player?
This will make it easier for us to help you to configure your transformation rules.

[2016-06-29 19:01] everton-rosario commented on #197
@aldnin Thanks for using Instant Articles.
Do you have more info regarding this problem? Like steps to reproduce, screen shots etc?

Feel free to reopen or send another issue with the more detailed.

[2016-06-29 19:01] #197 closed

[2016-06-29 19:04] everton-rosario commented on #199
@gabu69 Thanks for using Instant Articles.

We don't block any code within the <iframe> tag.
Can you reopen this issue with a more detailed and step-by-step explanation on how we can reproduce this error, please?

Thanks

[2016-06-29 19:04] #199 closed

[2016-06-29 19:07] everton-rosario commented on #200
@gabu69 Thanks for sharing this other issue.

The WordPress plugin still doesn't work well with Bulk/batch operations. We will have this soon.

Until there you can use API integration, that works better than RSS and provides you more control, so you could update all your articles, by calling the API for updating the modify date of the articles you need to.

[2016-06-29 19:09] everton-rosario commented on #201
@jashsayani thanks for using Instant Articles.
In the Instant Articles you cannot use the strategy of "more" button to show the rest of your article. The article must open all the content by upfront.

[2016-06-29 19:09] #201 closed

[2016-06-29 19:11] everton-rosario commented on #202
@crictracker Are you still experiencing this server load increase?

Feel free to reopen this issue if it happens.

[2016-06-29 19:11] #202 closed

[2016-06-29 19:41] everton-rosario commented on #187
@GraemeFulton thanks for your support.
@laurentho feel free to reopen if it still happens to you.

[2016-06-29 19:41] #187 closed

[2016-06-29 19:43] everton-rosario commented on #188
@bryan-rojas-liquor Thanks for using Instant Articles.
In this case, there is a case about the filtering: https://github.com/Automattic/facebook-instant-articles-wp/issues/186

[2016-06-29 19:49] everton-rosario commented on #189
@overpress Thanks for using Instant Articles.

You can try to implement a custom rule for the Slideshow component in the markup of Instant Articles:
https://developers.facebook.com/docs/instant-articles/reference/slideshow

We are trying to get all the rules setup to cover most of common used plugins.

[2016-06-29 19:51] everton-rosario commented on #203
@moston Thanks for using Instant Articles.

Do you have a HTML snipped on how these 2 images in row are disposed?
This way we can help you to configure the transformation rule in this case.

Please reopen when you have the details, so we can help you better.

Sorry for the long wait to reply.

[2016-06-29 19:51] #203 closed

[2016-06-29 19:53] everton-rosario commented on #204
@avishayil Thanks for using Instant Articles.

The link you provided is the feed already transformed. Do you have the HTML markup where your Images are being "dropped"?

Please reopen this issue when you have the more detailed case.

[2016-06-29 19:53] #204 closed

[2016-06-29 19:55] everton-rosario commented on #205
@Singletrackmark Is this still an issue for you?
Ill close this issue for now, if needed, please reopen this issue or file another one.

Thanks for using Instant Articles.

[2016-06-29 20:08] everton-rosario commented on #211
@cycda120 Is this shortcode from a custom plugin?
Which one?

[2016-06-29 20:09] everton-rosario commented on #212
@mrZherart Is this still a problem with the latest SDK version?

Please double check and feel free to reopen this issue or file another ones.

[2016-06-29 20:09] #212 closed

[2016-06-29 20:12] everton-rosario commented on #214
@massayoshi As we can see here, this example article looks fine in Instant Article.
Is this still a problem for you?

Please feel free to reopen this issue or open a new one.

[2016-06-29 20:12] #214 closed

[2016-06-29 20:16] everton-rosario commented on #221
@alexdelgado Is this still happening to you?

op-social have been deprecated, so the only one that will work will be the op-interactive.

Can you double check with the latest version of the SDK?
Please feel free to reopen this issue, or open a new one.

[2016-06-29 20:16] #221 closed

[2016-06-29 20:16] overpress commented on #189
Hi, how can we do to insert the custom rule for markup?

[2016-06-29 20:19] everton-rosario commented on #216
@mycodingtricks Thanks for use Instant Articles.
@FewKinG, thats exactly how it should be done, thanks.

Im closing this issue, feel free to reopen if anything needed.

[2016-06-29 20:19] #216 closed

[2016-06-29 20:20] overpress commented on #281
Hi @diegoquinteiro,

here's what we wrote:

 It wasn't possible to submit your article

The server responded with the following messages:

Could Not Download Image: Your image from URL http://overpress.it/wp-content/uploads/2016/06/AXON-7-3.jpg could not be downloaded with an error code 403. Please check to make sure image at http://overpress.it/wp-content/uploads/2016/06/AXON-7-3.jpg is active an

[2016-06-29 20:22] everton-rosario commented on #220
@lubimow Do you have more details about the issue you are facing?

For custom players, you should use the op-interactive tag:
https://developers.facebook.com/docs/instant-articles/reference/embeds

Im closing this issue. Feel free to reopen, if needed.

[2016-06-29 20:22] #220 closed

[2016-06-29 20:23] rawzefr commented on #340
what if wordpress wraps it for some reason in a div tag instead of a figure tag? I tried to apply that rule #36 with my selectors but still nothing happening.

[2016-06-29 20:32] everton-rosario commented on #244
@Jake-Grafenstein @EthanGould can you guys try this again with the newest version of SDK and Plugin?

This should be fixed.

Please, reopen this issue if it still happens to you. Also provide a little more details about the issue.

[2016-06-29 20:32] #244 closed

[2016-06-29 20:34] everton-rosario commented on #242
@withlovee we dont support in-line images, like emoticons, on Instant Articles yet.

Thanks for raising this case.
We will check if this will be available soon.

Keep posted.

[2016-06-29 20:35] EthanGould commented on #244
Was able to get it working, had something todo with missing dependencies I think. Thanks!

[2016-06-29 20:40] everton-rosario commented on #243
@cusatxpress Do you still have this issue?

Ill close it, feel free to add more details so we can help you solve this.

Thanks for using Instant Articles.

[2016-06-29 20:40] #243 closed

[2016-06-29 21:06] lubimow commented on #220
@everton-rosario I have seen instructions. The question is how to do it automatically?
to each news it will automatically appear.

[2016-06-29 21:11] everton-rosario commented on #230
The domain.tld is returning 404 for me as well.

You can use the strategy of localtest.me: https://wordpress.org/support/topic/how-to-copy-wordpress-site-to-local-test-server

Then you have to add wp.localtest.me to your facebook redirect link.

Feel free to reopen this issue if needed.

[2016-06-29 21:11] #230 closed

[2016-06-29 21:18] everton-rosario commented on #229
@nextpulse We are working on the bulk update. @diegoquinteiro Is the one that will work on this soon.

Keep posted.

[2016-06-29 21:21] everton-rosario commented on #227
@yofisim I didn't get the issue.
Can you share few steps/screenshots so we can get better contextualized?

Thanks for using Instant Articles.

I'll close the issue for now, please reopen when you get more detailed info.

[2016-06-29 21:21] #227 closed

[2016-06-29 21:21] schneidan commented on #164
Any chance of converting them to other elements instead of just omitting them?

[2016-06-29 21:22] everton-rosario commented on #226
I hope you can Install the latest version of plugin + SDK and double check if you still reproduce the error.

We feel sorry for the inconvenience.

[2016-06-29 21:22] #226 closed

[2016-06-29 21:24] everton-rosario commented on #223
@octium8 Is this still a problem for you?

Please reopen the issue if needed.

[2016-06-29 21:24] #223 closed

[2016-06-29 21:25] everton-rosario commented on #222
@kellemar The only way is to create a custom Rule and add it to your rules.json.

We are implementing the most common plugins rules so you have it converted.

[2016-06-29 23:07] samichamoun commented on #196
Hi there thanks for the reply. Since opening this ticket I've progressed a bit, but something still not quite right.

Here's my video code:
`
<script src="//www.springboardplatform.com/js/overlay"></script><iframe id="crzy005_1639701" src="//cms.springboardplatform.com/embed_iframe/5365/video/1639701/crzy005/craziestsportsfights.com/10" width="600" height="400" frameborder="0" scrolling="no"></ifr

[2016-06-30 02:54] withlovee commented on #242
@everton-rosario thanks!
I was thinking if we could override the emoticon settings, replacing converting string to <img> with converting string to empty string. Will that work? I might try it on my website.

[2016-06-30 09:46] stuartshields commented on #196
@samichamoun Interactive Rules don't use `interactive.width` you need to use `interactive.column-width` OR `no-margin`

[2016-06-30 20:28] Asif2BD commented on #168
@everton-rosario could you please re-open?

[2016-07-01 06:32] samichamoun commented on #196
I just tried

`			"interactive.width": {
				"type": "int",
				"selector": "iframe",
				"attribute": "column-width"
			},`

which doesnt seem to work. If I've misunderstood, any chance you could paste a code snippet to help clarify?

[2016-07-01 07:07] sushant0077 commented on #338
Can any one please help me ?

[2016-07-01 11:35] MartinN3 commented on #294
I cant provide subtitle content since i dont know post ID in that filter, could you help me with that ?

[2016-07-01 11:43] partcoffee commented on #294
@MartinN3 Could you provide some more details on that? Which solution are you trying to work with?

[2016-07-01 15:13] everton-rosario commented on #314
@jamestylerpatton Looks like the transformer is good.
Just be sure you change your SocialEmbedRule to InteractiveRule, since the Social is being deprecated.

Feel free to reopen this issue, or to open another one.

[2016-07-01 15:13] #314 closed

[2016-07-01 15:15] everton-rosario commented on #334
Instant Articles does not support link in images, since a tap in an image leads to a detailed view of that image (like big screen with panning using gyroscope).

We recommend that content linked use the standard <a href...> tags within your article text.

Thanks for using Instant Articles.

[2016-07-01 15:15] #334 closed

[2016-07-01 15:18] everton-rosario commented on #332
@lubimow Do you have any Log from your WordPress log file?

The @sebids solution works well. We will add a configuration setup within the Rules.json, in a new feature soon. Until there, @sebids solution can be a work around.

[2016-07-01 15:18] #332 closed

[2016-07-01 15:24] everton-rosario commented on #322
@fabiograsso This kind of plugin (Visual Composer) isn't supported by our Instant Articles plugin out of the box.

But you can change the hook, to transform the content after "visual composer" translates its short-code into HTML code, then you can hook the Transformer (from our PHP-SDK).

Have you tried this?

Im closing for now, let us know if this still reproduces. Fill in another task or reopen

[2016-07-01 15:24] #322 closed

[2016-07-01 15:28] everton-rosario commented on #298
@herbco Use the debugger I've mentioned so you can debug your code that runs into iframe (within Instant Article):
http://jsconsole.com/remote-debugging.html

Im closing this issue with no response for 7 days of @CarsonLee27.

@stuartshields can you post here the link for the issue you've opened to Monster Insights?

[2016-07-01 15:28] #298 closed

[2016-07-01 15:34] everton-rosario commented on #60
@kkranzo We are working on the compatibility of our plugin, to work on more EMBED codes.
Right now, what we recommend is:
Implement the solution for the embed short code you have using a hook, just like we did in the Plugin code for treating the embeds shortcodes you've mentioned (Facebook, Twitter etc.)

Relating to the current oficial solution, you should use op-interactive (https://developers.f

[2016-07-01 15:34] #60 closed

[2016-07-01 15:48] everton-rosario commented on #217
@sgatz and @webprom Please check that op-social is being deprecated.
Please use op-interactive, instead.
https://developers.facebook.com/docs/instant-articles/reference/embeds

Are you still seing this issue?

Feel free to reopen the issue.

[2016-07-01 15:48] #217 closed

[2016-07-01 15:51] everton-rosario commented on #242
Yes that would work.

Also you can replace the PNG img, by the emoji UTF-8 code (for the inline images that represent an emoticon).

I've checked if we will have any time soon the inline-images, and this wont be available anytime soon on Instant Articles.

I recommend you to use the emoji characters.

Feel free to reopen this, if still having a problem.

Thanks for using Instant Articles.

[2016-07-01 15:51] #242 closed

[2016-07-01 15:53] everton-rosario commented on #299
All unit tests on SDK are ok.

Thanks for flagging this.

[2016-07-01 15:53] #299 closed

[2016-07-01 16:38] lubimow commented on #332
@everton-rosario  a log to provide? what exactly?

[2016-07-01 17:29] dhakalsuresh opened #344 "UTF8 not working or different language not working"
1.Test in different language is not working, i just see text as "?????????????????"  format, which is completely not readable
-
  ![capture](https://cloud.githubusercontent.com/assets/8805646/16529182/940c3332-3feb-11e6-8f21-ed344d64386d.PNG)

*\* Version Info **
- Plugin version: 2.11
- WordPress version: 4.5.3
- PHP version: 5.5.35

[2016-07-01 17:45] everton-rosario commented on #241
Since it doesn't apply to this plugin, the transformer ignores the empty paragraph.

Closing.

[2016-07-01 17:45] #241 closed

[2016-07-01 18:13] everton-rosario commented on #247
The problem isn't with the `<div class="interactive">`, there is no way to make transformer to understand the code that should be transformed.
This container (without any formating) tag, works as an indicator so the transformer can process the amount of code inside the div as an op-interactive component tag.

[2016-07-01 18:13] #247 closed

[2016-07-01 18:16] everton-rosario commented on #303
@miguelfspinto Is the issue fixed?

Im closing this for now. Feel free to reopen or file a new issue.

[2016-07-01 18:16] #303 closed

[2016-07-02 03:54] krispy1298 commented on #269
Thoughts on re-opening this to work towards a more seamless solution?

[2016-07-03 23:04] samichamoun commented on #334
Interesting...

The below screenshot is taken from the "Daily Mail" instant articles. Curious to know what you think is happening here. I had originally thought their "app ad" was hardcoded, as you can clearly see that + a sponsored ad on screen close together.

This app ad seems to always be before the start of their article.

How would they be doing this?

![image1 5](https://cloud.githubusercon

[2016-07-05 21:17] mrgrain opened #345 "Replace log4php with Logger using namespaces (PSR-0 or PSR-4))"
This plugin uses a dependency for logging, which does not follow basic PHP standards such as using namespaces. Thus this plugin pollutes the root namespace with un-namespaces classes. This causes incompatibles with other WordPress plugins [1]

Since logging is not a core functionality of Instant Articles for WP, I would suggest to switch to a logging library that honours current PHP standards.

[1

[2016-07-06 12:23] pnoeric commented on #256
The patch on issue #258 (presumably scheduled for the next release) did the job for me. You can edit your rules-configuration.json file to manually apply this patch and it will add width/height to your embeds.  https://github.com/Automattic/facebook-instant-articles-wp/pull/258

[2016-07-06 13:18] #50 closed

[2016-07-06 13:19] #237 closed

[2016-07-06 13:53] philipjohn commented on #344
Could you provide some more information on the steps to reproduce this please?

Are you using any translation plugins?

Are you using a specific locale for your WordPress install?

Also, please provide the exact versions - "latest" will change, so we need the exact versions this occurs in at the time of reporting.

[2016-07-06 13:58] pnoeric opened #346 "Replace depreciated <op-social> tag with <op-interactive>"
The [FB documentation page for `<op-social>`](https://developers.facebook.com/docs/instant-articles/reference/social) states that it is completely depreciated and should not be used, looks like `<op-interactive>` is the tag for all embeds.

Version 2.11 of FB IA Wordpress Plugin

[2016-07-06 14:03] pnoeric opened #347 "Suggestion: add newlines to generated feed"
When debugging the RSS feed and looking directly at the feed to examine how the WP plugin has transformed my content into IA-friendly syntax, it would help enormously to insert a few newlines here and there.

For example, take a look at my feed: http://afv.com/feed/instant-articles

Since the plugin had to insert the code `<figure class="op-social">` into many of my posts, it would be great if it

[2016-07-06 18:55] jamestylerpatton opened #349 "Escaped HTML Characters in address section"
http://whattheflicka.com/feed/instant-articles

Some of the items in my feed have escaped characters in the address section. It looks like this only occurs when there is more than 1 html element between the article tags.

---

*\* Version Info **
- Plugin version: 2.11 – 3.0.1
- WordPress version: 4.5.2

[2016-07-06 19:35] jamestylerpatton opened #350 "Prepend Social Embed Element from Custom Field"
I have a custom field that takes the url from a youtube video embed code and places it before the content on my site. However, since these videos are added using custom fields, they aren't added to my instant articles feed, so I added this code to my functions.php file:

[code]

This adds the video to the end of the content, and I'm wondering if there's a way to add it **before** the content witho

[2016-07-07 04:01] dhakalsuresh commented on #344
I'm just using some front-end plugins,
SoundCloud Shortcode,
WP Subtitle,
Image Upload Widget,
Responsive Menu

I tried to remove all plugins but it's looks same . here is the link how it's looks in rss feed: http://nepalsandesh.com/feed/instant-articles

Wordpress Version : Version 4.5.3

[2016-07-07 12:11] overpress commented on #281
But in the feed of Instant Article we see all images. Here it is -> http://overpress.it/feed/instant-articles

[2016-07-08 19:05] #256 closed

[2016-07-08 19:05] #304 closed

[2016-07-08 19:10] everton-rosario commented on #27
@rinatkhaziev This is fixed now.
Width and Height are now parsed on transformer.

Use the master version of the WP plugin and SDK.

Or you can use v3.0+ of WP plugin and SDK 1.2.1+ of SDK

[2016-07-08 19:10] #27 closed

[2016-07-08 19:13] everton-rosario commented on #346
@pnoeric Thanks for your input.

This was deprecated on the SDK: https://github.com/facebook/facebook-instant-articles-sdk-php/pull/133

Certify you get the latest version of the SDK. Thanks.

[2016-07-08 19:13] #346 closed

[2016-07-10 06:07] markbattistella opened #351 "Keep getting "Invalid JSON provided for custom rules code""
**Steps required to reproduce the problem**

1. Added the following custom rule: `{ "rules": [ "class": "InteractiveRule", "selector" : "div.video-container", "properties" : { "interactive.iframe" : { "type" : "children", "selector" : "div.video-container" } } ] }`
2. Go to save the settings
3. Error mentioned above

---

I have the following markup:

`<div class="video-container"><div class="flui

[2016-07-10 09:19] adssen opened #352 "Error : The <figure> element has an unsupported class value in the class=op- tag"
Hi folks,

Why do I keep getting the following error message when clicking update button?

 It wasn't possible to submit your article

The server responded with the following messages:

Unsupported Class: The <figure> element has an unsupported class value in the class=op- tag. For more information on the class values supported in <figure> element you're using, refer to the Format Reference of the

[2016-07-10 13:01] samichamoun commented on #256
@pnoeric - I tried using that already and I still get the width error. As others have said, you cant reference "width".

[2016-07-11 19:22] overpress commented on #281
Anybody can help us?

[2016-07-12 06:10] pnoeric commented on #346
Hi @everton-rosario -- I'm just using the Facebook/Wordpress plugin, and I have the latest version, 2.11 (as [made available here](https://wordpress.org/plugins/fb-instant-articles/))?

So I guess this means an older (outdated) version of the SDK is baked into the current release?

[2016-07-13 04:53] eversionsystems opened #357 "Only One Production Article, Publishing Keep Overwriting The Existing One"
# Steps required to reproduce the problem

1. Publish a post in WordPress
2. Post appears in Facebook Production Articles
3. Publishing another post overwrites the existing Production Article in the list

# Expected Result
* A new production article should be generated.

# Actual Result
* Existing Production Article keep getting overwritten with the new one so that I only ever have one production

[2016-07-13 06:30] diegoquinteiro commented on #351
Hi!

Your JSON is actually invalid. This is what you needed:

[code]

You forgot to enclose the rule in `{...}` =)

[2016-07-13 06:30] #351 closed

[2016-07-13 08:13] overpress commented on #281
Even after you have updated the plugin to version 3.0 same problem.

The Transformed Markup, however, appears to be correct. Here it is:

`<html>
  <head>
    <link rel="canonical" href="http://overpress.it/2016/07/12/pokemon-go-fenomeno-videoludico/"/>
    <meta charset="utf-8"/>
    <meta property="op:generator" content="facebook-instant-articles-sdk-php"/>
    <meta property="op:generator:versi

[2016-07-13 12:17] abdusfauzi commented on #211
This issue still appear on latest version. Error:

`No rules defined for <div class="wp-caption alignnone"> in the context of InstantArticle`

[2016-07-13 13:09] everton-rosario commented on #352
Hey @adssen, do you have more info?
You can toggle the meta-box, and click on the "Toggle debug information" and post here the Source Markup and Transformed markup.

Reopen the issue when you have these infos, please.

[2016-07-13 13:09] #352 closed

[2016-07-13 13:11] everton-rosario commented on #346
We released the WordPress plugin v3.0.1 yesterday.
Can you update and check if this still reproduces?

Reopen the issue in case it still happens to you.

Thanks.

[2016-07-13 13:49] GOT1878 commented on #321
Appreciate a label of 'bug/needs investigation' was applied 20 days ago, but we've had two updates since and the problem persists.

Any chance any kind soul out there can assist?

[2016-07-13 14:53] everton-rosario commented on #357
@eversionsystems Do you have more info?

Double check if the post you are saving have a different canonical URL. This is the key index for any Instant Article.

If this wasn't your problem, please, reopen this, with the more detailed info.

[2016-07-13 15:04] everton-rosario commented on #211
Hey @abdusfauzi
please, can you share here more info about your transformation problem?

We need you to click in the link "**[Toggle debug information]**" in the "Instant Articles" meta-box and then copy and past the both editor's text: "**Source Markup**" and "**Transformed Markup**"

@abdusfauzi Please file another issue with your error and details, so we can help better. Your issue is not relat

[2016-07-13 15:04] #211 closed

[2016-07-13 15:09] everton-rosario commented on #321
@GOT1878 have you removed the <iframe> tags?

It is not needed, because the plugin will add it automatically.

If you need more assistance @GOT1878, please add few more info here.

We need you to click in the link "**[Toggle debug information]**" in the "Instant Articles" meta-box and then copy and past the both editor's text: "**Source Markup**" and "**Transformed Markup**"

Thanks for using Inst

[2016-07-13 15:13] everton-rosario commented on #281
Im investigating this, @overpress

[2016-07-13 15:14] overpress commented on #281
Thanks @everton-rosario

[2016-07-13 17:22] CarsonLee27 commented on #321
@GOT1878

May I know how can you register this post title with this line?
__gaTracker('send','pageview', {title: 'POST TITLE'});

I realise GA direct showing POST TITLE xD.

[2016-07-13 17:30] everton-rosario commented on #321
@GOT1878 you can remove the content in jason, so google analytics will grab it from the document title.

Try doing it like this:
`__gaTracker('send','pageview');`

[2016-07-13 17:52] everton-rosario commented on #281
@overpress Do you have any access log from your web server that serves this image `http://overpress.it/wp-content/uploads/2016/07/sddefault.jpg`?

Our scrapper is receiving a 403 response while trying to fetch from your web server.

Context:
Every new Instant Article posted, we pre-fetch all resources, so it is stored into Facebook CDN.
Check if your image server logs, returns a 403 response code

[2016-07-13 18:07] everton-rosario commented on #281
@overpress Im getting success on this, now.
Can you double check please?

[2016-07-13 18:09] #281 closed

[2016-07-13 18:55] overpress commented on #281
Nope :( This article don't show the image on instant article -> http://overpress.it/2016/07/12/pokemon-go-fenomeno-videoludico/

[2016-07-13 19:00] overpress commented on #281
@everton-rosario understand the problem: the CloudFlare CDN. How can I bypass the problem without being forced to disable cloudflare?

[2016-07-13 19:05] everton-rosario commented on #281
@overpress Considering that this will be served from Facebook CDN, you don't need to use a CDN for the Instant Articles HTML markup. You can just point to the webserver that is working now.
Considering this you could only serve images from this CloudFlare CDN to your web version.

Within the Instant Articles you need to be sure every content is accessible by our scrappers.

[2016-07-13 19:07] overpress commented on #281
How do I do this? Us the CDN we on all the site, and as a result it ends up also on Instant Article.

[2016-07-13 19:10] everton-rosario commented on #281
The case you've reported, is now working flawlessly on Instant Articles.
[code]

[2016-07-13 19:10] everton-rosario commented on #281
Do you have any other case failing?
This is the only way we can dig more, to find out what is going on with your CDN.

[2016-07-13 19:11] overpress commented on #281
Yes, now I've disabled for three hours CloduFlare:) However, I would like to reactivate CloudFlare in the coming hours.

[2016-07-13 19:16] everton-rosario commented on #281
Please, be sure you have your CDN configured properly so we have access thru our scrapper.
Do you have any support from them? Try reaching them out.

[2016-07-13 19:25] overpress commented on #281
I think I've solved by blocking the services of CloudFlare on feed/instant-article.

View your kindness in giving us support I wanted to ask another thing: some of our post we have a photo gallery. Find it here --> http://overpress.it/2016/04/15/ikea-bicicletta/

how can we integrate it in instant article showing a carousel pictures? That "Transformation rules" should I enter?

[2016-07-13 19:32] overpress commented on #281
See this image ->
![schermata 2016-07-13 alle 21 31 15](https://cloud.githubusercontent.com/assets/17315030/16817050/31770a76-4941-11e6-8727-ddedbfb19f8d.jpg)

[2016-07-13 19:51] CarsonLee27 commented on #321
@everton-rosario I have tried the default (without the title: 'POST TITLE'). Unfortunately, the GA show not set for the title.

[2016-07-13 21:12] everton-rosario commented on #281
@overpress You will have to add this rules right after the PassThroughRule with the "body".
[code]

And this other 2, you can add by the end of your rules file.
[code]

[2016-07-13 21:13] everton-rosario commented on #281
Your contributions makes Facebook Instant Articles great!
Please join our group @ Facebook: https://web.facebook.com/groups/629655867187397/
There we have releases, announcements, events and all exchange between all Open Source tools regarding Instant Articles.

[2016-07-13 21:16] everton-rosario commented on #256
@samichamoun Can you open another issue, also consider sharing here more info about your transformation problem?

We need you to click in the link "**[Toggle debug information]**" in the "Instant Articles" meta-box and then copy and past the both editor's text: "**Source Markup**" and "**Transformed Markup**"

Also the warning messages you are dealing with.

[2016-07-13 21:21] krispy1298 opened #361 "Figcaption for Interactive / Embeds are getting stripped out"
From the [Docs](https://developers.facebook.com/docs/instant-articles/reference/embeds), check out the last example.

In my build, the source markup is...
[code]
...and the Transformed Markup is:
[code]

My custom tranformer Json includes:
[code]

# Expected Result

[code]

# Actual Result

[code]

---

** Version Info **

* Plugin version: 3.0.1
* WordPress version: 4.5.3
* PHP version: 5.6.2

[2016-07-13 21:30] everton-rosario commented on #361
Hi @krispy1298.

You will need to remove this:

[code]

and add another rule for the Caption
[code]

Im also working on a PR to clear this issue about the property `interactive.caption`, since its not used anymore.

Reopen the issue, if it doesn't work for you.

[2016-07-13 21:40] krispy1298 commented on #361
no luck. here is my full JSON just in case

[code]

[2016-07-13 21:41] everton-rosario commented on #361
Please, can you share here more info about your transformation problem?

We need you to click in the link "**[Toggle debug information]**" in the "Instant Articles" meta-box and then copy and past the both editor's text: "**Source Markup**" and "**Transformed Markup**"

[2016-07-13 21:43] krispy1298 commented on #361
The first 2 codes in my initial comment are from those views.

[2016-07-13 21:45] everton-rosario commented on #361
The transformer runs in levels, depth-first manner.
So the problem might not be in this small piece.

With the full view we can create a reproducible case, and figure it out.

[2016-07-13 21:47] krispy1298 commented on #361
This is a local copy, so please ignore the localhost URLs.

Source:

[code]

Transformed:
[code]

[2016-07-13 23:11] everton-rosario commented on #361
I've created this GIST: https://gist.github.com/everton-rosario/385bb210c30dd1574742608e975b34ad

It is an modification of the tests/InstantArticles/Transformer/Example/.

As you can see, I've changed a little bit the structure of your rules.

[code]

And I've added a PassThrough for the "div.pa-interactive":

[code]

[2016-07-13 23:11] #361 closed

[2016-07-13 23:26] samichamoun opened #363 "HTML Embeds Require Valid Width / Height - Still outstanding"
@everton-rosario - fresh ticket as you requested.

The warning I receive is as follows:

Source markup as follows:

`<div class="embed"><iframe width="620" height="349" src="https://www.youtube.com/embed/s1tN0ggNreA?feature=oembed" frameborder="0" allowfullscreen></iframe></div>`

Transformed markup as follows:

`      <figure class="op-interactive">
        <iframe src="https://www.youtube.com/em

[2016-07-13 23:54] eversionsystems commented on #357
The canonical URL is distinct and matches the post's URL from my WordPress blog.  What additional information do you need?

[2016-07-14 03:23] thangdvx opened #364 "Update to Like, Comment, and Share Functionality"
"When people read articles on Facebook, they often want to react to, comment on, and share what they've read with their friends. To enable this behavior within Instant Articles, we are introducing support for Like, Comment, and Share buttons both at the bottom of an Instant Article and on media that appears within your articles (photos videos, slideshows, and GIFs).

Beginning July 14 on iOS and J

[2016-07-14 09:47] overpress commented on #281
Hi @everton-rosario, i plugged everything well but doesn't seem to work.

`{ "rules":
[
{
                "class": "PassThroughRule",
                "selector" : "a.slide-gallery-image-link"
            },
            {
                "class": "PassThroughRule",
                "selector" : "figure.td-slide-galery-figure"
            },
            {
                "class": "PassThroughRule",

[2016-07-14 10:46] eversionsystems commented on #357
I can't reopen this issue....

[2016-07-14 13:34] chaselivingston commented on #319
Duplicate #133

[2016-07-14 13:34] #319 closed

[2016-07-14 13:34] chaselivingston commented on #333
Duplicate #133

[2016-07-14 13:35] chaselivingston commented on #239
Duplicate #133

[2016-07-14 13:35] #239 closed

[2016-07-14 13:35] chaselivingston commented on #189
Related: #133

[2016-07-14 13:41] everton-rosario commented on #363
Hi @samichamoun, sorry about this. It was my fault to not include the new features/configuration to grab the width and height attributes from your original html markup.

To accomplish that, please, update your **rules-configuration.json** with this one:
https://raw.githubusercontent.com/Automattic/facebook-instant-articles-wp/master/rules-configuration.json

It includes in all **InteractiveRule**

[2016-07-14 13:41] #363 closed

[2016-07-14 14:01] everton-rosario commented on #133
@rickybanister @jaygidwitz @bfrye26 @chaselivingston Do any of you guys have the code?
I need more details, so we can implement transformation rules to this plugin.

Please, share here more info about your transformation problem?

We need you to click in the link "**[Toggle debug information]**" in the "Instant Articles" meta-box and then copy and past the both editor's text: "**Source Markup**" a

[2016-07-14 14:02] everton-rosario commented on #189
@overpress  @chaselivingston Do any of you guys have the code?
I need more details, so we can implement transformation rules for this plugin.

Please, share here more info about your transformation problem?

We need you to click in the link "**[Toggle debug information]**" in the "Instant Articles" meta-box and then copy and past the both editor's text: "**Source Markup**" and "**Transformed Marku

[2016-07-14 14:04] overpress commented on #189
Hi @everton-rosario, I've shot more details here ->  https://github.com/Automattic/facebook-instant-articles-wp/issues/281

[2016-07-14 14:10] everton-rosario commented on #189
@overpress Is that the full issue?
Did it work for you? If so we can internalize into the plugin so everybody that uses this plugin will get benefit as well.

[2016-07-14 14:46] jaygidwitz commented on #133
Thank you @everton-rosario. I'm attaching the source markup and transformed markup of a recent article. It has two jetpack galleries in it.

Please let me know if there is anything else I can do to assist.

The link to the live post, if you need it, is [here](http://www.surrealismtoday.com/balletx-summer-series-2016/).

[balletx-tiled-galleries-source-markup.txt](https://github.com/Automattic/face

[2016-07-14 14:55] lubimow commented on #133
I have a similar problem.
That's [news](https://inforesist.org/predstavlen-novyiy-ukrainskiy-broneavtomobil-bars-6/).
I wrote in more detail [here](https://github.com/Automattic/facebook-instant-articles-wp/issues/333).

[Source Markup.pdf](https://github.com/Automattic/facebook-instant-articles-wp/files/364061/Source.Markup.pdf)
[Transformed Markup.pdf](https://github.com/Automattic/facebook-inst

[2016-07-14 16:02] everton-rosario commented on #364
@thangdvx Do you need any support on this?

This is accessible thru your facebook page.

[2016-07-14 16:02] #364 closed

[2016-07-14 16:06] everton-rosario commented on #281
Well, those warnings are just because you are not treating the `<style>` tag and the other `<div>`.

The transformer will raise warnings to any tag that you didn't cover with your rules.
This is why we have the PassThroughRule and the IgnoreRule.

The **script** can be set to use the ignore:
[code]
and the **div** probably will be a PassThroughRule:
[code]

[2016-07-14 16:08] everton-rosario commented on #357
@eversionsystems  Can you share here the 2 canonical URL's that seem to have the same content?

[2016-07-14 16:13] overpress commented on #281
@everton-rosario ok, now gallery work but we have these alert:

<img width="963" alt="schermata 2016-07-14 alle 18 12 13" src="https://cloud.githubusercontent.com/assets/17315030/16846903/9bff50c6-49ee-11e6-93d2-189b78b65aca.png">

[2016-07-14 16:14] everton-rosario commented on #189
@overpress What do you mean by "did not work"?
On the GIST i've shared with you, it was transforming and adding the <figcaption> tag as expected.

Can you share the details of the problem you are having now?

[2016-07-14 16:14] #189 closed

[2016-07-14 17:55] everton-rosario commented on #281
`<br>` and '<style>` in the context of Slideshow can be safely ignored:
add this rule to your rules-configuration.json:

[code]

`<div class="td-doubleSlider-2">` This should be verified if this tag or any other tag inside it contains content that should be transformed. If not, also add an IgnoreRule for it:

[code]

[2016-07-14 19:28] overpress commented on #281
Thank you so much for all the help @everton-rosario . Now we no longer alerts. We send Facebook for approval. We know if we approve :)

[2016-07-14 21:50] Cistoran opened #365 "htmlParseEntityRef: no name in Entity"
Hey all,

This plugin started randomly throwing 3 warning messages whenever I re-publish something that's already been published before. Below is are the three warning messages.

[code]

[Here's a screenshot of the page being displayed.](http://imgur.com/5EXnEhu)

Here is the 624 line of code it seems to have issues with.

`$document->loadHTML( '<?xml encoding="' . $blog_charset . '" ?><h1>' . $ti

[2016-07-14 23:26] eversionsystems commented on #357
The issue is not with the urls, the issue is that I can only ever have one instant article at a time.  Publishing new articles just deletes the old one.  The canonical URL's are always unique.

[2016-07-15 05:32] samichamoun commented on #363
Hi @everton-rosario unfortunately I still dont think that resolves the issue. I've actually been going back and forth with people in a number of threads about this and never seem to get a final answer on it. I have my own custom transformer set up as follows:

`{ "rules":
	[{
		"class": "InteractiveRule",
		"selector": "//div[@class='interactive' and iframe]",
		"properties": {
			"interactive.hei

[2016-07-15 13:04] everton-rosario commented on #365
@Cistoran Try to enclose this loadHTML call like this:

[code]

Let me know if it works for you.

[2016-07-15 13:04] #365 closed

[2016-07-15 13:07] everton-rosario commented on #357
@eversionsystems With the URLs I can check into the system what is going on on your Instant Articles registration.
Also with the Instant Articles markup I can reproduce the error.

We dont have any kind of feature to have only 1 at a time. Never faced this overwriting Instant Articles bug. This is why I need more info.

[2016-07-15 13:07] #357 closed

[2016-07-15 13:29] everton-rosario commented on #363
Your source markup:

[code]

The appropriated rule to trasform should be like:

[code]

The transformed into Instant Article makrup is(note the existent **width** and **height** properties):
[code]

The test executing as expected lies into this PR of the SDK: https://github.com/facebook/facebook-instant-articles-sdk-php/pull/145

[2016-07-15 14:30] eversionsystems commented on #357
<link rel="canonical" href="https://beatthegrind.com/travel-blog/chachani-mountain-peru/"/>
<link rel="canonical" href="https://beatthegrind.com/travel-blog/santa-cruz-trek-peru/"/>

Two URL's that were produced when I updated articles on my blog.

[2016-07-15 15:18] everton-rosario commented on #357
@eversionsystems You have few problems with the configurations of your OpenGraph objects.

You'll have to:
(1) Fix your Open Graph tags (make sure each article has a single og:url pointing to the right page)
You will find this in the ojbect debugger:
`https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fbeatthegrind.com%2Ftravel-blog%2Fchachani-mountain-peru%2F`
`https://developers

[2016-07-15 21:45] everton-rosario commented on #133
@jaygidwitz Sorry for the long wait.

I've created this GIST for you with a full working test and transformer to your markup:
[Gist for jaygidwitz](https://gist.github.com/everton-rosario/fba8b1aeec57a61d298f312aa40a46c6)

Check on the file simple-rules.json that the last ones are the ones special configured for your markup.

[2016-07-15 22:02] everton-rosario commented on #133
@lubimow Im going back to the #333 thread. Because your transformer looks it is working perfectly.

I've created this GIST but looks ok since you were using the default gallery component from WordPress (which is already covered within the transformer rules):
[lubimow GIST](https://gist.github.com/everton-rosario/363ecc10918c935130f32c840ecb9d09)

[2016-07-15 22:02] #133 closed

[2016-07-15 22:16] everton-rosario commented on #333
A possible exit to your problem, is to add some attribute in the `<img>` tag that will tell the Transformer where the full qualified images are.

This will need you to change the structure of the gallery in WP

Something like:
[code]

Then, on your rules, you can grab the "original_url" attribute, instead of "src" by overriding the configuration of the rule:
[code]

Let me know if this works for y

[2016-07-15 22:16] #333 closed

[2016-07-15 23:20] lubimow commented on #333
@everton-rosario Tell me, where do I insert this code?
`{
        "class": "SlideshowImageRule",
        "selector" : "figure.gallery-item",
        "properties" : {
            "image.url" : {
                "type" : "string",
                "selector" : "img",
                "attribute": "original_url"
            }
        }
    }`

[2016-07-16 01:05] everton-rosario commented on #333
@lubimow

Follow this sequence to add this rule configuration:
1. Click on the InstantArticles menu Item (usually it stays in the left menu bar)
2. It will open the InstantArticles plugin settings page.
3. Scroll down to find the section called: "Publishing Settings"
4. Enable the checkbox "Enable custom transformer rules"
5. Enter the rules as below:
[code]

[2016-07-16 02:40] eversionsystems commented on #357
Ah you are a legend I have some custom code that was hard coded in my functions.php!!  Thanks very much for your help!

[2016-07-16 07:34] lubimow commented on #333
Did you say: https://www.dropbox.com/s/2kfp2qysz5f9hs6/%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D1%88%D0%BE%D1%82%202016-07-16%2010.34.06.png?dl=0

There are mistakes. Links to photos missing:
https://www.dropbox.com/s/xog4wohvccenlfk/%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D1%88%D0%BE%D1%82%202016-07-16%2010.33.38.png?dl=0

[2016-07-16 11:44] philipjohn opened #368 "Using separate front/back-end URLs"
Following on from #325 we should document the need for the Facebook app to use the backend URL in order to authenticate the plugin. Including;

* App can only have one app domain
* That app domain must be the backend URL
* If an app is used for frontend things, a separate app will be needed for the backend

[2016-07-16 21:01] idominikos opened #369 "Incorrect encoding of Greek characters"
# Steps required to reproduce the problem
1. Post an article with Greek title to facebook
   ![13694050_10207809061118427_1501000682_o](https://cloud.githubusercontent.com/assets/6448598/16897152/98ee262c-4bb1-11e6-92ae-fbad31c68005.png)
3.
# Expected Result
-
# Actual Result
-

---

*\* Version Info **
- Plugin version: 3.0.1
- WordPress version: 4.5.3
- PHP version: 5.4

[2016-07-18 01:12] everton-rosario commented on #333
@lubimow have you changed your HTML markup to have the field original_url?
To make this rule work, your HTML will need to have all images like this one:

`<img src="https://i2.wp.com/image.inforesist.org/uploads/ 2016/07/13690871_1780827238798654_7370197519545611216_n.jpg? resize=205%2C205&#038;ssl=1" original_url="https://i2.wp.com/image.inforesist.org/uploads/ 2016/07/13690871_1780827238798654_7

[2016-07-18 01:38] everton-rosario commented on #334
This kind of AD are placed automatically.

You can setup yours just like the documentation better explains here: https://developers.facebook.com/docs/instant-articles/ads

Some example you can add to your markup:
[code]

[2016-07-18 01:43] everton-rosario commented on #332
The logs that your web server holds.
Check which web server you are using (apache for example) and grab/check any log that are there, if this error still persists.

[2016-07-18 01:43] samichamoun commented on #334
Cool thanks, i will take a look at that.

Do you think the Daily Mail screenshot above would be in violation of FB terms? I wouldn't have thought two ads could be placed that close to each other (one house ad + one IA ad).

[2016-07-18 02:32] everton-rosario commented on #334
This is something not encouraged, indeed.

We are making this platform to be the best possible to every single person in Facebook. This way, anything that can be annoying or against the terms & conditions will have to be fixed.

[2016-07-18 06:43] lubimow commented on #333
@everton-rosario I did as you said. this does not work

[2016-07-18 10:43] samichamoun opened #370 "Depreciated tag error"
Will there be a patch for this soon?

[2016-07-18 10:49] everton-rosario commented on #333
Can you share the html the transformer is receiving?
There must be something wrong.

[2016-07-18 10:52] everton-rosario commented on #370
@samichamoun Yes. This is already on master of the SDK: https://github.com/facebook/facebook-instant-articles-sdk-php/pull/133

You can already use this one, by cloning the repo. Otherwise you will have it on next version planned to August 8th.

[2016-07-18 10:52] #370 closed

[2016-07-18 13:26] everton-rosario commented on #333
@lubimow I cant see the image URL in another field.
The only one on this markup is the `<img src="img_url_resized_to_205px"/>`

As I've mentioned before you will need to add a new field having the bigger resolution image, to be used within InstantArticles.

If you dont add a new field like this:
`<img src="img_url_resized_to_205px" original_url="img_url_original" />`
The rule won't work.

For the

[2016-07-18 13:37] lubimow commented on #333
I do not know what to do. I write the code that you sent to me, but I still Vigee link to the following:
    <img src="https://i0.wp.com/****/5976655_16b2846.jpg?resize=205%2C205&amp;ssl=1"/>

This code can be said that the register to allow for instant articles are not displayed small photos?
[code]

[2016-07-18 16:02] everton-rosario commented on #333
One other thing you can do is to remove anything after the question mark on your image:

From:
`<img src="https://i0.wp.com/****/5976655_16b2846.jpg?resize=205%2C205&amp;ssl=1"/>`
to:
`<img src="https://i0.wp.com/****/5976655_16b2846.jpg"/>`
before sending to InstantArticles.

To do that, simply use this Rule:
[https://gist.github.com/everton-rosario/d436e83a02d181a661653b99e997732b](https://gist.

[2016-07-18 16:13] lubimow commented on #333
sorry for the stupid question. where to download a file CustomSlideshowImageRule.php?

[2016-07-18 16:14] everton-rosario commented on #333
You save it under src/Facebook/InstantArticles/Transformer/Rules

[2016-07-18 16:16] lubimow commented on #333
This it is a plugin for wordpress?
or just on the site to create a new folder?

[2016-07-18 16:40] lubimow commented on #333
i save file  CustomSlideshowImageRule.php to
wp-content/plugins/fb-instant-articles/vendor/facebook/facebook-instant-articles-sdk-php/src/Facebook/InstantArticles/Transformer/Rules

nothing works (((

https://www.dropbox.com/s/cnu66b21kzfpvrd/%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D1%88%D0%BE%D1%82%202016-07-18%2019.40.33.png?dl=0

[2016-07-18 16:44] everton-rosario commented on #333
What is the output?

[2016-07-18 16:53] lubimow commented on #333
https://www.dropbox.com/s/18245igmntd6x22/output.xml?dl=0

[2016-07-18 17:13] everton-rosario commented on #333
This format I cant read.

I need you to click in the link "**[Toggle debug information]**" in the "Instant Articles" meta-box and then copy and past the both editor's text: "**Source Markup**" and "**Transformed Markup**"

Also show me the warning messages shown after the transformation process.

[2016-07-18 17:14] lubimow commented on #333
https://www.dropbox.com/s/czshgeg746kb6hu/output.txt?dl=0

[2016-07-18 23:24] samichamoun commented on #363
Just saw there is a fresh update (I was using 2.11) and it seems like my videos are now updating correctly! Thank you!

[2016-07-18 23:26] samichamoun commented on #370
FYI - update available now (3.01) appears to have resolved this also?

[2016-07-19 11:37] everton-rosario commented on #370
Always use the latest version.

[2016-07-20 07:00] tennyy opened #372 "qTranslate X with Facebook Instant Article"
Hi,

We are using qTranslate X for a multi-language wordpress site.

When I post the article and to using "Instant Articles for WP" auto publish to Facebook and I found the all language tags appear in the title.

![screenshot_20160720-144630](https://cloud.githubusercontent.com/assets/20552547/16977774/ae13f6f4-4e8a-11e6-9744-c64c5f03cd3e.jpg)

But the content only show single language seems norma

[2016-07-20 13:41] katsar0v commented on #234
Still no development on this issue... Problem persist

[2016-07-20 14:22] everton-rosario commented on #372
Hello @tennyy, thanks for using Instant Articles.
We still dont have support to qTranslate X plugin.
One workaround I've seen some people doing is to add a filter hook. Check this thread: https://github.com/Automattic/facebook-instant-articles-wp/issues/303

We will have this supported in the next 2 months.

[2016-07-20 14:27] everton-rosario commented on #279
@diplatis This is already fixed in version 3.0+ of WP Plugin + 1.3.0 SDK
Can you double check it?

[2016-07-20 14:27] #279 closed

[2016-07-20 17:55] everton-rosario commented on #234
@katsar0v We still have this on the backlog to be implemented. If you can help us with some PR we are here to help.

[2016-07-20 18:59] everton-rosario opened #373 "Have TestUnit running, on CI and well documented"
# Test environment

We need to have a working  workflow for tests:
1. All developers should have testing environment running easily (Kind of self building script is a good one).
2. To be running on Travis CI for every new PullRequest on the repo.
3. Add a step-by-step documentation on how to setup the testing environment.

[2016-07-21 10:10] jlapitan commented on #234
behavior of the Instagram embeds from WP to instant articles result to something like this. `<figure><img
src="http://instagr.am/p/ux0_RmB9W8/media/?size=l"/></figure>` but sometimes the figure element is not generated.

[2016-07-21 11:03] everton-rosario commented on #234
@jlapitan Do you have a repro-steps when you see it not being rendered?

[2016-07-21 11:50] jlapitan commented on #234
@everton-rosario i noticed it when testing posts with instagram embed and save as drafts, got no steps to determine why sometimes on published posts, it does not convert to img.

In relation to this bug, can we have something like this

[jetpack fb and yt fix](https://github.com/Automattic/facebook-instant-articles-wp/blob/master/compat/class-instant-articles-jetpack.php)

[instagram over-ride](ht

[2016-07-21 14:24] FlorianRachor commented on #323
I have the exact same problem. Did anybody find a solution for this? I setup the plugin on multiple pages now, this one is the first to show this error, the others worked.

[2016-07-21 23:07] benelang commented on #336
I also run into this problem. I doublechecked the permissions for the app in my facebook permission settings. I reinstalled the plugin which did not solve the problem.

[2016-07-22 14:47] everton-rosario commented on #336
@benelang @jo4nny8 @krispy1298 @chrisjpatty
Make sure you all are using the version 3.0.1 of the "Facebook Instant Articles WordPress plugin" and with the 1.3.0 of "Facebook Instant Articles PHP SDK".

Once you have all this updated:
- Make sure your app uses the same domain URL of your page
- Certify you've set your app to use this permission: https://developers.facebook.com/docs/facebook-login/p

[2016-07-22 14:49] everton-rosario commented on #323
@matalla @FlorianRachor Make sure the URL you have set into the Application matches your blog's URL and the Page.

[2016-07-22 15:44] everton-rosario commented on #234
@katsar0v add this new Rule to your `rules-configuration.json`:

[code]

[2016-07-22 15:44] #234 closed

[2016-07-22 15:45] everton-rosario commented on #234
@jlapitan There will be new configuration for jetpack and full coverage of it on the next release of this plugin.
Keep up to date on the Pull requests and this repo.

[2016-07-24 05:50] jlapitan commented on #234
@everton-rosario i tried the new rule, and it renders blank instagram post. will this be the default rule for IG on the next release?

[Screenshots](https://www.dropbox.com/sh/322m91gdx8kane5/AABqQDHlqxFqn5gZFB1gx5i5a?dl=0)

[2016-07-24 10:51] jo4nny8 commented on #336
I managed to sort this a couple of weeks ago.

I 'dropped back' to an old version (2.1 wish i think) and simply uploaded it to my plugins folder overwriting the latest version.

Once i refreshed my page in the admin it worked and i was able to login to Facebook etc.

Once i had done that, i simply updated the plugin and its all been fine since.

[2016-07-25 01:10] jacobarriola commented on #350
@jamestylerpatton I ran into the same issue with wanting to put in a YouTube embed for video post formats. The embed came from a custom field.

What I used was the `instant_articles_content` filter, which then allowed me to prepend my YouTube video before the content.

[code]

Hope that helps!

[2016-07-25 13:34] everton-rosario commented on #234
@jlapitan yeah, we also figured out this issue.
We had to work further on this issue to include sibling elements (There was a missing <source> element with javascript code that wasn't being processed.)

Can you try it now, please? We have those checked in.
Make sure you are on the SDK and WP plugin branch: instagram-embed

[2016-07-25 13:35] everton-rosario commented on #336
Thanks for the feedback @jo4nny8

[2016-07-25 13:40] everton-rosario commented on #350
@jacobarriola Thanks for the support here.

Feel free to join our FB group:  https://web.facebook.com/groups/629655867187397/
There we have releases, announcements, events and all exchange between all Open Source tools regarding Instant Articles.

[2016-07-25 13:40] #350 closed

[2016-07-25 13:41] kodbilenadam opened #377 "Gallery Problem"
# Steps required to reproduce the problem

1. Add new post and add gallery.

# Expected Result

* Galleries shown in instant articles

# Actual Result

* No gallery shown in instant articles

---

Example:
http://www.doctorwho.web.tr/yeni-doctor-who-boyama-kitabi.html

http://www.doctorwho.web.tr/yeni-doctor-who-boyama-kitabi.html/instant-articles

** Version Info **

* Plugin version:   3.0.1
* W

[2016-07-25 13:43] idominikos commented on #369
searching it a little more found out that the default feed is ok, the feed created for instant article has the problem (attached screenshots)
![screenshot-techingreek com 2016-07-25 16-40-33](https://cloud.githubusercontent.com/assets/6448598/17103391/c1472aca-5286-11e6-8f29-bf27f010eb9f.png)
![screenshot-techingreek com 2016-07-25 16-39-42](https://cloud.githubusercontent.com/assets/6448598/17103

[2016-07-25 13:44] everton-rosario commented on #377
@kodbilenadam
Please, can you share here more info about your transformation problem?

We need you to click in the link "**[Toggle debug information]**" in the "Instant Articles" meta-box and then copy and past the both editor's text: "**Source Markup**" and "**Transformed Markup**"

I'll reopen with that info.

[2016-07-25 13:47] everton-rosario commented on #369
Hey, @idominikos thanks for your report!

Do you have any thoughts where this is breaking?
Have you debugged? If you figure this out, don't hesitate in sending us the Pull request.

Have you tried to use the API instead of RSS feed?

[2016-07-25 13:54] kodbilenadam commented on #377
Source Markup:
`<p>Yetişkin boyama kitaplarının, beyin için en iyi ve rahatlatıcı aktivite olduğu bilimsel olarak kanıtlanmıştır. Buna rağmen fişler, vergiler, dosyalar veya diğer yetişkin işi şeyler resimli değil. Biz de neden sevdiğimiz TV programlarını renklendirmeyelim dedik. Artık BBC&#8217;nin resmi Doctor Who boyama kitabında renkli bir yolculuğa çıkma zamanı.</p>
<p>En sevdiğiniz Zaman Lor

[2016-07-25 13:56] benelang commented on #336
For me it works as we enabled curl_exec for php. Would be great if the plugin wouldnt require curl_exec due to security reasons

[2016-07-25 14:10] everton-rosario commented on #377
@kodbilenadam What is the gallery plugin/component you are using?

[2016-07-25 14:14] kodbilenadam commented on #377
@everton-rosario Only Carousel provided by Jetpack.

[2016-07-25 15:18] everton-rosario commented on #377
@kodbilenadam Check my PR: #378

[2016-07-25 15:18] #377 closed

[2016-07-25 15:36] kodbilenadam commented on #377
Thank you for responding. I have already these rules:
[code]

I am adding the rules you did on #378 but when I click save changes button it says "Invalid JSON provided for custom rules code" error appears. :(

[2016-07-25 16:03] everton-rosario commented on #377
Im wondering how your environment is set.
Have you copy/pasted the diff? How have you ingested the new configuration?

[2016-07-25 16:21] everton-rosario commented on #336
The curl_exec comes from the Facebook main SDK (https://github.com/facebook/facebook-php-sdk-v4)
We still have nothing to do to avoid this and still no plans to have this kind of feature implemented.

If you override these functions, maybe you can have this fixed. If you find something to work around, send us the PR.

Thanks for flagging this @benelang

[2016-07-25 18:16] jamestylerpatton commented on #350
@jacobarriola Thanks, but that didn't actually work for me.

I used this code:
[code]
and updated one of my posts but nothing changed.

Does this work with version 3.0.1 of the plugin?

Thanks for helping!

[2016-07-26 02:56] ChequePata opened #380 "Galleries with no rules defined"
# Steps required to reproduce the problem

1. Place a gallery inside a post
2. Publish the post

# Expected Result

* This post was transformed into an Instant Aticle with no warnings

# Actual Result

No rules defined for style in the context of InstantArticle
No rules defined for div class="td-slide-on-2-columns" in the context of InstantArticle

---

** Version Info **

* Plugin version:  3.0.1

[2016-07-26 03:30] adavize4u opened #381 "Image in post not displaying"
# Steps required to reproduce the problem

1.
2.
3.

# Expected Result

*Pulling image from the article and publish in instant article.

# Actual Result

* I'm getting an instant article without image even though i input image in the article.
Though, image will pick up only when input in feature attachment

---

** Version Info **

* Plugin version: 3.0.1
* WordPress version:  wordpress 4.5.3
* PH

[2016-07-26 08:19] chrisadas opened #382 "Updating already published posts result in error"
# Steps required to reproduce the problem

1. Publish a post, and checked that article was submitted to Instant Articles successfully
2. Make changes
3. Click Update

# Expected Result

Post updated on WordPress site, and Instant Articles updated on Facebook

# Actual Result

The following error message, as well as the changes not being saved.

---

** Version Info **

* Plugin version: 3.0.1
* Wo

[2016-07-26 13:08] everton-rosario commented on #380
@ChequePata You can use this as your custom rules:

[code]

Follow this sequence to add this rule configuration:
1. Click on the InstantArticles menu Item (usually it stays in the left menu bar)
2. It will open the InstantArticles plugin settings page.
3. Scroll down to find the section called: "Publishing Settings"
4. Enable the checkbox "Enable custom transformer rules"
5. Enter the rules within

[2016-07-26 13:08] #380 closed

[2016-07-26 13:10] everton-rosario commented on #381
@adavize4u Are you using some plugin to get your image in?

Please, can you share here more info about your transformation problem?

We need you to click in the link "**[Toggle debug information]**" in the "Instant Articles" meta-box and then copy and past the both editor's text: "**Source Markup**" and "**Transformed Markup**"

Will reopen after further info.

[2016-07-26 13:21] everton-rosario commented on #234
@jlapitan For your environment setup:

Clone both repositories into your developer folder (ex: ~/instant-articles).

[code]

Build both source folders:
[code]

Now remove the build from your WordPress, so it will include the code you've just built.
[code]

and now you can create a link inside your /wp-content/plugins to your folder
[code]

[2016-07-26 13:45] everton-rosario commented on #382
@chrisadas please check if this will fix your issue:

[code]

On the file class-insntant-articles-post.php (line 624)

[2016-07-26 15:06] adavize4u commented on #381
Yes, i use custom plugin to display image in my article without imputing it via featured image but in inside the article.

**Source markup**

<div id="attachment_23208" style="width: 610px" class="wp-caption aligncenter"><img class="size-large wp-image-23208" src="http://i1.wp.com/www.greenbreporters.com/home/wp-content/uploads/2016/07/Buhari-and-Iranian-foriegn-minister-600x400.jpg?fit=600%2C400"

[2016-07-26 15:17] adavize4u commented on #381
`**Source markup**

<div id="attachment_23208" style="width: 610px" class="wp-caption aligncenter"><img class="size-large wp-image-23208" src="http://i1.wp.com/www.greenbreporters.com/home/wp-content/uploads/2016/07/Buhari-and-Iranian-foriegn-minister-600x400.jpg?fit=600%2C400" alt="President Buhari with Foreign Minister of the Islamic Republic of Iran H.E. Dr. Mohammad Javad Zarif and H.E. Mr. Mo

[2016-07-26 15:34] jacobarriola commented on #350
Hey @jamestylerpatton,

Sorry, the `$iframe_string = 'youtube ';` was just a placeholder for you to fetch your custom field. I was assuming you already know how to grab the field.  Looking at your code, looks like your grabbing the url via the `get_post_meta()` function. Does that make sense?

[2016-07-26 17:12] chrisadas commented on #382
Yes, that fixed it for me. Thanks, Everton!

[2016-07-26 18:11] everton-rosario commented on #381
@adavize4u what is the plugin you are using?

[2016-07-26 18:32] adavize4u commented on #381
"Get the image"

[2016-07-26 18:37] jamestylerpatton commented on #350
@jacobarriola I thought I could use the string "youtube" as a test and it would be added in but it didn't.
But adding the iframe did work!

Thanks again

[2016-07-26 18:52] everton-rosario commented on #381
Is it this one: `https://wordpress.org/plugins/get-the-image/`?

[2016-07-26 18:55] everton-rosario commented on #382
@chrisadas Can you file a PR with this change?

[2016-07-26 18:55] jacobarriola commented on #350
Awesome! Glad it worked out. 🎉

[2016-07-26 19:35] adavize4u commented on #381
Yes sir

[2016-07-27 07:01] chrisadas commented on #382
Never done PR before, hope I did it correctly.

[2016-07-27 14:08] everton-rosario commented on #382
Its perfect!
Thanks for that!

Hope you can join our FB group:
https://web.facebook.com/groups/629655867187397/

[2016-07-27 14:08] #382 closed

[2016-07-28 07:46] FlorianRachor commented on #323
Well thanks for just closing this without further comment. Unfortunately your solution doesn't work, since I already did that. As I mentioned, I set this up several times, and the settings for this instance are exactly the same as for the others. So the URL settings in the APP are exactly the same as the site I'm using, and I still get the error.

[2016-07-28 07:55] jlapitan commented on #234
@everton-rosario i followed all the instructions above, and did make sure i am on instagram-embed branch, when i tried to edit posts, the FB instant articles metabox just keeps on loading and on debug i can see an error 500 from admin-ajax

[2016-07-28 13:01] mazilia opened #384 "Arabic articles appear as a question marks (??????)"
# Steps required to reproduce the problem
1.
2.
3.
# Expected Result
- Showing Arabic letters normally
# Actual Result
- Articles written in Arabic, appears in this form : ????? ????? ???????? ???? ?????? ???? ????

---

*\* Version Info **
- Plugin version: 3.0.1
- WordPress version: 4.5.3
- PHP version: PHP 5.4.45

[2016-07-28 14:00] mazilia commented on #384
![img_2025](https://cloud.githubusercontent.com/assets/20703586/17215192/fba3f3c0-54d3-11e6-967c-ba06672d8c96.PNG)

[2016-07-28 16:12] mazilia commented on #384
![img_2025](https://cloud.githubusercontent.com/assets/20703586/17220262/6cc3705a-54e6-11e6-8de5-851647ce3636.jpg)

[2016-07-28 16:41] everton-rosario commented on #384
@mazilia thanks for your report. we are still working on this i18n issues.
If you come up with some solution, please share with us.

[2016-07-29 19:02] everton-rosario commented on #381
@adavize4u This is now supported.

Can you test using the PR #385, please?

[2016-07-29 19:07] everton-rosario commented on #157
Closing, if still needed, please reach out.

[2016-07-29 19:07] #157 closed

[2016-07-29 19:19] everton-rosario commented on #234
@jlapitan, can you share here more info about your problem?

I need you to click in the link "**[Toggle debug information]**" in the "Instant Articles" meta-box and then copy and past the both editor's text: "**Source Markup**" and "**Transformed Markup**"

[2016-07-29 19:25] everton-rosario commented on #323
@FlorianRachor Can you share your URL/page so I can check the config issue related to your case?
Also verify that:
- your open graph meta-info content on the URL you claimed contais exactly the same info
- you created an Application and added an Web login endpoint
- The person who is logging in on Facebook and connecting the page, have the admin role for the page.

[2016-07-29 19:28] everton-rosario commented on #289
@djrules24 @stuartshields @nicolinuxfr On the master version that will be released soon we have the fix for this compatibility for the Jetpack plugin components.

Can you guys help to check it?

[2016-07-29 19:28] #289 closed

[2016-07-29 19:30] everton-rosario commented on #228
@diplatis is this still an issue?

Please, can you share here more info about your transformation problem?

We need you to click in the link "**[Toggle debug information]**" in the "Instant Articles" meta-box and then copy and past the both editor's text: "**Source Markup**" and "**Transformed Markup**"

Closing this, and reopen when you provide more info.

Thanks for using Instant Articles.

[2016-07-29 19:30] #228 closed

[2016-07-29 19:33] everton-rosario commented on #291
@Esther27 Is this still happening to you?

Please, can you share here more info about your transformation problem?

We need you to click in the link "**[Toggle debug information]**" in the "Instant Articles" meta-box and then copy and past the both editor's text: "**Source Markup**" and "**Transformed Markup**"

I'll close for now, and reopen with the complete info so I can help to fix that for yo

[2016-07-29 19:33] #291 closed

[2016-07-31 03:58] kevinlisota commented on #337
I'm seeing this as well. The plugin's filters should not alter oembed handling or filters for front-end display on WP, and it shouldn't be inserting content there either. Need to restrict this oembed handling to plugin-related API calls or feeds only.

[2016-07-31 12:37] jlapitan commented on #234
@everton-rosario i think the problem is the way i link the fb instant articles to wp-content, cause WP is trying to load the js files
from this url:
http://localhost/wp-content/plugins/home/facebook-instant-articles-wp/js/instant-articles-meta-box.js

[2016-08-01 13:59] everton-rosario commented on #337
@paulschreiber @kevinlisota Are you guys experiencing malfunctioning because of the filters?

We need this so the transformer can have any oembed content transformed int "op-interactive".

Do you guys have any fix for this?

Can you provide more info/debuggable content so we can reproduce the same issues you are facing? So we can try another solution for the oembeds.

Thanks for your inputs.
@paul

[2016-08-01 14:20] everton-rosario commented on #234
For local development/test, as localhost, we recommend you to use wp.localtest.me domain.
You need to:

1. Add to your "/etc/hosts" file
2. And tweak the configuration as any of [these instructions](https://codex.wordpress.org/Running_a_Development_Copy_of_WordPress)

[2016-08-01 15:19] kevinlisota commented on #337
Reproducing this is easy. Create an article with an oembed(i.e. YouTube video or something). Turn on the plugin and view the page source for that article on WP front-end. Now turn off the plugin and view the page source again. The oembed will be wrapped with `<div class="embed">`. Essentially your plugin is hooking in to the `embed_oembed_html` filter wherever it is used, not just where it is need

[2016-08-01 15:35] everton-rosario commented on #337
@kevinlisota Actually we need to wrap any oembed, so we will wrap them as:
<figure class="op-interactive">
    <iframe>
        ... // all content of the oembed
    </iframe>
</figure>

So youtube and any other oembed should work like this.

What we need to understand is what actually broke because of the wrapping <div>?

[2016-08-01 16:20] kevinlisota commented on #337
I get that you need to wrap any oembed to generate IA content and send to FB. But that needs to be done in a way that doesn't drop the wrapper into the HTML source for a regular web view.

We noticed it when the structure of the page changed, and CSS rules that we were applying to oembeds weren't working because they were looking for a more specific selector structure, which now had a new div and

[2016-08-01 16:32] kevinlisota opened #386 "Add support for Jetpack stats"
Since FB IA supports both javascript and HTML analytics trackers, we should be able to add in the Jetpack stats javascript for sites that use Jetpack stats.

It looks like the Jetpack stats script is built dynamically for every page so that it contains the post ID, so we'd have to use the Jetpack function to output an op-tracker element.

[2016-08-01 16:55] everton-rosario commented on #337
@kevinlisota Thanks for your input.

We do have a line on our plugin that kills the filtering of oembed, and that might be breaking the part of your wrapping. Regarding the CSS, do you apply any rules that need to be on the root?

Can you erase the line below on this [file](https://github.com/Automattic/facebook-instant-articles-wp/blob/master/embeds.php) and test, please?
`remove_all_filters( 'em

[2016-08-01 16:59] everton-rosario commented on #386
@kevinlisota thanks for your contribution raising this other case.

Please, can you share here more info about this transformation problem?

We need you to click in the link "**[Toggle debug information]**" in the "Instant Articles" meta-box and then copy and past the both editor's text: "**Source Markup**" and "**Transformed Markup**"

With this info we can set some custom transformation rules fo

[2016-08-01 17:30] kevinlisota commented on #386
Analytics tracker scripts are currently added manually in the IA settings dialog, so they don't interact with the transformed markup or meta box in an article. The Jetpack stats script is not part of the article content, so a transformation rule isn't going to help.

What I'm suggesting is that if Jetpack stats is active on a site, then include the Jetpack stats tracking script in the op-tracker b

[2016-08-01 18:07] kevinlisota commented on #386
Jetpack stats script is inserted in wp-footer, not the post content, like many other analytics scripts. wp-footer content is not part of the IA transformation scripts, which is why your plugin has an options box to enter these scripts manually. Those are inserted as op-tracker elements when your plugin generates an IA.

I'm requesting that the plugin grab the dynamically-generated Jetpack stats tr

[2016-08-01 22:05] adavize4u commented on #381
Sorry for replying lately.
Still having little problem:
1. Sometimes, text striped from the transform post, making our facebook update useless.
2. Image mostly appear when article published with new image, but old image picked from the site uploads, it sometimes not displaying image.

[2016-08-02 02:37] sakatam commented on #344
Hi @dhakalsuresh, I have been trying to reproduce this but with no luck. Could you provide detailed info about the database as well? Please run the following commands on mysql cli, and put the result here?

[code]

[code]

Thank you in advance for your help!

[2016-08-02 02:39] sakatam commented on #384
Hi @mazilia, I have been trying to reproduce this but with no luck. Could you provide detailed info about the database as well? Please run the following commands on mysql cli, and put the result here?

[code]

[code]

Thank you in advance for your help!

[2016-08-02 05:44] dhakalsuresh commented on #344
if i replace `render ` function in `feed-template.php` file with `get_the_content()` , it's fetch the real data.
`<![CDATA[<?php echo $instant_article_post->to_instant_article()->render(); ?>]]>`

Hello @sakatam, Here is what i saw with your query.
1.
`version	5.5.43-37.2-log
version_comment	Percona Server (GPL), Release rel30.2, Revision 38...
version_compile_machine	x86_64
version_compile_os	Lin

[2016-08-02 07:42] mikemacnn opened #388 "Images with captions are not displaying in the articles"
# Steps required to reproduce the problem

1. Publish an article with an image in caption

# Expected Result

Show image with caption

# Actual Result

Image with caption does not show

---

** Version Info **

* Plugin version: Version 3.0.1
* WordPress version: Version 4.5.3
* PHP version:

[2016-08-02 11:04] everton-rosario commented on #381
Same case as the other Issue. Please share with us the transformed and the pre-transformer markup, @adavize4u

[2016-08-02 11:07] everton-rosario commented on #388
Hello, @mikemacnn.
Do you have an Image within the caption segment of another image?

Please, can you share here more info about your transformation problem?

We need you to click in the link "**[Toggle debug information]**" in the "Instant Articles" meta-box and then copy and past the both editor's text: "**Source Markup**" and "**Transformed Markup**"

Closing until receiving more info, then I'l

[2016-08-02 11:07] #388 closed

[2016-08-02 11:41] mazilia commented on #384
SHOW VARIABLES LIKE "version%";
-----------------------------------------
version : 5.6.30
version_comment :  MySQL Community Server (GPL)
version_compile_machine :  x86_64
version_compile_os : Linux
-----------------------------------------
SHOW CREATE TABLE wp_posts;
-----------------------------------------
wp_posts :
CREATE TABLE `wp_posts` (
 `ID` bigint(20) unsigned NOT NULL AUTO_INCREMENT,

[2016-08-02 12:02] mazilia commented on #384
I think the problem is in this line =>

-------------------
class-instant-articles-post.php
line : 679
-----------------
// DOMDocument isn’t handling encodings too well, so let’s help it a little.
		if ( function_exists( 'mb_convert_encoding' ) ) {
			$content = mb_convert_encoding( $content, 'HTML-ENTITIES', get_option( 'blog_charset' ) );
		} else {
			**$content = htmlspecialchars_decode( utf8

[2016-08-03 01:08] fagnerssantos opened #390 "Cannot activate"
I have read all the activation issues here. But still not found how to solve. I have installed from wordpress repository. After the installation, this error message appears:

Parse error: syntax error, unexpected T_FUNCTION in /home/storage/b/cc/a0/ypropaganda1/public_html/novo_gremiolibertador/wp-content/plugins/fb-instant-articles/facebook-instant-articles.php on line 18

*\* Version Info **
- P

[2016-08-03 17:04] everton-rosario commented on #390
Hey @fagnerssantos, thanks for your reach out.

Is it possible for you to upgrade to a newer PHP version?
Our plugin and SDK were designed and developed in a way it only supports version 5.4 or superior.

Unfortunately we have no plans to be compliant with lower PHP versions than 5.4.

PS: your english is great!

[2016-08-03 17:28] douglas-johnson opened #391 "WPCOM Compat with plugins_loaded Action"
The function [instant_articles_load_compat](https://github.com/Automattic/facebook-instant-articles-wp/blob/master/facebook-instant-articles.php#L129) uses the action `plugins_loaded`

However on WordPress VIP, plugins are often loaded from the theme, especially if you want to use VIP's plugin versioning. That is how I have to load CoAuthors Plus, so the CAP compat layer is not working.

May I sug

[2016-08-04 07:02] sakatam commented on #384
@mazilia Thank you so much for your prompt reply, and pointing out the problematic part! I will take a deeper look into this line.

[2016-08-04 11:13] everton-rosario commented on #391
@douglas-johnson Thanks for bringing this scenario.
Can you send us a PR with this change and tests within VIP and on hosted WP?

Thanks for helping making this plugin better.

[2016-08-04 13:37] philipjohn commented on #373
I've set up Travis and made the necessary tweaks to `.travis.yml`.

It looks like the existing tests our outdated, so we should think about what we need to change/add.

[2016-08-04 13:39] everton-rosario commented on #373
@philipjohn Thanks.
Yep, probably we will need to refactor and restructure the existing tests and to create new ones.

[2016-08-04 22:03] gabrielmessager opened #393 "HTML5 video tag not showing in IA"
Hi,

First of all, thank you for this great plugin.

Second, I have a few videos using <video> tags in one of my post. There are not nested in `<div>` or `<p>` tags. For some reason, there are not showing up at all in IA. I can always add them manually but I would rather have the plugin do the work for me ;-).

Is there any transformer custom code I could use to make this work?

Thanks

** Version

[2016-08-05 12:11] everton-rosario commented on #393
Hey @gabrielmessager, thanks for reaching out and using this plugin.

Please, can you share here more info about your transformation problem?

We need you to click in the link "**[Toggle debug information]**" in the "Instant Articles" meta-box and then copy and past the both editor's text: "**Source Markup**" and "**Transformed Markup**"

With these details I can help you better.

I'll close for n

[2016-08-05 12:13] #372 closed

[2016-08-05 14:29] gabrielmessager commented on #393
Hi @everton-rosario, thank you for your quick reply.

Here is the info you requested:

**//SOURCE MARKUP**
<p>The 180 degree rule, which says that the camera should remain on one side of an interaction, is sort of Filmmaking 101, the basics.</p>
<p>More of a guideline, it names how we keep the viewer oriented to a scene so that cuts aren&#8217;t jarring or disorienting. That statement holds the cl

[2016-08-05 14:31] gabrielmessager commented on #393
//SOURCE MARKUP

`<p>The 180 degree rule, which says that the camera should remain on one side of an interaction, is sort of Filmmaking 101, the basics.</p>
<p>More of a guideline, it names how we keep the viewer oriented to a scene so that cuts aren&#8217;t jarring or disorienting. That statement holds the clue as to when the story suggests that the rule be violated.</p>
<p>I had the pleasure to

[2016-08-05 14:34] gabrielmessager commented on #393
Hi @everton-rosario, thank you for your quick reply.

Here is the info you requested:

**//SOURCE MARKUP**
[code]

**//TRANSFORMED MARKUP**

[code]

[2016-08-07 06:01] adavize4u commented on #381
# SORRY FOR REPLYING LATELY. HERE IS THE BOTH SOURCE AND TRANSFORMED MARKUP

**SOURCE MARKUP**

<p><img class="aligncenter size-full wp-image-21136" src="http://i2.wp.com/www.greenbreporters.com/home/wp-content/uploads/2016/05/Emma-Bello.jpg?fit=284%2C177" alt="Emma Bello" data-recalc-dims="1" />An amalgamation of youth groups in Taraba state under the auspices of PDP 100 percent loyalists have th

[2016-08-08 09:07] bbgdesigner commented on #276
I have same issue... but i think if come from feature image rule.

[2016-08-08 18:32] everton-rosario commented on #73
This won't be needed anymore, since the new flow will have it cleared via API and the new Wizard flow.

[2016-08-08 18:32] #73 closed

[2016-08-08 18:44] everton-rosario commented on #245
This will be fixed in the new release 3.1 within the new wizard flow that is on branch https://github.com/Automattic/facebook-instant-articles-wp/tree/new_flow

@matiasbenedetto @katsar0v

Sorry for the long wait for this to be solved.

[2016-08-08 18:44] #245 closed

[2016-08-08 18:51] everton-rosario commented on #315
This will be fixed on the next release: https://github.com/Automattic/facebook-instant-articles-wp/tree/new_flow

Sorry for the long wait.

[2016-08-08 18:51] #315 closed

[2016-08-08 18:56] everton-rosario commented on #312
This will be fixed on the new release that is being out next week: https://github.com/Automattic/facebook-instant-articles-wp/tree/new_flow

[2016-08-08 18:56] #312 closed

[2016-08-08 20:39] gabu69 commented on #134
Is there any news with this integration? I cant create the classes since I got now idea how to do it, im just an average publisher with no technical capabilities to do this :S

[2016-08-08 21:39] gabu69 opened #396 "Option to disable instant articles for certain categories"
Is there any way to add an option to disable instant articles for certain categories?

Can this feature be added? This would be a major help rather than proceding to disable them manually when published

[2016-08-09 04:25] CarsonLee27 opened #397 "HTTP Error 500"
# Steps required to reproduce the problem
1. Activate the plugin
2. Publish new article
3. Error found - HTTP 500
# Expected Result
- Article published.
# Actual Result
- HTTP 500, article didn't publish

---

*\* Version Info **
- Plugin version: 3.0.1
- WordPress version: 4.5.3
- PHP version: PHP 5.6.5

*\* Error code **

`PHP message: PHP Fatal error:  Uncaught exception 'ReflectionException' w

[2016-08-09 10:30] mikemacnn commented on #388
No rules defined for <div class="wp-caption alignnone"> in the context of InstantArticle
No rules defined for <div class="wp-caption alignnone"> in the context of InstantArticle

**source markup**

**transformed markup**

[2016-08-09 20:08] krispy1298 opened #398 "Cannot get `instant_articles_cover_media` filter to work."
Trying to get a video as the Header / Cover Media.

Inside Class:
[code]

[code]

No changes, no matter how drastic I make them, change the code in the "Transformed Markup" panel.

[2016-08-09 22:02] rinatkhaziev commented on #270
I agree it's pretty annoying, I have following helper for that:
[code]

[2016-08-09 22:07] rinatkhaziev commented on #337
`instant_articles_before_transform_post` seems appropriate for adding IA specific filters and
`instant_articles_after_transform_post` for cleanup

[2016-08-11 12:50] everton-rosario commented on #396
@gabu69 Sorry for the long wait.

What do you mean by disabling for some certain categories? The Instant Articles transformation is applied only to "POST".
The code is open, so you can adapt anyway you like.

The method called every time a post is update is this one:
`public static function submit_article( $post_id, $post )`

File:
`class-instant-articles-publisher.php:line~38`

If you think your

[2016-08-11 12:50] #396 closed

[2016-08-11 15:15] gabu69 commented on #396
Good day

Yea sorry for not explaining it properly.

Lets say I have 5 categories in my website:
1) Cars
2) Computers
3) General talk
4) Geeky stuff
5) Whatever 5

And I dont want to enable instant articles for articles that have a category 2 (computers) or 5 (whatever 5). Is there any way to add a function to disable instant articles for articles that are in certain category?

This would be quite

[2016-08-11 15:51] menzow commented on #393
Hello Gabriel,

Go to the settings page of this plugin and insert this custom rule:
`{
    "rules":
    [
        {
            "class": "VideoRule",
            "selector" : "p",
            "containsChild": "video",
            "properties" : {
                "video.url" : {
                    "type" : "string",
                    "selector" : "video",
                    "attribute": "src"

[2016-08-11 16:40] menzow commented on #398
Hello Krispy,

I just checked out the source for this project and see that in `class-instant-articles-post.php`  on line `663` the media for the header is initialised.

There's also a function in the same file called: `Instant_Articles_Post::get_cover_media` which is where the filter is applied, but this function is currently not implemented.

I completed the function, implemented it and created a

[2016-08-11 16:53] sakatam commented on #373
@philipjohn & @everton-rosario I made a quick change just to make the CI green by removing some fatal parts. Please give it a glance and accept if it looks ok.

[2016-08-11 18:17] peterlevin opened #404 "PHP error in Custom transformer rules textarea"
# Steps required to reproduce the problem

Seeing this error in the textarea when enabling Custom transformer rules:

Notice: Undefined index: double_encode in /var/app/current/wp-content/plugins/fb-instant-
articles/settings/class-instant-articles-option.php on line 386

---

** Version Info **

* Plugin version: 3.0.1
* WordPress version: 4.5.3
* PHP version: 5.6

[2016-08-11 18:30] rolandinsh opened #405 "Don't process if this post is password protected"
# Steps required to reproduce the problem

1.  Publish password protected post
2.  Check instant article feed on facebook

# Expected Result

* excluded password protected post

# Actual Result

* included password protected post

---

** Version Info **

* Plugin version: 3.0.1
* WordPress version:  4.5.3
* PHP version: 7.0.8

[2016-08-12 12:44] OtherF opened #407 "Standart Gallery missed in Instant Articles"
I have this block of gallery on my site: https://laowai.ru/prezervativnyj-biznes-v-kitae-uslada-dlya-dizajnerov-i-razdole-dlya-moshennikov/
[code]
Use this transform rules rules:
[code]
But it show nothing after transformation.

Here is the Source Markup:
[code]

Here is the Transformed Markup:
[code]

![transformrules](https://cloud.githubusercontent.com/assets/16293357/17622524/6f89ad68-608a-11e

[2016-08-12 16:51] OtherF commented on #407
I added this rules and slideshow works:
[code]

[2016-08-12 16:51] #407 closed

[2016-08-12 17:28] OtherF opened #408 "Transform Rule for SlideShow captions"
Here is the block of slideshow:
[code]
As you can see,
[code]
is responding for captions for every image.
My transform rules looks like:
[code]

But after transformation with the help of plugin I see only last caption for whole SlideShow.
I want to see captions for every image in the slide show.

How to reproduce it?

[2016-08-13 16:13] kevinlisota commented on #337
I believe this is a duplicate of #249

[2016-08-14 11:08] jlapitan commented on #234
Hi @everton-rosario i haven't setup properly my localhost yet, but i got a followup question, when using the jetpack shortcode for embedding instagram posts, it removes the siblings element(which is the script tag for embed),  will the updated code include the `platform.instagram.com/en_US/embeds.js`

[2016-08-15 14:21] everton-rosario commented on #373
@sakatam loved this!
LGTM

[2016-08-15 20:57] jlolive opened #410 "Unable to activate on WP due to fatal error"
I downloaded Zip file from Github, uploaded to WP, but when I try to activate the plugin I get this error message:

Warning: require(D:\Inetpub\tusker\Geografica\wp-content\plugins\facebook-instant-articles-wp-master/vendor/autoload.php): failed to open stream: No such file or directory in D:\Inetpub\tusker\Geografica\wp-content\plugins\facebook-instant-articles-wp-master\facebook-instant-articles

[2016-08-16 15:19] everton-rosario commented on #410
Make sure you run this command:
[code]

And have Composer installed on your environment to do so.

Here you have a step-by-step on how to set your environment up for development:
[Development Environment](https://github.com/Automattic/facebook-instant-articles-wp#development-environment)

Feel free to reopen or send more questions here.

[2016-08-16 15:19] #410 closed

[2016-08-16 19:01] jeremyclarke commented on #205
@everton-rosario Why did you close this ticket without adding that transformation to the defaults? Almost all WP sites use images with captions, it's inscrutible to me that this plugin wouldn't support captions and floated captions by default.

[2016-08-16 19:35] everton-rosario commented on #205
There was no response regarding this topic @jeremyclarke.

Please, can you share here more info about your transformation problem?

We need you to click in the link "**[Toggle debug information]**" in the "Instant Articles" meta-box and then copy and past the both editor's text: "**Source Markup**" and "**Transformed Markup**"

[2016-08-16 19:48] everton-rosario commented on #234
Im working on this issue in this very same moment, @jlapitan

The code is fresh out of oven here on this [PR](https://github.com/facebook/facebook-instant-articles-sdk-php/pull/155), if you can help test it, would be awesome.

[2016-08-16 20:13] jeremyclarke commented on #205
This report is about any image inserted with a caption, which is done on almost all WP sites. Do you get that? It's like supporting paragraphs.

 You can re-create the "problem" by creating a post, uploading an image, typing in a caption, then inserting it.

Here is my source markup:

`<div id="attachment_22553" style="width: 800px" class="wp-caption alignnone"><img class="wp-image-22553 size-larg

[2016-08-16 21:05] ssoertel opened #411 "Use Instant Articles on Pages"
Is there a way to add the Instant Article areas to my pages too? We have written articles on a bunch of pages that we would like to share.

---

** Version Info **

* Plugin version:
* WordPress version:
* PHP version:

[2016-08-17 02:21] diegoquinteiro commented on #368
This was fixed in #400

[2016-08-17 02:21] #368 closed

[2016-08-18 15:18] bjornjohansen commented on #411
Yes, there’s a filter, `instant_articles_post_types`, that you can use to select which post types that should be included. [It is documented here](https://github.com/Automattic/facebook-instant-articles-wp/blob/master/facebook-instant-articles.php#L187).

[2016-08-18 15:18] #411 closed

[2016-08-18 18:47] ssoertel commented on #411
I understand that, but how do I add it to actual pages in wordpress along with it being on posts?

Thanks,
-----------
Sam Oertel |  Web Designer

 Advertising®  |  WE BRAND. WE MARKET. WE ADVERTISE. WE SOCIALIZE.®

sam@blackdogadvertising.com <x-msg://32/john@blackdogadvertising.com> |  p 305.253.8388 |  f 305.253.8304

8771 SW 129th Terrace  Miami FL  33176

Check out my latest blog post by clic

[2016-08-19 20:34] everton-rosario commented on #386
@kevinlisota Sorry for the long time to get back to this issue. We were under water to get the next version of SDK and the WordPress plugin version 3.1.0 released.

Do you know what is the correct hook/filter that jetpack stats have the <script> tag ready?

Do you have some HTML code sample, so we can check if we can apply some transformation rule in a way we can select the correct `<script>` bloc

[2016-08-21 13:13] jlapitan commented on #234
@everton-rosario I have successfully setup my localhost, used the latest master branch,  but when i go to advance settings i have this issue. [screenshot](http://awesomescreenshot.com/0ab63in8ce)

And where can I find the transformer rules used in the instagram-embed branch?

[2016-08-22 12:41] YYAngel commented on #322
Hi guys,

I'm having the same issue.
I'm using Version 3.0.1 of the plugin, Wordpress 4.5.2 and Visual Composer v.4.12

Facebook disapproved my application because of the following reason:

It looks like one or more of your articles are incomplete. Your Instant Article shouldn't be a partial or preview version of the full article. Please make sure the articles in your feed contain all content foun

[2016-08-22 15:03] everton-rosario commented on #381
@adavize4u I noticed that all your content is inside same <p> tag.

Is it possible for you to change this structure?
Something like:
[code]

[2016-08-22 16:29] everton-rosario commented on #381
Using adsense is not allowed.
You will get reproved by review. You should use [Audience Network](https://web.facebook.com/business/news/audience-network?_rdr) or any inhouse solution that you might already have.

Here you have a working version of this transforming rules.

Add this to your rules.json:
[code]

And use latest version of [SDK](https://github.com/facebook/facebook-instant-articles-sdk

[2016-08-22 16:29] #381 closed

[2016-08-22 16:37] everton-rosario commented on #276
@diplatis and @bbgdesigner sorry for the long wait.

The image that is used as a featured image, is the one marked on the open graph web version that can be accessed from your canonical url of article.

In other words:
1. You have one web article on link: http://example.com/my_article_1
2. Facebook scraper will perform an get on your canonical URL of ingested article (http://example.com/my_article

[2016-08-22 16:37] #276 closed

[2016-08-22 16:41] everton-rosario commented on #134
@gabu69 and @levaUzk Hey, sorry for the long wait on this thread.

I'll take a look on this plugin integration.

Please, can you share here more info about your transformation problem?

We need you to click in the link "**[Toggle debug information]**" in the "Instant Articles" meta-box and then copy and past the both editor's text: "**Source Markup**" and "**Transformed Markup**"

[2016-08-22 17:32] ramseymohsen commented on #321
I'm having trouble with this issue to. Were you able to fix this? Here is the code I'm putting in:

`<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-ana

[2016-08-22 18:21] DJUK16 commented on #186
@markbarnes would that work for example i only want the NEWS category to become an instant articles and other category to just remain normal.

also if so where would i edit to add this code :D

[2016-08-22 18:54] markbarnes commented on #186
You should be able to do something similar for categories. Just create a new plugin with that code (although the sample code only works for the feed, you should be able to modify it). I don't have time to help you with the specifics though, I'm sorry.

[2016-08-22 19:06] DJUK16 commented on #186
way above my head but thank you for the time to replay sir have a wonderful night!

[2016-08-22 19:31] technosailor opened #415 "Post Type Support for Metaboxes"
# Steps required to reproduce the problem

1. Filter the post type support with the `instant_articles_post_types` filter
2. Metabox only appears on default post, and not post types designated
3. Example Code

[code]

[2016-08-23 13:08] juliobranha commented on #134
I wrote some code that will execute the shortcode and then transform the markup to the one required for IAs. Unfortunately, later on the plugin will strip the markup.
If anyone has a solution for that I leave u here the code u can add to functions.php in ex.
`/**
 * playbuzz_instant_articles regex for embeding playbuzz in FB instant articles
 * @param  string $content post content
 * @return strin

[2016-08-23 13:15] everton-rosario commented on #134
@juliobranha I like your approach of find/replace.
Because it doesn't use the transformer, it doesn't handle correctly the transformation warnings. I'll have a PR soon, hoping you can help me test as well.

[2016-08-23 13:17] juliobranha commented on #134
@everton-rosario Sure :) more than happy to do that, still looking and how to avoid the markup getting stripped after applying the filter

[2016-08-23 13:29] juliobranha commented on #134
taking a look to transformation rules now, didn't know much about :), maybe then only de do_shortcode part will be needed on the filter

[2016-08-23 16:06] juliobranha commented on #134
For now adding a couple of rules and the code above seem to work, but would look to implement a proper transformer rule and do it in the proper way :)
[code]

[2016-08-23 16:08] juliobranha commented on #134
BTW, I think ` do_shortcode( $content );` should be a part of the plugin core unless there is a reason against that

[2016-08-23 16:16] ivcreative commented on #397
I am having the same issue here

[Tue Aug 23 10:52:00.170220 2016] [:error] [pid 17821] [client 173.233.48.26:44790] PHP Fatal error:  Class 'DOMDocument' not found in /xxxx/xxxx/html/wp-content/plugins/fb-instant-articles/class-instant-articles-post.php on line 623, referer: http://xxxxxxxxxxxxxx.com/wp-admin/post.php?post=1274&action=edit

[2016-08-23 18:34] everton-rosario commented on #134
@juliobranha Check this PR #417

To test, make sure you are on latest version of SDK and the WP Plugin.
[Instructions on how to do this setup](https://github.com/Automattic/facebook-instant-articles-wp#development-environment).

Please join our group @ Facebook: https://web.facebook.com/groups/629655867187397/
There we have releases, announcements, events and all exchange between all Open Source t

[2016-08-23 18:35] everton-rosario commented on #134
Closing this. If you find any issue with this implementation, please reopen.

[2016-08-23 18:35] #134 closed

[2016-08-24 16:38] everton-rosario commented on #388
Hey @mikemacnn are you using jetpack?
This is on the Jetpack coverage that we released on [version 3.1](https://github.com/Automattic/facebook-instant-articles-wp/releases/tag/3.1)

Are you still seeing this problem after migrating to the new version?

[2016-08-24 16:39] everton-rosario commented on #270
@rinatkhaziev can you create a PR with that feature?

[2016-08-24 16:45] comunicacionesintegralessa opened #419 "footer"
# Steps required to reproduce the problem

1.
2.
3.

# Expected Result

*

# Actual Result

*

---

** Version Info **

* Plugin version:
* WordPress version:
* PHP version:

[2016-08-24 16:51] everton-rosario commented on #396
@gabu69 gotcha!

Unfortunately we don't have any kind of configuration like this and in the short term we are not looking forward to have a feature like this supported in this plugin.

The best place you could change is the one I've mentioned before on this very same thread.

[code]

Check how it would be like within the full method:
[code]

[2016-08-24 16:54] everton-rosario commented on #393
@gabrielmessager The suggestion @menzow gave should work.

Follow this sequence to add this rule configuration:
1. Click on the InstantArticles menu Item (usually it stays in the left menu bar)
2. It will open the InstantArticles plugin settings page.
3. Scroll down to find the section called: "Publishing Settings"
4. Enable the checkbox "Enable custom transformer rules"
5. Enter the rules within

[2016-08-24 16:54] #393 closed

[2016-08-24 17:02] everton-rosario commented on #398
This looks awesome to me @menzow .
I've already "accepted" the PR, but it must be merged by @philipjohn as we agreed on the release process of this plugin.

I'll mark this issue as closed, since your PR fixes it.

Your contributions makes Facebook Instant Articles great!
Please join our group @ Facebook: https://web.facebook.com/groups/629655867187397/
There we have releases, announcements, events

[2016-08-24 17:02] #398 closed

[2016-08-24 17:26] menzow commented on #386
@everton-rosario you can find all code related to injecting the statistics script here:
Plugin: https://wordpress.org/plugins/jetpack/stats/

File:
`wp-content/plugins/jetpack/modules/stats.php` hook on line 122

[2016-08-24 17:33] everton-rosario commented on #405
Nice case @rolandinsh.

I've checked your PR #406 which was nice, but missing to remove the Instant Article if it was already published.

Can you help test it?
The PR is #420

Closing the issue. If you find any issue, please reopen it.

Your contributions makes Facebook Instant Articles great!
Please join our group @ Facebook: https://web.facebook.com/groups/629655867187397/
There we have releases

[2016-08-24 17:33] #405 closed

[2016-08-24 20:12] DJUK16 commented on #138
Im having serious gallery issues! not converting not loading not been right!

[2016-08-25 05:25] mikemacnn commented on #388
Hi, we see not using jetpack. We see simply using the WordPress plugin.

On Aug 24, 2016 10:08 PM, "Everton Rosario" <notifications@github.com>
wrote:

[2016-08-25 09:06] cudaja commented on #261
We're waiting for this feature. Impressum / about information in the footer are legally required in Germany and this issue is a blocker for us.
cheers,

[2016-08-25 13:02] everton-rosario commented on #407
@OtherF Sorry for the long and not pingingback in time. But Im glad you could find your way with the configuration rules.

I invite you to join our group @ Facebook: https://web.facebook.com/groups/629655867187397/
There we have releases, announcements, events and all exchange between all Open Source tools regarding Instant Articles.

[2016-08-25 13:07] everton-rosario commented on #408
@OtherF Im checking here.
To double check, your point is that you have captions for every single image in your slideshow and also for the slideshow itself?

A pseudo structure would be like this, where it is missing the <image caption/> parts?
[code]

[2016-08-25 14:44] everton-rosario commented on #408
@OtherF
I've tested your markup with this rules and seem to be working.

Follow this sequence to add this rule configuration:
1. Click on the InstantArticles menu Item (usually it stays in the left menu bar)
2. It will open the InstantArticles plugin settings page.
3. Scroll down to find the section called: "Publishing Settings"
4. Enable the checkbox "Enable custom transformer rules"
5. Enter the

[2016-08-25 14:44] #408 closed

[2016-08-25 14:45] everton-rosario commented on #408
Reopen if you see this is not working properly

[2016-08-26 00:24] pedrofelipe opened #422 "No op-ad-template support"
# Steps required to reproduce the problem

I've found no way to use `op-ad-template`, since it's wrapping the whole `<section class="op-ad-template">`in a `<figure class="op-ad">` and `<iframe>` tag when I check on `/feed/instant-articles`.

This result in each ad slot being populated with all 4 ads I've put in a `op-ad-template`.

![screen shot 2016-08-25 at 21 25 13](https://cloud.githubusercont

[2016-08-26 01:14] apollosk commented on #261
This feature is a must. Please consider it for your next plugin update.
Kudos to the authors!

[2016-08-26 10:09] aidanashby commented on #390
I have this same problem running PHP 5.6, same error message on attempting activation.
Plugin version 3.0.1
WP version 4.6

[2016-08-26 13:45] everton-rosario commented on #205
Hey @jeremyclarke thanks for raising this issue you we're facing.
I've reproduced it here with your details and now It is out as a PR.

If you can't wait for it to be merged in next release, just add these lines to your custom transformation rules.

Follow this sequence to add this rule configuration:
1. Click on the InstantArticles menu Item (usually it stays in the left menu bar)
2. It will open

[2016-08-26 13:45] #205 closed

[2016-08-26 13:53] everton-rosario commented on #205
@philipjohn waiting your review and merge.

[2016-08-26 14:01] everton-rosario commented on #388
This was just fixed with the PR #205
Can you double check it, please?

[2016-08-26 16:14] apollosk commented on #96
@diegoquinteiro Where should I add the code you provided for custom IA footer? Which file in the plugin folder should I modify? Please let me know. Thank you in advance.

[2016-08-28 17:01] nitakoi opened #424 "missing captions"

[2016-08-28 17:03] nitakoi commented on #424
![untitled](https://cloud.githubusercontent.com/assets/21288976/18035232/ef1fecce-6d7b-11e6-8f13-7b3bee2f480a.jpg)

[2016-08-28 18:29] #424 closed

[2016-08-30 05:03] mikemacnn commented on #388
Plugin is updated.

Issue not fixed. Just published a new article and shared on facebook.
Cannot see the image which has caption in instant articles

On Fri, Aug 26, 2016 at 7:31 PM, Everton Rosario <notifications@github.com>
wrote:

[2016-08-30 10:37] #404 closed

[2016-08-30 12:17] #373 closed

[2016-08-30 20:19] everton-rosario commented on #234
@jlapitan Sorry for the long wait.

This are the rules you should use:
[code]

[2016-08-31 00:08] goldenapples opened #426 "Add a conditional or filter which can be checked to process content only for instant articles feed"
I've been trying to attach some filters to the_content on Instant Articles only. Currently I'm doing this by checking `is_feed( INSTANT_ARTICLES_SLUG )` in my filter function.

However, in order to do this, I've had to disable the Instant Articles Publisher submit_article function, as the condition isn't true then, and short of doing a debug backtrace, there isn't a straightforward way of knowing

[2016-08-31 04:35] kellemar opened #427 "Updated to 3.1.1 and having a Facebook Error"
# Steps required to reproduce the problem

1. Update to new version of Instant Articles 3.1.1
2. Reload the Wordpress Plugin Page
3. Can't re-authorize the plugin to FB since I'm stuck on the error.

# Expected Result

* Should display my list of plugins

# Actual Result

* Shows the Error: " Facebook\Exceptions\FacebookResponseException thrown
Error validating access token: The session has been i

[2016-08-31 14:00] everton-rosario commented on #427
@kellemar Thanks for flagging. We've seen this is related to https://github.com/facebook/facebook-instant-articles-sdk-php/issues/167.

Can you run `composer update && composer install` within your plugin directory?

This should download the version 1.5.0 of SDK, which is the correct one.

[2016-08-31 14:00] #427 closed

[2016-08-31 14:01] everton-rosario commented on #427
@philipjohn will release a new patch fix with this released version of SDK.

[2016-08-31 14:52] gabu69 opened #429 "All images are getting a <p><a href="www.example.jpg"></a></p> bracket since last update"
Since yesterday update to the plugin all images are getting a <p></p> bracket within them making them to not being displayed in facebook

Please fix this asap

Example

<p><a href="http://www.example.com/wp-content/uploads/2016/08/Toilet-Humor-2.jpg"></a></p>

The HTML element does not contain any text: Avoid including empty HTML elements

[2016-08-31 14:57] everton-rosario commented on #429
@gabu69 Thanks for flagging this.
We are working to have a patch fix for this.

If you can, please run `composer update && composer install` within your plugin directory folder.

Another option is to download the latest version from master, which has the latest fix.

we will wait for @philipjohn to release this fix.

[2016-08-31 15:32] gabu69 commented on #429
Ahhh thanks

How can I download the latest version from master?

[2016-08-31 15:37] everton-rosario commented on #429
To test, make sure you are on latest version of SDK and the WP Plugin.
[Instructions on how to do this setup](https://github.com/Automattic/facebook-instant-articles-wp#development-environment).

[2016-08-31 21:48] hatoolah opened #430 "Cannot Activate"
# Steps required to reproduce the problem
1. Download instant articles wp from plugins directory in WordPress (administrator)
2. Activate plugin
# Expected Result
1. Plugin activated
# Actual Result
1. Dialogue Box: "Plugin could not be activated because it triggered a fatal error." and "Parse error: syntax error, unexpected T_FUNCTION in /home/estuaryu/public_html/wp/wp-content/plugins/fb-instant

[2016-09-01 09:31] adeparker opened #431 "No rules defined for img class in context of Anchor"
Hi all,

I'm getting the below issue with my articles:

No rules defined for `<img class="alignnone size-full">` in the context of Anchor

HTML codes is below:

`<p><a href="file.jpeg"><img title="wp-1395505014234" class="alignnone size-full" alt="image" src="file.jpeg" /></a></p>`

Can anyone suggest a custom rule please which can overcome this?

Thanks in advance

Ade