[2017-11-16 01:08] webbasica commented on #817
Have you tried adding a Disable Cache Page Rule on Cloudflare?

[2017-11-16 01:10] webbasica commented on #763
I had the filter enabled and after this last update I started getting this error:
`Wrong recirculation ads placement id: Please check if you set placement_id correctly for recirculation ads.`

I disabled the filter on the functions.php file, we'll see of that fixes it.

[2017-11-16 02:08] diegoquinteiro commented on #812
Hi @absentio,

This is a bug in the AMP extension that makes it incompatible with 5.4. I've went ahead and created this PR fixing the issue on the dependency project: https://github.com/facebook/facebook-instant-articles-sdk-extensions-in-php/pull/31

Once we review and merge the code on the extension, we'll be able to release a new version of the plugin that can generate AMP on 5.4. Meanwhile, wo

[2017-11-16 08:43] absentio commented on #812
Thank you for replying me. I've just updated to PHP 5.6. AMP is working well now, excluding accents on vowels like ò , à etc and "".

Source markup: `<p>Domenica 19 novembre, alle 18, nel corso di una celebrazione eucaristica nella chiesa Madre di Adrano, avrà luogo il rito della  &#8220;presa di possesso&#8221;  del nuovo parroco, padre Salvatore Stimoli, dopo la nomina ottenuta lo scorso 23 sett

[2017-11-16 17:09] lubimow opened #818 "Plugin not sending markup since last update"
The plugin states that this article has been submitted as an instant article when it’s published. But it’s not. On Facebook publishing tools the last one to be sent was over 2 weeks ago. I tried to deactivate the plugin and re activate. I deleted it and re installed it. And so on. But nothing works.
I haven’t added new plugins or changed anything in months so I can’t figure it out.
Is this going t

[2017-11-17 09:07] timjacobi commented on #818
Unfortunately the underlying APIs have changed so this is the normal behavior now.

From the Readme

[2017-11-17 09:07] #818 closed

[2017-11-17 11:58] humgurung commented on #790
Hi @pestevez - It means though we embed Youtube video in our WordPress site FB Instant Articles do not add and display, right? What else could be the work around to display?

[2017-11-17 15:08] pestevez commented on #790
The part I am missing is how are you adding the YouTube video to your posts? Is it through a third party plugin? The Instant Articles plugin uses the source markup available, so if the YouTube video tags are not there, we will miss it. An option will be looking at other places beyond the source markup, that's why I want to understand your publishing flow.

[2017-11-17 16:31] Sukhwinder500 commented on #790
hi @pestevez  m using " Viduze Wordpress Theme "  and its default please check the images

1. how i copied a youtube video link
![git 1](https://user-images.githubusercontent.com/32815650/32957638-4fcc0fce-cbe2-11e7-962c-399640f9b9c9.jpg)

2. Paste 1st in Box for thumbnail for the post " using FEATURED VIDEO PLUS " Plugin.
![git 2](https://user-images.githubusercontent.com/32815650/32957698-81a81d

[2017-11-17 16:46] pestevez commented on #790
Thanks for the information, @Sukhwinder500. Our team will prioritize your feature request.

[2017-11-17 21:29] humgurung commented on #790
@pestevez - my case is little different than @Sukhwinder500 I simple copy the Youtube video link like above and paste it to post without any embed code as WordPress render the responsive video. Am I missing anything here?

[2017-11-17 23:06] pestevez commented on #790
@humgurung - please check #697, #556 and #761 to see if it is any of the existing issues. If not, can you please create a separate issue so we can better track it?

[2017-11-18 09:55] humgurung opened #819 "Youtube video missing in Instant Articles"
## Steps required to reproduce the problem

1. Embed Youtube video (copy paste URL e.g. 'https://www.youtube.com/watch?v=weyF4c_1g5k') to WordPress post editor without <iframe>
2. Publish WordPress post (with Youtube video)
3. WordPress post published in Instant Articles, but without Youtube video

## Expected Result

Same as in WordPress live sites (desktop/mobile)

## Actual Result

Everything i

[2017-11-19 17:21] Astraport opened #820 "How to use the plugin with several funpages and one site?"
There's only one field for entering the id of the page. But I have several fanpages that I want to connect to other categories of my site.
How to do this? TY

[2017-11-20 14:13] Astraport commented on #820
I will try to do this so, but I doubt that this method will work.

[2017-11-21 13:21] everton-rosario commented on #820
Also you will need to use the RSS feed as ingestion into each page. Since the default OG ingestion won't be good for you, since it was designed for a single domain <-> FB Page.

You will need to go into each page you use as instant article (that you have claimed the URLs) and set up the URL for RSS feed ingestion.
Generally (if you haven't changed it) the `/instant-articles` path is where the RSS

[2017-11-21 13:21] #820 closed

[2017-11-23 16:29] demetrox opened #821 "custom embed code"
## Steps required to reproduce the problem

1. go to ads section
2. choose custom embed code
3. setup <section class="op-ad-template"   and failed to run because there is an auto script
<figure class="op-ad">
<iframe width="300" height="250">

4. There is also an auto close </iframe> and </figure..please remove this because my script failed to run

## Expected Result

no auto script for opening
<f

[2017-11-23 17:53] Tilakbhattacharya commented on #381
Hello,

I am using Instant article plugin in my wordpress site, my articles are getting approved but it's not pulling up the image

**Source markup**
#<p>We truly need to acknowledge Mumbai police for the way they have superbly taken care of Varun Dhawan&#8217;s selfie case toward the beginning of today. They are careful and are extremely worried about our well-being. The way they give it a second

[2017-11-23 18:29] everton-rosario commented on #819
@humgurung I cannot reproduce this issue.
Do you have any hook preventing the "oembed" to run?

In a vanilla WP installation, with the Facebook Instant Articles WordPress Plugin installed I could perform exactly the same steps with success:

Visual Editor with only the link
[code]

Click in the link "**[Toggle debug information]**" in the "Instant Articles" meta-box we can see the full text there:

[2017-11-23 18:58] Tilakbhattacharya opened #822 "Not pulling the images from the articles source markup"
## Steps required to reproduce the problem

1. Install plugin in wordpress
2. create article and add images in it from the media library of wordpress
3. Submit the article

## Expected Result
Source markup
<h3>Rita Ora</h3>
<p><img class="wp-image-22161" src="https://socialchull.com/wp-content/uploads/2017/11/78F34B85-6F57-495E-A7FB-202BB7795950-300x225.jpeg" srcset="https://socialchull.com/wp-con

[2017-11-23 19:01] Tilakbhattacharya commented on #822
Source markup
`<p>These VIPs have joined the unrest, they&#8217;re not apprehensive of demonstrating to everything to the world. Look at this display.</p>
<h3>Rita Ora</h3>
<p><img class="wp-image-22161" src="https://socialchull.com/wp-content/uploads/2017/11/78F34B85-6F57-495E-A7FB-202BB7795950-300x225.jpeg" srcset="https://socialchull.com/wp-content/uploads/2017/11/78F34B85-6F57-495E-A7FB-202BB7

[2017-11-23 19:51] everton-rosario commented on #821
Not sure if I got your issue point here.

When configuring that your instant articles will use ADS, our plugin provides a way for you add automatically one AD script to each of your articles.
To do so, you can go to the left side menu, clicking on "Instant Articles" or selecting the Facebook Instant Articles plugin from the list of the already installed plugins and hit "settings".

Opening the sec

[2017-11-23 19:51] #821 closed

[2017-11-24 00:38] demetrox commented on #821
i dont want to use `<figure class="op-ad">` i want to use `<section class="op-ad-template>` because i'm running multiple ads.. can you teach me how to delete this auto `<figure class="op-ad">` script?

[2017-11-24 04:58] undarga opened #823 "feed not working production article"
## Steps required to reproduce the problem
Create a new post
After success we got
. This post will be available as an Instant Article.
. This post was transformed into an Instant Article with no warnings [Toggle debug information]

## Expected Result

## Actual Result

1. create new post its not importing facebook production article since yesterday. i use https://eshlel.com/feed/instant-articles f

[2017-11-24 10:16] absentio opened #824 "AMP character transformation problem"
## Steps required to reproduce the problem

1.  add article
2.  open up ?amp_markup=1

## Expected Result

a working article

## Actual Result

`  <p class="ia2amp-p">Da oggi la parrocchia di San Paolo di Adrano ha ufficialmente, per la prima volta, il suo oratorio ecclesiale. Un oratorio che nonÂ  Ã¨ âun generico luogo di aggregazione â ha scritto il parroco padre Nicola Petralia nella letter

[2017-11-24 11:15] everton-rosario commented on #821
Oh, now I see, thanks for the clarification.
We do have support for this feature on the SDK.

To perform this, you just need to call the method `addAd()` on the HeaderElement.php class.

To perform this, from your WordPress plugin, you should do this:

[code]

This should do what you want to.

[2017-11-24 11:35] everton-rosario commented on #823
I've checked the RSS feed link you've shared, and in the current state, I could see 9 articles listed there:
- https://eshlel.com/archives/315
- https://eshlel.com/archives/21
- https://eshlel.com/archives/13
- https://eshlel.com/archives/404
- https://eshlel.com/archives/401
- https://eshlel.com/archives/347
- https://eshlel.com/archives/417
- https://eshlel.com/archives/9
- https://eshlel.com/ar

[2017-11-24 11:35] #823 closed

[2017-11-24 12:03] everton-rosario commented on #824
What is the encoding charset you're using into your WP and on your wordpress database?
Is your instant articles charset working well?

These instructions will help you debug where you are getting translated into wrong charset:
On the file `class-instant-articles-amp-markup.php` these are the important lines:
[code]

Check if the content here: `$article_html` has the correct charset and if the cont

[2017-11-24 12:39] demetrox commented on #821
orait thanks. this is what i need. thank you

[2017-11-24 13:49] absentio commented on #824
1. Instant articles charset is working well
2. my charset is utf8_unicode_ci

unfortunately i'm not a php developer but this is the only error coming from that file:
 `PHP Warning:  Invalid argument supplied for foreach() in /home4/user/public_html/wp-content/plugins/fb-instant-articles/class-instant-articles-amp-markup.php on line 143`

[2017-11-24 17:07] everton-rosario commented on #824
Are you a developer or have any who can help you with?
Do you have access to the server where your Wordpress is installed?

[2017-11-24 19:24] demetrox commented on #694
use plugin embed code for your repeat ads. because it will be `op-ad-default`

after that go to function.php and use this script

[code]

and script in function.php will be your 2nd ads.

[2017-11-24 19:38] #694 closed

[2017-11-24 20:40] biswanathtoday24 opened #825 "www.biswanathtoday24.com"
## Steps required to reproduce the problem

1.
2.
3.

## Expected Result

## Actual Result
If your issue is about the error message _No rules defined for ..._. Please do the following.
* Go to the Wordpress editor and open the post
* In the Instant Article plugin section click on _[Toggle debug information]_
* Share both _Source Markup_ and _Transformed Markup_

## Version Info

Please state _exac

[2017-11-25 02:41] undarga commented on #823
meta property="ia:markup_url it link not my header. how i add ?

[2017-11-26 23:16] kevinlisota commented on #493
@timjacobi @jarle0db Vimeo embeds get an additional wrapper if `[Jetpack shortcode embeds](https://jetpack.com/support/shortcode-embeds/)` is enabled on the site.

Steps

1. Enable Jetpack
2. Enable Jetpack shortcode embeds
3. Notice that vimeo is wrapped in a <div class="embed-vimeo" which IA doesn't know about
4. Transformer rule error

The solution is either a passthrough transformer rule or mo

[2017-11-27 12:08] bsgies opened #826 "Transferring Instant Articles to Production Library"
Hi everyone,

I run a WordPress website which has more than 20,000 articles. Now when I asked my IA feed URL in FB IA configuration it merely fetches 20-25 posts. Upon asking multiple groups online everyone said one thing that you need to open and update all these articles in order to transform them into instant articles but the fact remains that it will take more than 15 years to open each and ev

[2017-11-27 21:08] yeah-sir commented on #825
Hi @biswanathtoday24 can you please provide some error logs for the issue you are seeing. Also please check if you can reproduce the issue on the latest version of the plugin (v4.0.5)

Thanks,
Yasser

[2017-11-27 21:18] yeah-sir commented on #822
@Tilakbhattacharya can you please provide the following:
- The raw HTML for the source and result
-  Any error logs that you are seeing from the Instant Articles plugin

Thanks,
Yasser

[2017-11-28 22:33] rbacarin commented on #790
Hi @pestevez are there any update about @Sukhwinder500 feature request ? I got the same need =)

[2017-11-29 01:54] Sukhwinder500 commented on #790
@rbacarin hello not any update?

[2017-11-29 08:12] codeslane commented on #782
@diegoquinteiro My site doesn't have a high audience.
Yes, I have cache layer enabled also minified Javascript, CSS, HTML through Cloudflare.

I think the issue is with Hestia Theme, If you got any testing environment please do check it with Hestia https://wordpress.org/themes/hestia/

Please fix this issue if possible.

Thanks,
Vaibhav Singh

[2017-11-29 13:19] everton-rosario commented on #826
Hello!
Nice thing you are migrating and posting your articles as IA.
25k articles is a ton of it.
Technically using the IA WordPress plugin won't require you to republish and then wait for the RSS feed to post your content in chunks of 20 articles.

The best way for you is to use the latest version of the plugin and alternate to use the OG Scrapping strategy.
It ingests a link into all your HTML f

[2017-11-29 13:19] #826 closed

[2017-11-29 13:51] pestevez commented on #790
Sorry, no updates, however, I believe we will tackle bug fixes first.

Also, in this particular case, I am not even sure if this will be a third-party integration that we will support. While the Instant Articles format supports videos in the header, they have to be a [Video](https://developers.facebook.com/docs/instant-articles/reference/video) element; and YouTube (and other third-party video pla

[2017-11-29 21:22] J0ker98 commented on #669
I'm actually having the same issue.

I add my twitter/instagram post links at the end of my article, they are shown correctly on my website but they disappear while they are transformed in instant articles. I'm using the latest plugin and wordpress version.

[2017-11-30 09:54] gmstam opened #827 "Post not submitted to Instant Articles page section"
## Steps required to reproduce the problem

1. Create a new post
2. Publish it

## Expected Result

Post correctly submitted in Instant Articles page section

## Actual Result
No errors and no warning reported:
"This post will be available as an Instant Article.
This post was transformed into an Instant Article with no warnings"

But post is not submitted to Instant Articles page section although

[2017-11-30 15:28] pestevez commented on #668
+1

[2017-12-01 21:08] yeah-sir commented on #827
Hi @gmstam in order to get some insights into what might be going wrong, can you please attach the debug information you are seeing?

Thanks,
Yasser

[2017-12-01 21:30] gmstam commented on #827
Do you mean debug information in the edit/new post page?

[debug.zip](https://github.com/Automattic/facebook-instant-articles-wp/files/1523028/debug.zip)

[2017-12-01 21:41] yeah-sir commented on #827
Yup the debug information shown on the Instant Articles meta-box on the post edit screen for a post

[2017-12-01 22:13] fatonsopa commented on #827
I confirm the error too. It started to happen today around 4pm GMT+1. Posts are not being added/updated to Instant when we add/update a post in wp. Just reinstalled plugin, and it didn't gave any effect!

[2017-12-02 03:23] daneal151 opened #828 "Our review team examined a sample of your articles and found some problems Please address these issues before submitting again ! Help Me Please"
I have prepared the instant articles for the site of WordPress Press has been activated on Facebook, but when submitting the review of articles replied to Facebook the following problems, please how can I solve it?

* Plugin version:  Instant Articles for WP Version 4.0.5
* WordPress version:  Version 4.9.1
* PHP version: 5.5.24

----------------------------------------------

Update Your Style Fo

[2017-12-02 23:29] Ahmedsaber9 opened #829 "Fatal error: Cannot redeclare show_version_incompatible_warning"
## Steps required to reproduce the problem

1.  download zip
2. install it form Wordpress

## Actual Result
Fatal error: Cannot redeclare show_version_incompatible_warning() (previously declared in /hermes/bosnaweb28a/b1453/ipg.3almanyacom/3almanya/wp-content/plugins/fb-instant-articles/facebook-instant-articles.php:22) in /hermes/bosnaweb28a/b1453/ipg.3almanyacom/3almanya/wp-content/plugins/faceb

[2017-12-03 01:01] fatonsopa commented on #827
Any update on this? This is a critical issue that needs to be addressed ASAP!

[2017-12-04 07:28] yeah-sir commented on #827
@gmstam @fatonsopa Can you please test if this issue still occurs in version 4.0.6 ?

[2017-12-04 07:31] yeah-sir commented on #828
@daneal151 Can you please provide the Source and Transformed markup for the article that is generating this error?

[2017-12-04 07:41] yeah-sir commented on #829
@Ahmedsaber9 Looks like you have two instances of the Instant Articles plugin installed through folders `fb-instant-articles` and `facebook-instant-articles-wp-master`. Deleting one of these folders from the plugin directory should get rid of this issue

[2017-12-04 08:19] fatonsopa commented on #827
@yeah-sir Just updated the plugin. The same is happening.  I updated post's title and the changes are not being reflected in FB IA. I also added a new post, and it was not added as IA. The strange issue is that posts that have been scheduled when the plugin was working, are being added as IA in FB even now!

The plugin panel in the post is not telling me anything else except: "This post will be av

[2017-12-04 10:21] gmstam commented on #827
@yeah-sir I just removed older version and then I installed 4.0.6. I created a new post, but when I published it nothing was sent to FB IA production articles section. The plugin continues reporting its success message:
"This post will be available as Instant Article once it is shared on Facebook.
This post was transformed into an Instant Article with no warnings"

[2017-12-04 17:38] absentio commented on #824
I'm not an experienced developer, I only know the basics of C and Java. I have access to the server where Wordpress is installed.

[2017-12-04 20:13] gasparlanca opened #830 "Special Characters Problems"
## Steps required to reproduce the problem

1. I just installed facebook-instant-articles-wp and I'm having problems setting it up. First of all, it's only available in the Facebook Pages Manager app for us, editors of the page, but I think that's normal and supposed to until we have at least 10 articles upload for review, right?

So here's the actual problem: I've already gone to the design sessi

[2017-12-05 05:23] mytc opened #832 "How do I change the ad_density ?"
There are too many ads appeared in IA, I would like to reduce it. I wonder anyway to change the ad_density value? I didn't found any hooks for this in the source code, and I don't want to edit the source codes.

Anything that I missed?

[2017-12-05 09:39] fatonsopa commented on #827
Guys, I know you may have a busy schedule, but please, this is a critical issue that needs to be solved urgently.

Thanks :),

Faton

[2017-12-05 23:41] samichamoun opened #834 "Instant Article document will only publish to domain created one"
Hi,

In some instances it makes sense to have more than one domain which can be used on a website. It appears that whatever domain is used to "publish" a post inside Wordpress is the only domain which will turn to instant articles.

For example:

Domain 1 - abc.com
Domain 2 - xyz.com

If I log into abc.com and publish a post, it can be viewed on both domains:

abc.com/post1
xyz.com/post2

However,

[2017-12-06 00:07] #834 closed

[2017-12-06 04:36] luzan opened #835 "Not showing Images from WordPress Post"
## Steps required to reproduce the problem

1.
2.
3.

## Expected Result
1. Images to appear on IA from WordPress Post

## Actual Result
_Source Markup_

[code]

_Transformed Markup_

[code]

## Version Info

* Plugin version: 4.0.6
* WordPress version: 4.9.1
* PHP version: 7.0.25

[2017-12-06 05:53] mburak commented on #827
Hi guys, did you make sure that you shared in Facebook a post linking to the Instant Article's web page? Otherwise it won't be published as Instant Article.

[2017-12-06 08:51] gmstam commented on #827
@mburak As we described, the process fails in a step backward. A post created in wordpress is not submitted to Instant Articles although metabox shows the success message. I'm using Instant Articles regularly till this bug came out.

[2017-12-06 08:57] fatonsopa commented on #827
@mburak We have been using IA for more than a year now, so yes, we have published it on FB. However, I dig deep into the plugin's code and discovered that the post' content is being marked up well, but it's not being imported into IA at all!

[2017-12-06 14:21] mburak commented on #827
@gmstam As you are describing, you only created and published the post in WP but not shared it in the FB page. As the message says, the Instant Article is created only once you shared the post in your FB page, not before.

[2017-12-06 14:36] gmstam commented on #827
@mburak Normally, using IA plugin, when you publish a new post on WP the post will be submitted to Instant Articles production page. In this section will be set to Published. Now you can share the link. But if you share a link which is not submitted to IA, it will not parsed as Instant Article.

[2017-12-06 15:30] mburak commented on #827
As it's pointed out in https://github.com/Automattic/facebook-instant-articles-wp/issues/818, this behavior has changed lately and this is how it works by design now.

[2017-12-06 15:46] gmstam commented on #827
@mburak Sorry, I'm really embarassed. Thank you very much. Now It's working perfectly. @fatonsopa After you publish a post in WP, simply share the link on your Facebook Page. The post will be submitted to IA as published.

[2017-12-06 15:46] #827 closed

[2017-12-06 16:27] fatonsopa commented on #827
Hey @gmstam @mburak Everything is working now. Thanks :)!

[2017-12-06 21:30] pestevez commented on #835
Are you getting any warnings? If so, please post them here.
Are you using any custom rules? If so, please post them here.

[2017-12-07 03:37] luzan commented on #835
There are few warning on the Post I have attached the screenshot of warnings.
![facebook-ia-warnings](https://user-images.githubusercontent.com/3870422/33697622-f459fcd4-db2f-11e7-93f7-3f62b3f5021d.PNG)

This is the custom transformer rules I am using on IA WordPress Plugin
{ "rules": [
    {
        "class": "PassThroughRule",
        "selector" : "div.reference"
    }
]}

[2017-12-07 22:45] mburak commented on #832
Hi @mytc , I'm afraid that this feature is not implemented yet. We had the same request here https://github.com/Automattic/facebook-instant-articles-wp/issues/640 so I'll close this issue and you can go to the other one to follow the process. Thanks!

[2017-12-07 22:45] #832 closed

[2017-12-07 22:47] mburak commented on #829
@Ahmedsaber9 Were you able to try what @yeah-sir suggested? Did that work?

[2017-12-08 06:39] OlgaAnri opened #836 "No rules defined for <div class="ead-preview"> in the context of InstantArticle"
No rules defined for </div class="ead-preview"/> in the context of InstantArticle
and
No rules defined for </div class="ead-document"/> in the context of InstantArticle

<div class="ead-preview"><div class="ead-document" style="position:relative;padding-top:90%;"><iframe src="//docs.google.com/viewer?url=http%3A%2F%2Fstolypin.institute%2Fwp-content%2Fuploads%2F2017%2F12%2Fb.-titov-a.-shirov-strate

[2017-12-08 10:58] Ahmedsaber9 commented on #829
yes it's work .. close it plz thanks  ^^

[2017-12-08 10:58] Ahmedsaber9 commented on #829
yes it's work .. closed
 thanks ^^

[2017-12-08 10:58] #829 closed

[2017-12-09 19:34] DavidJourn opened #837 "Image in Instant article post not displaying"
Hello,
I am using the PHP Melody v2.7.1 script to update my articles and the images, the images show up on the library of the instant article, but not on the instant article post page. What could have gone wrong here...please help.
David

LIBRARY PAGE
![instant](https://user-images.githubusercontent.com/34403329/33798922-c21d0c0e-dd21-11e7-9bf1-1337020b4f2f.png)

ARTICLE PAGE:
.
.
![main article](

[2017-12-10 19:37] BULLETmx opened #838 "No rules defined for <a> in the context of InstantArticle"
## Steps required to reproduce the problem

1. Install and activate plugin Instant articles for WP
2. Connecting site to FB page
3. Trying to submit article

## Expected Result

Article in FB IA library

## Actual Result

Im trying to get this Call To Action Button in my IA but gets deleted, what should I do?

[button color="grey" size="normal" alignment="center" rel="follow" openin="samewindow" u

[2017-12-11 06:03] leramatan opened #839 "superscript, subscript, underline"
please add rule for superscript, subscript, underline.
Thanks

[2017-12-12 13:42] gasparlanca commented on #830
Is there anyone here that can help me, please? 👍  :D

[2017-12-12 14:49] vkama commented on #836
Hi OlgaAnri.

We can't support every plugin out there with custom rules, that is why you are getting the warnings.

Please refer to https://developers.facebook.com/docs/instant-articles/sdk/transformer-rules to create custom rules to support your use case.

Thanks,
Vinicius Kamakura

[2017-12-12 14:49] #836 closed

[2017-12-12 14:59] vkama commented on #837
Sorry to hear that David.

Have you tried contacting PHP Melody support? This repository is strictly for issues with the IA Wordpress Plugin.

Thanks

[2017-12-12 14:59] #837 closed

[2017-12-12 15:09] vkama commented on #838
Hello,

IA is a native format and we currently do not support buttons.
We do support some Call-to-Action units that you can configure under publishing tools, please refer to this guide: https://developers.facebook.com/docs/instant-articles/cta

Thanks,
VK

[2017-12-12 15:09] #838 closed

[2017-12-12 15:13] vkama commented on #839
Thanks for your suggestion. We will investigate this.

[2017-12-12 16:27] vkama commented on #830
Could not repro this (check https://www.facebook.com/vktests/posts/1157106304425942)
Please take a look if everything is configured properly, including plugins that may alter the text.
Try disabling all plugins but the IA and see if it still happens.

Closing, if you can get a repro please reopen.

[2017-12-12 16:27] #830 closed

[2017-12-13 14:48] DrLightman commented on #753
Hello, found this discussion becasue I'm researchnig how to embed google analytics + utm source and medium paramenters. Combining the link to the docs provided by @timjacobi and the snippet by @JoshEberly , seems to not be correct because the docs says explicitly that `ia_document.referrer` is always set to `'ia.facebook.com'`, so I don't see the point on setting it up.

I'm kindly asking if this

[2017-12-13 16:54] jeganfox opened #840 "I want to hide Subtitle-header h2 from my Instant Article. Please Help"

[2017-12-14 04:56] samborcia commented on #693
I'm still having this issue. It has not been fixed.

[2017-12-14 05:17] jeganfox commented on #840
<img width="312" alt="screen shot 2017-12-14 at 10 44 06 am" src="https://user-images.githubusercontent.com/34516701/33976615-2cda13b4-e0bc-11e7-9be4-3dd85eb41d44.png">

[2017-12-14 10:24] timjacobi commented on #693
Well the PR I mentioned above is still open.

[2017-12-15 10:45] maungthuu opened #841 "Editor roles can't access Instant Article Wizard Page."
For some reasons , I need to make sure Editor Roles can access Instant Article Wizard Page.

domain.com/wp-admin/admin.php?page=instant-articles-wizard

But default is admin roles can only access this page.
How can i give permission editor roles to access this page.

I tried to do with Members Plugin .

https://wordpress.org/plugins/members/

Thanks

[2017-12-15 13:52] loops9 commented on #769
I have a similar problem!
Code HTML
`
<div style="max-width: 1024px; margin: 0 auto;" class="ml-slider-3-6-6 metaslider metaslider-nivo metaslider-5048 ml-slider">

    <div id="metaslider_container_5048">
        <div class='slider-wrapper theme-default'>
            <div class='ribbon'></div>
            <div id='metaslider_5048' class='nivoSlider'>
                <img src="https://drcommodore.

[2017-12-15 15:31] vkama commented on #840
You want to keep the web article untouched and only disable in IA this subtitle?

[2017-12-15 16:08] vkama commented on #841
Maybe you can try adding 'manage_options' to the Editor role with that plugin?

Let me know if it worked. Thanks

[2017-12-15 18:01] jeganfox commented on #840
Yes. The web article is fine. The problem i am getting is, the first three to four lines of my web article are automatically set as subtitle in IA. Now I am able to remove Subtitle manually in IA. Wondering if there is any codes that can automatically remove the subtitle in IA, when i publish the article.

[2017-12-15 19:21] vkama commented on #769
@loops9 care to open a new issue with that? this one is closed

[2017-12-15 19:23] vkama commented on #693
PR is now merged with master @samborcia, if you checkout master this should be resolved

[2017-12-16 23:13] sultansaga opened #842 "General Errors: htmlParseEntityRef: no name"
how fix

[2017-12-17 23:06] darinluka commented on #131
hi whats up , i have another problem
General Errors: Unexpected end tag : p ? why give this in all articles thanks

[2017-12-19 03:05] Flynsarmy commented on #818
So IA isn't an automatic plugin anymore? You need to manually post a link to your article on facebook and the article will then appear in IA? What is the point of the plugin then?

[2017-12-19 10:33] timjacobi commented on #842
Please use the issue template to submit your issue. We can't possibly debug your problem with this small amount of context.

[2017-12-19 10:33] #842 closed

[2017-12-19 18:57] sultansaga opened #843 "General Errors: htmlParseEntityRef: no name need help"
<!doctype html><html dir="rtl">
  <head>
    <link rel="canonical" href="https://ehsaas.eu/2017/11/30/%d9%be%d8%aa%d8%b1-%da%be%d9%86-%d8%a7%db%92-%da%a9%da%be%da%91%da%a9%db%8c-%da%a9%d8%af%db%92-%d9%86%db%8c%d8%a6%da%ba-%da%a9%da%be%d9%84%d9%86%db%8c/"/>
    <meta charset="utf-8"/>
    <meta property="op:generator" content="facebook-instant-articles-sdk-php"/>
    <meta property="op:generator:ve

[2017-12-20 09:48] StefMattana commented on #386
This came up on a [Jetpack forum thread too](https://wordpress.org/support/topic/tracking-face-instant-articles/).

[2017-12-20 16:53] jeremyclarke commented on #732
This really shouldn't be closed. The reason is this:

JETPACK SHARING TOOLS BREAKS THE AUTOMATTIC INSTANT ARTICLES PLUGIN

If that is okay then I don't know what to say.

[2017-12-20 18:21] sultansaga commented on #843
No rules defined for <div class="at-above-post addthis_tool"> in the context of InstantArticle
No rules defined for <div class="at-below-post addthis_tool"> in the context of InstantArticle
No rules defined for <div class="jp-relatedposts"> in the context of InstantArticle

[2017-12-21 04:30] maungthuu commented on #841
For now , I added 'manage_options'. This worked as temporary fix.
Con : This enable all other options page of Theme and Plugins for editors  roles.
I think Instant Article Plugin should have its own permission to access IA Option Page.

Thanks.

[2017-12-21 22:34] arttitorres commented on #322
Any plugin like galleries or composer works with Instant Articles. I'm using the visual composer but only displays code lines.
I want to show photo galleries in a widget or plugin. Would you know what can I use to display them on Instant Articles? Any plugin is accepted by Instant Articles?

[2017-12-22 00:42] dsmills opened #844 "Images from WP not showing up in IA, even after adding the code"
In my Wordpress blog, I've included a picture associated with every bullet point. However, when I published the article in IA, only a few images show up...Below I pasted some of the code from my IA where number 2. shows an image link, while the others are missing the code/link.

However, even when I replicated the exact code with the image link for each picture from my WP blog (Like so: `<figure><

[2017-12-22 01:28] dsmills commented on #844
And duh, posting the code here will obviously bring up the blog post minus the code. Apparently, I can't upload a picture here either to show the code. At least I know it works?

[2017-12-25 06:43] lubimow opened #845 "mysql down"
I often began to fall down mysql. I recorded a large number of requests:
[code]
## Version Info

* Plugin version: 4.0.6
* WordPress version:  4.9.1
* PHP version: 5.7

[2017-12-25 16:50] onlinetushar opened #846 "Facebook Comments Plugin And Instant Articles for WP Compatibility Issue"
Please check screenshot ( https://ibb.co/ne75Pm ) and suggest how to solve this error?

Site URL: https://www.missionmpsc.com/

* Instant Articles for WP Plugin version: 4.0.6
* Facebook Comments Plugin version: 2.3.6
* WordPress version: 4.9.1
* PHP version: 7

Without the above information we are not able to debug the issue and will close it.

[2017-12-27 16:48] diegoquinteiro commented on #843
Hi @sultansaga! Thanks for reporting. The issue here is that you use 2 plugins (JP Related Posts and Add This) that our plugin do not understand. A possible fix is going to the Instant Articles plugin settings, and add the following Custom Transformer Rules:

[code]

Let me know if that works, otherwise re-open this issue.

[2017-12-27 16:48] #843 closed

[2017-12-27 16:57] diegoquinteiro commented on #844
Hi @dsmills.

This (WP Native Articles) is not the plugin from this repository. My best guess is that you're using this plugin: https://wp-native-articles.com

In this case, you might find this piece of their documentation useful: http://docs.wp-native-articles.com/article/42-images-missing-or-not-showing

Hope that helped!

Thanks for reaching out,
Diego

[2017-12-27 16:57] #844 closed

[2017-12-27 17:02] diegoquinteiro commented on #845
Thanks @lubimow for reaching out! I'll investigate and reach back to you. It seems related to #713.

[2017-12-27 17:06] lubimow commented on #845
@diegoquinteiro see my logs: https://www.dropbox.com/s/pzn1c2s0e8bucph/error.rtf?dl=0 and https://www.dropbox.com/s/974h410iaa9mblk/slow.rtf?dl=0

[2017-12-27 17:07] diegoquinteiro commented on #846
Thanks @onlinetushar for reaching out. It is very weird that these two elements are being added to the content body. I'll try to reproduce it on my side. Meanwhile, a quick fix is going to the Instant Articles plugin settings, and adding the following Custom Transformer Rules:

[code]

Let me know if that works.

[2017-12-27 22:22] beeriz opened #847 "Add credits and copyright as small text in footer on each article"
Hi !

I'm wondering if anyone tried creating a different footer for each article, because I need to list all the sources and copyright for the pictures used in the bottom part of the article, and show them in the footer section of the Instant Article result.

I tried everything, from creating custom transformer rules for small text to pasting direct code.

I've seen some website using it, I just w

[2017-12-29 00:01] beeriz commented on #847
Anyone?
Its really pressing and urgent, we are missing this feature only, I tried every possible solution, and can't seem to find a way to add a small text, even if its not in the footer section of the Instant Article. Just a hint will do

Thank you

[2018-01-02 19:27] cgidds commented on #528
Has there been any additional traction on this enhancement/feature request? We're trying to migrate to PHP7.1 and would like this (at least the error) resolved.

[2018-01-04 16:17] str opened #848 "wpautop generates the error The HTML element does not contain any text: Avoid including empty HTML elements"
By default, articles go through the `wpautop` filter, which wraps texts in `<p></p>` tags every time it finds a new line.  If I add a text + new line + image, and the image has a link to another page I get the image wrapped inside a new `<p>` tag. When converted to an instant article it gets converted to

[code]
And that generates the following error message in Facebook Instant Articles, because t

[2018-01-05 07:33] DrLightman opened #849 "http:// to https:// migration, all previsouly published articles are offline?"
## Steps required to reproduce the problem

1. have an http (not SSL) website: http://example.org
2. publish many many many articles on Facebook Instant Library successfully, and you're happy
3. one day, decide to switch to SSL: https://example.org. do it in the right way, all redirects in place to redirect 301 whole website content from http to https
4. suddendly realize that all previously submi

[2018-01-05 15:55] bajpangosh commented on #281
Use RSS feed URL "https://yoursite.com/feed/instant-articles"

[2018-01-05 17:26] pestevez commented on #849
Hey @DrLightman,

A few comments:
- The Instant Articles spec includes the URL protocol as part of the canonical URL.
- The canonical URL is the ID of the Instant Article, so it cannot be changed for a given Instant Article.
  - If you edit the markup and edit the canonical URL, as in your example, what will happen is that a new Instant Article will be created, with the canonical URL having `https

[2018-01-05 18:58] pestevez commented on #847
Hey @beeriz,

A few things:
- How are you generating the footer text "OhScience © 2017"? I don't see it in your source markup.
- Please note that per the Instant Articles [documentation](https://developers.facebook.com/docs/instant-articles/reference/footer), the credits are expected to be in the `<aside>` element, not in the `<small>` element as you include in your expected result.

In any case,

[2018-01-05 18:58] #847 closed

[2018-01-05 19:01] pestevez commented on #840
Please post some Source Markup, Transformed Markup, custom rules (if any), and Expected Result for us to be able to help.

[2018-01-05 19:15] pestevez commented on #839
These elements (superscript, subscript, underline) are not supported in Instant Articles, so we cannot add them as features of the plugin.

If they are very important to you, I recommend you start the discussion here: https://www.facebook.com/groups/629655867187397/

I am closing the issue now, but we can reopen when/if they become available in the Instant Articles format.

[2018-01-05 19:15] #839 closed

[2018-01-05 19:23] pestevez commented on #835
Are you using a plugin to generate the images?

[2018-01-05 19:55] pestevez commented on #528
This is not an issue that has been prioritized by our team yet.

In any case, by looking at the path to the file with the error, it looks like it is coming from the examples folder of one of our dependencies, which means that this is NOT code that we are executing. Also, we have been using the plugin on sites running PHP 7+ for a while and this has never been a problem.

I am not familiar with the

[2018-01-05 20:03] pestevez commented on #846
Hey @onlinetushar,

Facebook Comments plugin is a third-party plugin, which we currently don't support. Since it is also no longer supported by its author I am not sure if we ever will support it, but we will gladly review any related pull requests.

My recommendation is for you to use the rules recommended by @diegoquinteiro; but also that you share your Source Markup, Transformed Markup, custom

[2018-01-05 20:05] pestevez commented on #828
Closing due to inactivity, please reopen if you still need help and can provide the required information for us to be able to help.

[2018-01-05 20:05] #828 closed

[2018-01-05 20:06] pestevez commented on #825
Closing due to inactivity, please reopen if you still need help and can provide the required information for us to be able to help.

[2018-01-05 20:06] #825 closed

[2018-01-05 20:07] pestevez commented on #822
Closing due to inactivity, please reopen if you still need help and can provide the required information for us to be able to help.

[2018-01-05 20:07] #822 closed

[2018-01-05 20:07] pestevez commented on #819
Closing due to inactivity, please reopen if you still need help and can provide the required information for us to be able to help.

[2018-01-05 20:07] #819 closed

[2018-01-05 20:09] pestevez commented on #762
Closing due to inactivity, please reopen if you still need help and can provide the required information for us to be able to help.

[2018-01-05 20:10] pestevez commented on #761
Closing due to inactivity, please reopen if you still need help and can provide the required information for us to be able to help.

[2018-01-05 20:10] #761 closed

[2018-01-05 20:10] pestevez commented on #759
Closing due to inactivity, please reopen if you still need help and can provide the required information for us to be able to help.

[2018-01-05 20:10] #759 closed

[2018-01-05 20:10] pestevez commented on #748
Closing due to inactivity, please reopen if you still need help and can provide the required information for us to be able to help.

[2018-01-05 20:10] #748 closed

[2018-01-05 20:11] pestevez commented on #742
Closing due to inactivity, please reopen if you still need help and can provide the required information for us to be able to help.

[2018-01-05 20:11] #742 closed

[2018-01-05 20:11] pestevez commented on #720
Closing due to inactivity, please reopen if you still need help and can provide the required information for us to be able to help.

[2018-01-05 20:11] #720 closed

[2018-01-05 20:11] pestevez commented on #684
Closing due to inactivity, please reopen if you still need help and can provide the required information for us to be able to help.

[2018-01-05 20:11] #684 closed

[2018-01-06 07:04] akshayip opened #850 "I have ad quick adsense plugin in my site and after this i'm facing this issue plz help me"
I have ad quick adsense plugin in my site and after this i'm facing this issue plz help me

![kjkj](https://user-images.githubusercontent.com/32322239/34637489-f888e246-f2dd-11e7-8745-7c5750cf9797.PNG)
![vlkfsvkfds](https://user-images.githubusercontent.com/32322239/34637490-f8b32736-f2dd-11e7-898f-949f2b043d15.PNG)

[2018-01-06 07:51] luzan commented on #835
No, I am not using any plugin to generate images.

[2018-01-06 09:24] codeslane commented on #782
@timjacobi @diegoquinteiro @steelmaiden,

I debugged the issue, after going through a lot of debugging process, I found the pingback was disabled on my server  _.htaccess_ file.

This is the code causing the issue and crashing the server after activating the plugin.
<Files xmlrpc.php>
<IfModule mod_authz_core.c>
Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
Order deny,allow
deny from

[2018-01-06 09:24] #782 closed

[2018-01-06 10:14] DrLightman commented on #849
Hi @pestevez , thank you for the getting back to me so fast.

I have confirmed your points, editing the canonical from inside the library will create an unpublished copy of the old http version. For a bunch of articles it would be fasible but we've got around 300'000 so I'm obligated to batch/automate the process.

I've seen in the debugger and forcing a rescrape does the trick too. My problem now

[2018-01-06 12:37] codeslane commented on #850
@akshayip facebook instant articles don't show google ads in the instant article.
You can enable facebook ads from audience program in your facebook app.

Regards,
Vaibhav

[2018-01-06 14:46] pestevez commented on #849
I am glad it helped. I agree, for that many posts a manual process is not feasible.

If you have a way to get all the posts URLs, you can trigger a re-scrape (as the article you found explains) with `POST /?id={URL}&scrape=true`, but you will need to use an access token for the request (more details here: https://developers.facebook.com/docs/sharing/opengraph/using-objects#update)

In the past, we

[2018-01-06 15:24] beeriz commented on #847
Thank you pestevez, I was able to make it work with your custom rules and source code,
But now, its overriding and removing the custom footer that was entered in the settings's field "Copyright" of the Wordpress plugin,  is there any way to keep both the Copyright used in Settings and just add this custom "Footer" before it?

But you can consider this as solved, thank you so much.

[2018-01-06 15:25] beeriz commented on #846
[code]

This worked for me.

[2018-01-06 22:16] DrLightman commented on #849
Okay I think I managed, the script is running, 1 second of wait between requests, I'm hoping not getting banned. I hope the FacebookApp AccessToken won't expire either.
Thanks for the support.

[2018-01-09 00:51] wle8300 opened #851 "Images aren't converted to IA markup"
## Expected Result

Images in posts aren't in the converted InstantArticle markup. For this post we're using:
1) one featured image
2) and 7 images in the post body

Note that the successfully IA'd image isn't even in the post body! And it successfully converts over... but none of the 7 images in the post body are in the IA markup.

![screen shot 2018-01-08 at 4 46 04 pm](https://user-images.githu

[2018-01-09 16:22] everton-rosario commented on #851
It is missing a setup for the rules to treat the images inside the content.

Follow this sequence to add this rule configuration:
1. Click on the InstantArticles menu Item (usually it stays in the left menu bar)
2. It will open the InstantArticles plugin settings page.
3. Scroll down to find the section called: "Publishing Settings"
4. Enable the checkbox "Enable custom transformer rules"
5. Enter

[2018-01-09 16:22] #851 closed

[2018-01-09 16:35] everton-rosario commented on #850
Yes, @codeslane is right. The adsense is not supported.
You can apply for the AudienceNetwork here: https://www.facebook.com/audiencenetwork?ref=github

Then, it will be just usage of the snippet the Audience Network system will give to you, then you can add it to your Instant Article markup using this doc: https://developers.facebook.com/docs/instant-articles/monetization/audience-network

[2018-01-09 16:35] #850 closed

[2018-01-09 16:46] everton-rosario commented on #849
Thanks for reporting @DrLightman , but the process of rescraping and updating the content like this is the proper way of managing this kind of migration.
Creating some sort of migration on our side doing it blindly for all the URLs might not be the best solution looking from full community perspective.
We rather have a way that convers all cases, like the one @pestevez mentioned than implementing

[2018-01-09 16:46] #849 closed

[2018-01-09 18:19] wle8300 commented on #851
@everton-rosario Thanks for the help! We are actually using that selector (div.wp-caption) in our rules already. Would you suggest we append your rule, or swap em?

I'm thinking swapping the rules based on the docs. Just want to make double-sure with you! I'm new to InstantArticles.

[code]

Also, based on the outputted IA markup... it seems like the header image is there:

[code]

[2018-01-10 10:51] everton-rosario commented on #851
Hey, @wle8300
The rule you are using is the `IgnoreRule` which tells the transformer: "Please ignore this node during transformation". So the tag selected by the selector and any tags inside that tag are also ignored during transformation process.

Thats why you were missing the images.

Now, with the `PassThroughRule` means: "I have nothing to do with this tag, but please treat the other ones tha

[2018-01-10 19:04] wle8300 commented on #851
@everton-rosario Ah yes. You're advice helped greatly!

Here's the new markup for the same article (in case you're interested). Appreciate the help! Really like using InstantArticles. It's a great product!

[code]

[2018-01-11 09:51] everton-rosario commented on #851
Only one final suggestion, @wle8300.
I see you using `GoogleAnalytics` for tracking (which is perfectly fine).
I'd also recommend to use [FacebookAnalytics](https://analytics.facebook.com/) since this is a fully Facebook environment and once you use FB Analytics into your Instant Articles and web version also we will be able to better calculate your traffic lift and some other cool features we pro

[2018-01-11 15:12] izuemma commented on #848
my facebook instant articles is rejected because of missing content and embed code, please can someone help me to fix it ?'

[2018-01-11 18:08] everton-rosario commented on #848
The problem here is that you have an anchor wrapping your image and a paragraph wrapping the anchor.

Simply add this rules to your Custom Rules:
1. Click on the InstantArticles menu Item (usually it stays in the left menu bar)
2. It will open the InstantArticles plugin settings page.
3. Scroll down to find the section called: "Publishing Settings"
4. Enable the checkbox "Enable custom transformer

[2018-01-11 18:08] #848 closed

[2018-01-11 18:17] izuemma commented on #848
you mean i should test this code into my custom htlm  ?

[2018-01-11 22:25] str opened #852 "Rewrite rules are ignore"
When a post is submitted, the `<h3>` tags stay as `<h3>` instead of being auto replaced to `<h2>`. I tried both with the default rules as well as redefining them in the "Custom transformer rules".

![selection_002](https://user-images.githubusercontent.com/123817/34850553-ef7e3054-f6eb-11e7-9dd0-67e24bd1e38d.png)

## Version Info

* Plugin version: Version 4.0.6
* WordPress version:  4.8.4
* PHP v

[2018-01-12 11:24] MrSunshyne commented on #321
I recently realised that the "Medium" field in GA that used to show "Instant Article" has completely disappeared. Under source/medium I only see 'facebook / referral' now.
This is a huge issue as i cannot distinguish my FBIA traffic from regular traffic anymore.
Anybody else ran into this issue ?

[2018-01-12 12:02] everton-rosario commented on #848
No, this goes into your custom configuration rules into the plugin setup.

Per the step by step I've mentioned, you will click on left menu called "Instant Articles" then setting those rules for your transformation proceed correctly

[2018-01-12 12:03] everton-rosario commented on #852
Can I take a look on the rules you've set?

How is your custom rules right now? Please append to the issue.
Will reopen once you update.

[2018-01-12 12:03] #852 closed

[2018-01-12 12:10] everton-rosario commented on #321
@MrSunshyne you can add any personal tags to your GA snippet that goes into only your Instant Articles making it possible for you to track as you wish.

Just like the above script that @maxinnos commented:
[code]

[2018-01-12 15:34] izuemma commented on #848
what about the generates output, where will that be fix ?

[2018-01-12 16:08] Asif2BD commented on #321
Its unfortunate its still an on-going problem.

This is what works for me, just put this way in "Enable custom embed code" -

`<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'

[2018-01-12 16:45] everton-rosario commented on #848
It was just an example using the same HTML structure from your case, with `<p><a><figure><img></figure></a></p>` tags.

You can see the generated Instant Article markup on the box overlay we have on each article as you edit it and hit button "Publish".

[2018-01-12 16:46] everton-rosario commented on #321
What do you mean by "Enable custom embed code"?

[2018-01-12 17:27] izuemma commented on #848
ok do not be angry mr everton-rosario that am asking alot, i have already paste the code for transformer in my setting area, also the markup in the place, i will let you know if it works

[2018-01-12 20:32] izuemma commented on #848
Hi
everton-rosario, i am still having the problem, is telling me
No rules defined for <div class="mycase4_reader"> in the context of InstantArticle

[2018-01-12 20:39] izuemma commented on #848
This is the issues am facing.

<html>
  <head>
    <link rel="canonical" href="http://gossipmedianews.com/fulani-herdsmen-kill-50-benue-attack/"/>
    <meta charset="utf-8"/>
    <meta property="op:generator" content="facebook-instant-articles-sdk-php"/>
    <meta property="op:generator:version" content="1.6.2"/>
    <meta property="op:generator:application" content="facebook-instant-articles-wp"/

[2018-01-13 10:11] huzanspenta commented on #822
Hi @pestevez
I have a website setup on WordPress and I have connected my Facebook page with the website. I am stuck at one problem. I am unable to show the featured image of the WordPress post on the instant article.

I would be grateful if you could help me out.

Thanks in advance.

[2018-01-13 15:43] izuemma commented on #838
can someone help me out, am having a problem with my articles, No rule defined in the context for instant articles

[2018-01-13 16:18] izuemma commented on #848
Hi Everton,
my publishing settings on my plugin is showing, Class Boldrule Selector span Bold.
can you generate it for me ?

[2018-01-13 16:32] izuemma commented on #533
Hi
can someone help me out?
am having problem on my instant articles,- No rule defined for in the context of instant articles
and my publishing settings on plugin is showing, class rule boldrule span bold

[2018-01-13 20:08] huzanspenta opened #853 "Featured Image not showing"
Hi,
Everything seems to be working fine unless the featured image. I cannot see the featured image in the instant articles. I need your support.

Thanks in advance.

[2018-01-14 11:47] codeslane opened #854 "Question - How To Convert Instant Article To AMP Through This Plugin"
How To Convert Instant Article To AMP Through This Plugin?
I already installed the JSON Code in Instant Article Plugin

[2018-01-15 05:13] vyasdharmesh opened #855 "Post not submitted to Instant Articles page section After Published on Wordpress"
## Steps required to reproduce the problem

1.  Create a new post in Wordpress
2. Publish it

## Expected Result
Post should be available in Instant Article Section of Facebook page

My Feed URL: https://www.echhapu.com/feed/instant-articles
my Page ID: 461835360538417

## Actual Result
Nothing happens

## Version Info
* Plugin version: 4.0.6
* WordPress version: 4.9.1

Without the above informati

[2018-01-15 05:15] vyasdharmesh commented on #855
My Feed URL: https://www.echhapu.com/feed/instant-articles
my Page ID: 461835360538417

[2018-01-15 07:00] JFOC opened #856 "Facebook profile could not be looked up for url"
## Steps required to reproduce the problem

1. Write a Post
2. Publish a Post
3. Check the Facebook Publishing Tools

## Actual Result
This Article Contains Errors
To give your audience a better experience, fix the errors noted before you publish your article.

Facebook profile could not be looked up for url: Ensure all entity URLs correspond to Facebook profiles (got https://www.facebook.com/app_

[2018-01-15 10:00] Jayad commented on #855
Hi,
Could you scroll down till end of your post in wordpress and look for any warnings?

[2018-01-15 10:21] everton-rosario commented on #822
@huzanspenta Can you please create a new issue providing all information you have? This issue is already closed and is not connected to your issue.

We need you to click in the link "**[Toggle debug information]**" in the "Instant Articles" meta-box and then copy and past the both editor's text: "**Source Markup**" and "**Transformed Markup**"

[2018-01-15 10:22] everton-rosario commented on #838
Hello @izuemma

Please, can you share here more info about your transformation problem?

We need you to click in the link "**[Toggle debug information]**" in the "Instant Articles" meta-box and then copy and past the both editor's text: "**Source Markup**" and "**Transformed Markup**"

Thanks for reaching out.

[2018-01-15 10:48] huzanspenta commented on #822
@everton-rosario
**Source Markup:**
<p style="text-align: justify;"><span style="font-family: terminal, monaco, monospace;"><span style="font-weight: 400; font-size: 18px; color: #000000;">मान देशी बँकेची सुरुवात चेतना सिन्हा यांनी १९९७ ला केली. साताऱ्यातील मान तालुक्यातील म्हसवड गावातील एक लोहारीचा व्यवसाय करणारी कांताबाई नावाची महिला जेव्हा चेतनाताईंकडे बॅंकेत बचत खाते कसे उघडावे याची चौकशी कराय

[2018-01-15 11:00] huzanspenta commented on #822
@everton-rosario

I am unable to paste code here. It will gets converted in HTML. Where else can I share the code with you?

[2018-01-15 11:56] everton-rosario commented on #848
What is the full message @izuemma ?
Lets centralize discussion into only one place.

I need you to inform your custom Rules you have.
To do that, I need you to copy and paste a content from the field from the settings of the "Facebook Instant Articles Wordpress Plugin".
The field you can find here:
![Custom Rules](https://s3.amazonaws.com/instantarticles/examples/custom-rules.png)

Also I need you

[2018-01-15 12:19] everton-rosario commented on #533
Hey @AssyriaGameStudio, not sure if you've already found a way to solve this issue.
You could use the full div as your Interactive code, so no need to treat the internal contents.

Example:
[code]

[2018-01-15 12:19] #533 closed

[2018-01-15 13:09] mburak commented on #840
Closing due to inactivity, please reopen if you still need help and can provide the required information for us to be able to help.

[2018-01-15 13:09] #840 closed

[2018-01-15 13:14] mburak commented on #853
Are you getting any warnings? If so, please post them here.
Are you using any custom rules? If so, please post them here.

[2018-01-15 13:22] mburak commented on #856
Hi @JFOC,

could you share what your source html and transformed html are?
Also if you have any custom rules, please post them here.

Thanks.

[2018-01-15 13:24] mburak commented on #846
Closing as the suggested rules worked.

[2018-01-15 13:24] #846 closed

[2018-01-15 16:47] wle8300 opened #857 "Can't use "async" attribute for Custom Embed Code"
## Steps required to reproduce the problem
1. Use "async" attribute for analytics tracker (e.g., `<script async src="https://cdn.onthe.io/io.js/gokVbwe4UiqH"></script>`

## Expected Result
Settings would be successfully saved

## Actual Result
Instead outputs this error: **Invalid HTML markup provided for custom analytics tracker code**

## Version Info
- Plugin version: 4.0.4
- WordPress version:

[2018-01-15 18:10] huzanspenta commented on #853
@mburak I am not getting any warnings. No custom rules.

The full post is showing properly except the featured image which is not showing. Please support.

[2018-01-15 21:10] mburak commented on #853
@huzanspenta, could you share your source html and the transformed one?

Thanks.

[2018-01-15 21:30] mburak commented on #857
Hi @wle8300, for now we only support XHTML for the custom Embed Code.
Please use the async attribute this way:
`<script async="async" src="..."></script>`

Thanks.

[2018-01-15 21:30] #857 closed

[2018-01-15 21:31] wle8300 commented on #857
Can I also use `async=“”`? Thanks for the help!

[2018-01-15 21:32] wle8300 commented on #857
Can I also use `async=“”`? Thanks for the help!

[2018-01-15 21:36] mburak commented on #857
I think you can (we allow that) but the right way is async="async" as the documentation describes: https://www.w3schools.com/tags/tag_script.asp

[2018-01-15 21:37] wle8300 commented on #857
Ok will do Matias! Thanks for the speedy support :D

[2018-01-16 03:21] vyasdharmesh commented on #855
Below is the message.

	This post will be available as Instant Article once it is shared on Facebook.

This post was transformed into an Instant Article with no warnings

Kindly help,

![ia-issue](https://user-images.githubusercontent.com/12527112/34970438-5fb555bc-fa9a-11e7-943c-63e47668a466.jpg)

[2018-01-16 06:23] JFOC commented on #856
No idea why there is `<address><a href="https://www.facebook.com/app_scoped_user_id/10155887956119803/" rel="facebook">Frank9x9</a></address>`

[t1.txt](https://github.com/Automattic/facebook-instant-articles-wp/files/1633814/t1.txt)

[2018-01-16 14:31] vytas315 commented on #551
I'm getting a similar issue trying to use Google Tag Manager scripts. I can see that google-analytics domain is included but not tag manager. It also does not appear to be triggering in production. Can someone confirm if this is an issue with the debugger or also the reason I'm not seeing hits in production?

[2018-01-16 14:35] mburak commented on #855
Hey @vyasdharmesh, have you shared your article in a FB posts?
Thanks.

[2018-01-16 14:48] vyasdharmesh commented on #855
yes i did

but still not appearing in IA

On Jan 16, 2018 8:05 PM, "Matias Burak" <notifications@github.com> wrote:

[2018-01-16 14:50] mburak commented on #856
Do you have any custom rules?

[2018-01-16 15:00] mburak commented on #855
Could you share your debug info? Source html and transformed html.
Thank you.

[2018-01-16 15:15] mburak commented on #856
BTW, that URL is taken from the article poster's website set in the Wordpress config. If that URL is a Facebook URL, it needs to point to a FB profile url.

[2018-01-16 15:17] vyasdharmesh commented on #855
how to get that?

sorry but i didn't got you

On Jan 16, 2018 8:30 PM, "Matias Burak" <notifications@github.com> wrote:

[2018-01-16 15:21] mburak commented on #855
Go to the bottom of your article and click on "**Toggle debug information**". There you will see these fields.

[2018-01-16 16:17] vyasdharmesh commented on #855
Source HTML:
<p>વડાપ્રધાન નરેન્દ્ર મોદીની સરકારે સત્તા સાંભળ્યા બાદ દેશની વિદેશનીતિમાં
લગાતાર સુધારો જ નથી આવ્યો પરંતુ તે pro-active પણ થઇ છે. વિદેશોમાં ભારતની આ
pro-active વિદેશનીતિની ત્યારે ખાસ નોંધ લેવામાં આવી હતી જ્યારે ભારતે યમન માં
‘ઓપરેશન રાહત’ ચલાવીને માત્ર ભારતીયો જ નહીં પરંતુ વિદેશી નાગરિકોને પણ બચાવી
લીધા હતા. હાલમાં સિંગાપોર ખાતે યોજાયેલા ASEAN-India પ્રવાસી ભારતીય દિવસ
દરમ્યાન વિદેશમં

[2018-01-16 16:31] vyasdharmesh commented on #855
I think the problem is resolved.

Actually, I claimed only url with www prefix in configuration page.

I realized, I also need to claim url without prefix. I just did that and it
seems articles are being converted now.

Thanks,

2018-01-16 21:49 GMT+05:30 Dhams DXB <dhams.dxb@gmail.com>:

[2018-01-16 17:53] mburak commented on #855
Yeah, that should be it. Great!

[2018-01-16 17:53] #855 closed

[2018-01-17 04:27] mauryashivam593 opened #858 "Instant article post images are not displaying only feature image and texts are showing."
when i post blog from my wordpress site instant article not displaying any photos from my blog instead of feature image and texts.
can anyone help me on this please?

[2018-01-17 13:19] mburak commented on #858
Hi @mauryashivam593, are you getting any warnings in your article's transformation?
Thanks.

[2018-01-18 00:01] str commented on #848
OK, this is what my rules say:

![selection_013](https://user-images.githubusercontent.com/123817/35072881-272e730a-fbac-11e7-9638-e18104926347.png)

And this is what the debug says in the post edition page:

![selection_015](https://user-images.githubusercontent.com/123817/35073713-d9f87820-fbaf-11e7-9716-ee2985bb59f1.png)

But this is the result in the FB instant articles manager:
![selection_01

[2018-01-18 10:43] everton-rosario commented on #822
You should use the "insert code" formating option.

Or even using the triple code formatting:
\```
`// you paste your code here`
\```

[2018-01-18 10:56] everton-rosario commented on #551
@vytas315 Are you using the proper structure for the analytics code?
Can you share some code of the Instant Article created?

It should use the block:
[code]

[2018-01-18 11:10] everton-rosario commented on #848
Do you have any other plugins applying things to your published content?

That is weird because I don't see any `<p>` tags wrapping your Image on the first print "Transformed Markup" section.
But then the article you are showing me has it after it was ingested.

Just be sure you have it re-scraped before we dig a little more on this:
Open your article URL into our share debugger:
https://developer

[2018-01-18 16:07] guiwestrup commented on #582
I still have the same problem:
<div> in the context of InstantArticle>
<div class="mc-column content-text active-extra-styles "> in the context of InstantArticle>

This is my rules:
`{
   "rules":[
      {
         "class":"CaptionRule",
         "selector":"p.wp-caption-text"
      },
      {
         "class":"AnchorRule",
         "selector":"a",
         "properties":{
            "anchor.href"

[2018-01-19 09:35] animalpproject opened #859 "Plugin skips FB authorization screen/settings and sits on default screen, no way to go back?"
## Steps required to reproduce the problem

1. I login to my New Wordpress site which is on a SHARED server and IP with other sites that also run Instant Articles plugin
2. I go to the plugin, and it shows me settings page, but does NOT show me how to enter App details and authorize my plugin and through the website itself.
3. I am UNABLE to find any way to activate the plugin through FB and with

[2018-01-19 09:42] animalpproject commented on #859
Also, I tried just putting in settings and letting it go, however no articles will submit when I save articles.  Nothing shows up in my FB under 'published articles' . If I enter in my RSS feed, it syncs, but without that, it doesn't do anything and no articles come through.  Even though my articles say "This post will be available as Instant Article once it is shared on Facebook" None of them are

[2018-01-19 14:40] mburak commented on #582
Hi @guiwestrup, you can add a new custom rule to avoid those warnings: `{ "class": "PassThroughRule", "selector": "div" }`

[2018-01-19 14:54] mburak commented on #859
Hi @animalpproject, you don't need to have an app for this process, you only need to configure your page id.
As you are saying that RSS works for you I assume you already have your URL validated inside your publishing tools.
What I think you are missing is to share your article's link in a Facebook post so the Instant Article is created.

[2018-01-19 15:24] mburak commented on #835
Duplicate of #811, please check the solution there. Thanks.

[2018-01-19 15:24] #835 closed

[2018-01-19 15:31] mburak commented on #671
Closing for inactivity. Please reopen if you still have the issue.

[2018-01-19 15:31] #671 closed

[2018-01-19 15:41] guiwestrup commented on #582
@mburak hi, thank you very much, i had tried PassThroughRule previously, maybe i made a mistake.

[2018-01-19 16:22] mburak commented on #582
I'm closing it for now. Let us know if that doesn't work for you.

[2018-01-19 16:22] #582 closed

[2018-01-19 16:23] mburak commented on #856
The solution should be what I mentioned before. Please feel free to reopen the ticket if that doesn't work for you.

[2018-01-19 16:23] #856 closed

[2018-01-19 16:27] #859 closed

[2018-01-19 16:30] mburak commented on #470
Couldn't reproduce this with the latest version, please feel free to re-open if you still experiencing this problem.

[2018-01-19 16:30] #470 closed

[2018-01-19 17:13] mburak commented on #586
Hi @neamulhaque, did you happen to solve this issue? We would need some more information to help you. Could you share what's the source HTML you are trying to transform into Instant Article?
Thanks.

[2018-01-19 17:15] mburak commented on #480
Closing due to inactivity. Latest version should work fine. Please feel free to reopen it if you still have the issue.

[2018-01-19 17:15] #480 closed

[2018-01-19 17:17] mburak commented on #369
Closing due to inactivity. Latest version should work fine. Please feel free to reopen it if you still have the issue.

[2018-01-19 17:17] #369 closed

[2018-01-19 17:28] mburak commented on #262
Hi @nikssardana, it's being a while since you posted this issue. Does this still happen to you? Did you try with the latest version of the plugin?
Thanks!

[2018-01-19 17:29] mburak commented on #196
Closing due to inactivity. Latest version should work fine. Please feel free to reopen it if you still have the issue.

[2018-01-19 17:29] #196 closed

[2018-01-19 17:40] jerclarke commented on #262
@mburak Did you read my answer? This is expected behavior with no possible solution outside Facebook changing the API. If you want to close this ticket then go ahead and do so.

Modern versions of the iA plugin will have the following outcome: The post is marked as invalid for iA and never submitted to Facebook. That is the correct behavior because Instant Articles can't show a heading inside a bl

[2018-01-19 17:43] jerclarke commented on #582
That is going to "work" but in testing, they better look very carefully at the actual outcome when viewed in Instant Articles (via a mobile app).

Making all divs use `PassThroughRule` is an unambiguous overkill, and will have wide ranging impacts on the coherence of your content in iA that will be unpredictable. There are all kinds of things that might be wrapped in divs, and often blindly removi

[2018-01-20 00:38] chrillep commented on #516
?

[2018-01-20 15:13] Sizlomedia opened #860 "RSS Feed"
1. RSS feed is not working after fetching like <www.sizlomedia.com/feed/instant-articles>

I wan accepting full display of feeds in the browser with complete url.

Just showing url with instant article address.

* Plugin version: 4.0.6
* WordPress version: 4.8.5
* PHP version:  latest

I don't know what and where I am doing a mistake

[2018-01-22 00:12] aproxis opened #861 "Sending author name to Google Analytics"
## Expected Result

I would like to see Author statistics in Google Analytics.
Using "gtag" and "events" for this.
On website I'm doing like that:

[code]

How could I send such event? Ideas?

## Version Info

* Plugin version: 2.11
* WordPress version: 4.7.5
* PHP version: 5.4.45

[2018-01-22 11:40] everton-rosario commented on #861
Im thinking of a way of you doing that. You should give this a try:

You could create this service that replies the author name from a given URL.
We store the canonical URL into the object `ia_document.shareURL`

You can see the complete documentation about the `ia_document` here: https://developers.facebook.com/docs/instant-articles/analytics
Script as a jsonp on your server (the jsonp is just fo

[2018-01-22 11:40] #861 closed

[2018-01-23 05:21] codeslane opened #862 "Add option to choose weather to publish a post for instant article or not"
add a option in backend add new post to choose weather the article get converted for instant article or not.
User should able to choose the instant article publishing setting from wordpress only.

[2018-01-23 18:34] ilyascay commented on #853
hey i have the same problem help me please !

[2018-01-23 18:35] ilyascay commented on #858
i have the same problem what should i do ?

[2018-01-23 18:40] huzanspenta commented on #822
Hey @everton-rosario
Request for your support.

Source Code
[code]
Transformed Markup
[code]

[2018-01-24 10:19] izuemma commented on #838
Please can someone solve this problem for me?	No rules defined for <article> in the context of Small <article><footer><small>Copyright Acme</small> </footer></article>
No rules defined for <div class="mycase_reader"> in the context of InstantArticle
No rules defined for <div class="case_middle"> in the context of InstantArticle

![img_20180124_111235](https://user-images.githubusercontent.com/3534

[2018-01-24 16:09] stephen4800 opened #863 "Facebook Instant Article Not Being Submitted To Production"
## Steps required to reproduce the problem

1. Updated To Latest Version Of Wordpress & Instant Articles
2.  Publish Post To Instant Articles
3.

## Expected Result

Post will appear in production & be available to post

## Actual Result

Post is not appearing in production
Post is not converting to instant article

## Version Info

I am able to do it by getting the source and adding it directly t

[2018-01-25 22:25] ethangardner opened #864 "get_article_style() method not implemented in class-instant-articles-post.php"
## Steps required to reproduce the problem

The method `get_article_style()` that is part of the class-instant-articles-post.php is not implemented (it is never called). I tried hooking into the `instant_articles_style` filter, but since the `get_article_style()` method is not used anywhere, I am not able to override the article style set in the plugin settings in the WP dashboard.

## Expected Re

[2018-01-26 04:54] karan169 opened #865 "i have a problem with fb instant article"
![image](https://user-images.githubusercontent.com/23138000/35425703-f9a235e2-0282-11e8-9ceb-246091f046b9.png)

How to fix this format issue. please help me with this. I am unable to find a solution

[2018-01-26 09:58] inulaconnect opened #866 "No rules defined for <div class="pvc_clear"> in the context of InstantArticle"
## Steps required to reproduce the problem

1.
2.
3.

## Expected Result

## Actual Result
If your issue is about the error message _No rules defined for ..._. Please do the following.
* Go to the Wordpress editor and open the post
* In the Instant Article plugin section click on _[Toggle debug information]_
* Share both _Source Markup_ and _Transformed Markup_

## Version Info

Please state _exac

[2018-01-26 10:45] inulaconnect commented on #866
<p>अक्सर लड़कों के मन में ये सवाल उठता रहता है कि वे कैसे जानें कि लड़की वर्जिन है या नहीं।<br />
लव मैटर्स पर अगर आप वाकई जानना चाहते हैं कि लड़की वर्जिन है या नहीं ? तो आप अपने रिस्क पर लड़की से खुद ही पूछ लीजिए वो वर्जिन है या नहीं। लेकिन बाद में ये मत कहना कि मैने पिटवा दिया।</p>
<p><img class="alignnone size-full wp-image-312" src="http://www.allindiahindi.com/wp-content/uploads/2018/01/10-6.

[2018-01-26 10:45] inulaconnect commented on #866
<html>
  <head>
    <link rel="canonical" href="http://www.allindiahindi.com/%e0%a4%9c%e0%a4%be%e0%a4%a8%e0%a4%bf%e0%a4%8f-%e0%a4%95%e0%a5%88%e0%a4%b8%e0%a5%87-%e0%a4%b9%e0%a5%8b%e0%a4%a4%e0%a5%80-%e0%a4%b9%e0%a5%88-%e0%a4%b5%e0%a4%b0%e0%a5%8d%e0%a4%9c%e0%a4%bf%e0%a4%a8/"/>
    <meta charset="utf-8"/>
    <meta property="op:generator" content="facebook-instant-articles-sdk-php"/>
    <meta propert

[2018-01-28 10:43] TonySawma commented on #863
Hello .. I am facing the same issue!
I have found a workaround for it until there's a fix.

After your article is published on your website and it says it was submitted to 'Instant Articles',
1) Head over to: https://developers.facebook.com/tools/debug/og/object/
2) Paste your link in the 'Input URL' box
3) Click 'Fetch New Scrape Information'
At this point, the post will be in 'Production' as unp

[2018-01-29 09:46] JFOC commented on #856
Hi,
Sorry for late reply. I still have this problem.
Custom Rules:
`{
    "rules":[
        { "class": "IgnoreRule", "selector": ".comment-author-link" },
        { "class": "IgnoreRule", "selector": "a.url" }
    ]
}`

[2018-01-29 15:28] yeah-sir commented on #863
@stephen4800 Did @TonySawma's workaround fix your issue? We are debugging this issue on our end as well.

[2018-01-29 15:31] yeah-sir commented on #865
@karan169 Can you provide some more information on the input, rules used and the errors you are seeing ?

[2018-01-29 15:33] yeah-sir commented on #866
@inulaconnect Can you provide some information on the HTML input and the rules you that generated this error?

[2018-01-29 15:35] yeah-sir commented on #853
@huzanspenta Can you please provide your source and transformed html? That would help us address this issue

[2018-01-29 15:38] yeah-sir commented on #858
@mauryashivam593 can you please provide the source and transformed markup. That will help us address this issue better

[2018-01-29 16:24] theblackdie opened #867 "you should add data-src transformation rule by default"
I am using wordpress 4.9.2 with PHP7

I realized that some images are treated as img data-src=”blablabla” instead of img src=”blablabla”

That’s weired.

But I added the custom transformation rule:
{
“class”: “ImageRule”,
“selector” : “img[data-src]”,
“properties” : {
“image.url” : {
“type” : “string”,
“selector” : “img”,
“attribute”: “data-src”
}
}

at the end of the json file.

And Eureka. It wo

[2018-01-29 23:23] kuroshi21 opened #868 "Instant article won't display Images and videos"
## Steps required to reproduce the problem

My instant articles won't display images and youtube videos , which are in the article. There is only one article that shows pictures but nothing else, I mean text, only images.

## Expected Result
instant article will show images and videos which are in the article

## Version Info

* Plugin version: Latest (I don't know where to see exact version)
* Wo

[2018-01-30 11:54] stephen4800 commented on #863
It did not work for me either. I have to keep manually adding.

________________________________
From: Yasser Mohammed <notifications@github.com>
Sent: 29 January 2018 15:29
To: Automattic/facebook-instant-articles-wp
Cc: stephen4800; Mention
Subject: Re: [Automattic/facebook-instant-articles-wp] Facebook Instant Article Not Being Submitted To Production (#863)

@stephen4800<https://github.com/ste

[2018-01-30 18:23] vkama commented on #868
Can you share the article's markup and/or repro steps?

Thanks

[2018-01-30 18:25] vkama commented on #867
Can you provide the piece of HTML that was giving you trouble?

Thanks

[2018-01-30 18:31] vkama commented on #863
Hi @stephen4800 and @TonySawma, the plugin now won't automatically send the IA to Facebook anymore. But as sson as you share it, Facebook's crawler will hit your blog and ingest the Instant Article.

Thank you

[2018-01-30 18:31] #863 closed

[2018-01-30 18:38] vkama commented on #862
We have discussed this previously with our team and we opted to not create this feature.

You can return false in the **instant_articles_should_submit_post** filter to prevent the article from being ingested as an IA.

[2018-01-30 18:38] #862 closed

[2018-01-30 19:27] theblackdie commented on #867
<p>امتلاك شعر جميل طويل، قوي ولامع، هو أمنية نتشاركها كلنا. لسوء الحظ، يعاني الكثيرون من تساقط الشعر، من الشعر الرمادي ومن أطراف شعر متكسرة…لكن لنر ما الذي يمكن أن يسبب هذه المشاكل وكيف يمكن أن نعالجها !</p>
<h4>عملية التغيير الطبيعية</h4>
<p>يبدأ الشعر الأبيض بالظهور عندما تتوقف الخلايا الصباغية المسؤولة عن الشعر</a> melanocytes، عن إفراز الميلانين.<br />
مثال على ذلك الشعر الأشقر، الناتج عن إنتا

[2018-01-30 20:37] kuroshi21 commented on #868
![source](https://user-images.githubusercontent.com/35924264/35589974-e7357b5e-061e-11e8-8eed-632ed693fcab.PNG)

![transformed](https://user-images.githubusercontent.com/35924264/35589986-f32bebaa-061e-11e8-9690-a28401b1664d.PNG)

[2018-01-31 11:05] newsbakshiganj opened #869 "Invalid JSON provided for custom rules code"
## Steps required to reproduce the problem

1.
2.
3.

## Expected Result

## Actual Result
If your issue is about the error message _No rules defined for ..._. Please do the following.
* Go to the Wordpress editor and open the post
* In the Instant Article plugin section click on _[Toggle debug information]_
* Share both _Source Markup_ and _Transformed Markup_

## Version Info

Please state _exac

[2018-01-31 13:38] vkama commented on #812
Closing this as the PR @diegoquinteiro was merged.

[2018-01-31 13:38] #812 closed

[2018-01-31 13:49] vkama commented on #549
This issue no longer existis since we are using OG Ingestion now.

[2018-01-31 13:49] #549 closed

[2018-01-31 20:07] Kluny opened #871 "Quicker way to look for FBIA warnings"
We have a client telling us that sometimes in the past they have seen errors/warnings from the FBIA plugin that result in articles not going through to facebook or having missing content. However, they're not able to give me any examples at the moment.

As far as I can tell, the only way to see if an article has a warning is to open the post editor and check the FBIA metabox. This is inefficient s

[2018-02-01 18:16] #864 closed

[2018-02-02 13:08] vkama commented on #869
Hi, can you provide us some info on what exactly is the issue?

Thanks

[2018-02-02 13:13] vkama commented on #871
Hi @Kluny, we do not have such functionality in the plugin.

I feel your pain and this is something I will talk to the team and see if we can come up with a solution.

Thanks for the idea :)

[2018-02-02 13:16] vkama commented on #867
Just to be clear, you have no plugins that create <img> tags? This is a new behaviour of WP 4.9.2?

Thanks

[2018-02-02 13:21] vkama commented on #516
Closing because this is no longer relevant in the 4.x versions.

[2018-02-02 13:21] #516 closed

[2018-02-03 06:56] theblackdie commented on #867
part of the them I am using (publisher theme) have lazy loading
this feature is adding the tag named data-src
that's not a new behaviour of WP

[2018-02-03 10:19] markbarnes opened #872 "Notice: Undefined index: page_id in wp-content\plugins\fb-instant-articles\facebook-instant-articles.php on line 107"
## Steps required to reproduce the problem
1. Visit wp-admin/plugins.php before you set up Instant Articles.

## Expected Result
No PHP notice.

## Actual Result
Notice: Undefined index: page_id in wp-content\plugins\fb-instant-articles\facebook-instant-articles.php on line 107

## Version Info
* Plugin version: 4.0.6
* WordPress version: 4.9.2
* PHP version: 5.6.25

The error occurs because get_o

[2018-02-05 06:14] Rajnikant1012021 commented on #855
article can not convert in instant article need help

[2018-02-09 00:58] trepmal opened #874 "PHP 7.1 Compatibility"
Since PHP 7.1, passing [too few arguments will cause a fatal error](http://php.net/manual/en/migration71.incompatible.php#migration71.incompatible.too-few-arguments-exception)

I've flagged two occurrences of `disabled()` which should pass at least [one argument](https://github.com/WordPress/WordPress/blob/39ce01d83a0bfc06c278d7a0cc098be508fe7f6e/wp-includes/general-template.php#L4327)

 - https:/

[2018-02-09 16:54] popseries opened #875 "Videos not showing in Instant Articles"
## Steps required to reproduce the problem

1. Using Instant Article plugin
2. Videos are not showing up!
3. I already used rules to try to fix the problem.

## Expected Result
A rule/code that fix my problem. My inframe videos (Youtube) are not showing up. And I don't know why.

## Actual Result
Exemple:
Source Markup:

<div id="tps_slideContainer_56538" class="theiaPostSlider_slides"><div class=

[2018-02-09 19:09] dekajayanta commented on #540
Hi,
I am facing the same problem.

[2018-02-12 13:20] reddybang commented on #321
@athinorama Thanks a lot working perfect....

[2018-02-13 05:13] menghao93 opened #876 "all chinese character in transformed marked up turned into question mark."
## Steps required to reproduce the problem

1. Using instant article plugin in wordpress
2.
3.

## Expected Result
Content from post will be transformed to instant article automatically.

## Actual Result
<img width="1119" alt="screen shot 2018-02-13 at 1 02 39 pm" src="https://user-images.githubusercontent.com/5985296/36134450-d70ef1b4-10bf-11e8-9854-5f98241e9a3a.png">

Chinese character turned i

[2018-02-13 12:34] lubimow opened #877 "problem with lazy load"
I'm using the Wp-rocket plugin. When I enabled lazy-load, images in the article instant articles began to appear in this form:

` <img src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs="/>`

How can I fix this?

## Version Info

* Plugin version:  4.0.6
* WordPress version: 4.9.4
* PHP version: 7.1

[2018-02-13 21:19] jerclarke opened #878 "IA version of post doesn't update after being resaved"
## Steps required to reproduce the problem

(UPDATED: Previously I described the old procedure where posts were automatically sent to FB at publish time, because there was no announcement that this had been removed)

1. Publish a post and share it to facebook so IA is published and shows up in Page Manager etc.
2. Edit the post and change content
3. Re-save the post and check the IA version

## Ex

[2018-02-13 22:19] markbarnes opened #879 "Encoding issue with AMP Pages"
## Steps required to reproduce the problem

1. Create a post with extended characters (such as a curly quote)
2.  View the AMP page
3.

## Expected Result
The characters display as expected

## Actual Result
Extended characters are replaced with â.

One example page: https://www.evangelicalmagazine.com/article/who-do-you-think-you-are/?amp_markup=1

This problem doesn't occur with my local devel

[2018-02-14 08:07] Sukhwinder500 opened #880 "Site Tagline not Shown"
## Steps required to reproduce the problem
Hello Everyone Please help me to get out of this. when i update my site #Tagline then its shown in my admin panel of website, But not shown as visitor or front page of my website. Please check the Screen shot Below.

1. Check screen shot 1 Tagline updated and shown from admin panel.
![tagline shown in admin panel](https://user-images.githubusercontent.com

[2018-02-15 13:47] dekajayanta opened #881 "Junk characters like &amp;comma; in Instant Article feed"
## Steps required to reproduce the problem

1. My instant article feed (generated from my Wordpress website) is showing garbage or junk characters like &amp;comma; &amp;period; etc. I can see this in the feed URL as well as FB instant article. At present I have removed the feed from the FB page.
2. You may check the output feed [here](https://thenewsmill.com/instant-articles).
3. I tried to deacti

[2018-02-15 17:43] jerclarke commented on #878
Would love some feedback, including **Works for me!** from anyone. Even **This never worked, what are you talking about** would let me breathe a little easier that I'm not crazy.

[2018-02-15 19:44] mburak commented on #878
Hi @jerclarke, unfortunately automatic updates are not supported anymore out of the box because of some changes in our APIs. In order to update the article you need to use the sharing debugger and re-scrape it, otherwise the FB crawler will fetch it every 30 days. If you rely on the automatic import please use the RSS feed of this plugin instead. Thanks.

[2018-02-15 19:55] jerclarke commented on #878
Wow. Was this mentioned in the changelog and I missed it? This is totally unnacceptable to us as a deleted feature.

This plugin needs to replace this feature with something else (e.g. pinging the API) or have a warning after publishing that edits to the post won't be reflected in IA. Right now the UI strongly implies that the IA version will be up to date!

[2018-02-15 19:56] jerclarke commented on #878
This ticket should be re-opened and addressed please. It describes an extremely important flaw in the plugin, whether the cause was derived from the plugin or from Facebook's API changes.

Bare minimum the resolution of this ticket is adding a note in the changelog.

[2018-02-15 21:36] jerclarke commented on #878
Okay, so I found the change as it relates to this plugin, #798, which was expressed in the changelog like this:

So I guess I shouldn't have freaked out, and should have understood that this meant you had removed an enormous feature from the plugin? This seems a stretch to me. I strongly think this changelog should have been a lot more explicit about the many changes **"remove article rescrape cod

[2018-02-15 22:05] markbarnes commented on #824
I reported the same issue in #879. In my case, the problem is happening on my production server, but not my development server. This would suggest it's either server-related, there's a plugin clash, or it's the wp-config settings. I'm happy to help with debugging.

To answer the diagnostic questions:
Instant Articles works just fine.

From wp-config.php
`define('DB_CHARSET', 'utf8mb4');
define('DB

[2018-02-15 22:38] jerclarke commented on #878
(Comment crossposted from #798 because this is the ticket where the development should happen)

So, now I have looked through all the Graph API changes in the changelog, going back to 2016, and none of them imply that this should be broken, that the scraping endpoint is deprecated, or that this feature should have been removed from this plugin.

* [v. 2.1.2 - Released January 30, 2018](https://dev

[2018-02-15 23:00] markbarnes commented on #824
I've done some more digging on this.

The problem is introducted by the following line in AMPArticle::create():
`$document->loadHTML($instantArticle);`

Prior to that line, $instantArticle looks like this:
`‘Who said growing old had to be graceful?’`

But if I output $document->saveHTML(), I get this:
`&acirc;&#128;&#152;Who said growing old had to be graceful?&acirc;&#128;&#153;`

This is obvious

[2018-02-16 08:57] markbarnes commented on #879
Thanks, @absentio. I'll take the discussion to your post.

[2018-02-16 08:57] #879 closed

[2018-02-16 09:14] markbarnes commented on #824
The problem can be prevented within the instant articles plugin, by ensuring that no extended characters are sent to the AMPArticle:create() method. For example, like this:

[code]

I don't know if that might cause problems with some characters, but it solves the problem for me.

[2018-02-16 10:53] brunomosciatti opened #882 "Insert Adx script"
## Expected Result
See Google DFP (Adx) ads inside Instant Articles

## Actual Result
Cant find the head tag to place my script inside it

## Version Info

* Plugin version: 4.0.6
* WordPress version: 4.8.2
* PHP version: 7+

I'm trying to add my Adx tag inside Instant Article - it should be placed inside head tag but how can I add it there?

Documentation:
https://developers.facebook.com/docs/ins

[2018-02-16 13:52] pestevez commented on #877
Hi @lubimow, thanks for reporting this issue. Since this is related to compatibility with a third-party plugin, our team will treat it as a feature request, so it will be prioritized with the rest of requests.

[2018-02-16 14:05] pestevez commented on #878
Hey @jerclarke - I hear you loud and clear. We are actively working on finding a solution.

[2018-02-16 14:10] pestevez commented on #880
@Sukhwinder500 - is your issue related to the Instant Articles plugin?

[2018-02-16 14:32] pestevez commented on #853
Closing due to inactivity. Feel free to reopen once the required information has been provided.

[2018-02-16 14:32] #853 closed

[2018-02-16 14:33] pestevez commented on #858
Closing due to inactivity. Feel free to reopen once the required information has been provided.

[2018-02-16 14:33] #858 closed

[2018-02-16 14:44] pestevez commented on #882
In the plugin settings there is a section for ads:

![image](https://user-images.githubusercontent.com/18663703/36312822-b46bbd32-12fd-11e8-8197-bb0161049277.png)

The plugin will place the ads code in the right place in the generated Instant Article markup:

![image](https://user-images.githubusercontent.com/18663703/36312879-e2028244-12fd-11e8-9c30-4146d8b713d0.png)

Closing the issue now...

[2018-02-16 14:44] #882 closed

[2018-02-16 16:09] vkama commented on #878
Reopening as we are in discussion for a solution. Thanks for you input @jerclarke.

[2018-02-16 16:58] Sukhwinder500 commented on #880
@pestevez  **No My issue is not related with instant article/**
Issue is My Website Tagline is not shown in Browser , But shown in admin panel "screenshot uploaded" please check tell me if any solution.
Website :- www.postinfo.in

[2018-02-16 17:06] pestevez commented on #880
Please then open the issue in the corresponding GitHub repo. This one only tracks issues related to the Instant Articles WordPress plugin. Thanks

[2018-02-16 17:06] #880 closed

[2018-02-19 10:18] arunbasillal commented on #877
Hey guys,

I am Arun Basil Lal, I work for WP Rocket and I just wanted to share couple of insights.

WP Rocket already has checks in place to disable LazyLoading on feeds and doesn't show up on the default WordPress feeds. Here is the part of the code that corresponds to it: https://github.com/wp-media/wp-rocket/blob/master/inc/front/lazyload.php#L139

If you have any questions related to it, plea

[2018-02-20 18:18] jerclarke commented on #878
What are the possibilities for a solution?

[2018-02-20 18:51] everton-rosario commented on #878
@jerclarke we are working on a solution and in the next days and you should receive a PR from @diegoquinteiro.

[2018-02-21 04:37] diegoquinteiro commented on #878
Hi @jerclarke, thanks for raising this issue and apologies for the issues it caused to you. The current workaround requires you to manually invalidate the scrape for every post you update, and I acknowledge that this is not ideal. Admittedly, also, the communication on the plugin is not clear about this behavior.

Here's how I plan to fix this problem:

- [ ] Add an advanced option on the settings

[2018-02-22 04:39] jerclarke commented on #878
Thank you @diegoquinteiro, this sounds like a good solution! Will read up on the long-lived access tokens tomorrow 👍

[2018-02-23 17:18] jerclarke commented on #878
Alright, I read the article about access tokens. I have two main questions:

**How plugin users get the long-lived access tokens if it is a text field?** The article implies it would be done through the server, so it seems like something the plugin could and should handle for us in the background.

**Can this be done using a single FB app for multiple sites?** The old system for this plugin requir

[2018-02-25 15:42] ellemcgann opened #883 "No rules defined for <div class="wp-caption alignleft"> in the context of InstantArticle"
Hi, when I publish articles, I get warnings for each image posting with the error:

"No rules defined for <div class="wp-caption alignleft"> in the context of InstantArticle"

I've tried to use the passover/ignore rule custom transformer rule and it doesn't work (just get the same error as above), and even if it did work, wouldn't that just make image captions not display? I WANT/need them to disp

[2018-02-25 15:45] ellemcgann commented on #388
Please update, having same issue :(

[2018-02-26 05:56] BijayaChhetri commented on #131
hello i am using  CI framework RSS
but Why did Facebook stop Importing Instant Articles from our RSS feed?
it was working fine
https://business.facebook.com/arghakhanchibulletin
http://arghakhanchibulletin.com/rssfeed

Screenshoot:
https://scontent.fktm8-1.fna.fbcdn.net/v/t39.2229-6/27962857_962433253922549_2554686155849203712_n.jpg?oh=e76a127e65147930d709acf2660b3d5a&oe=5B099222

[2018-02-28 10:45] onlinetushar opened #884 "Amazon Associates Link Builder Plugin And Instant Articles for WP Compatibility Issue"
Please check screenshot ( https://ibb.co/hMD6cc ) and suggest how to solve this error?

Site URL: https://www.missionmpsc.com/

Instant Articles for WP Plugin version: 4.0.6
Amazon Associates Link Builder Plugin version: 1.5.4
WordPress version: 4.9.4
PHP version: 7

[2018-02-28 10:49] onlinetushar commented on #884
This worked for me. Thank You @diegoquinteiro

`{
    "rules":[
        { "class": "IgnoreRule", "selector": ".fb-comments" },
        { "class": "IgnoreRule", "selector": "comments-count" }
    ]
}
`

[2018-02-28 17:05] codeslane opened #885 "Empty Article Error"
Empty Articles: You have one or more articles without any content. Error on Facebook. Even after feed link working perfectly

[2018-03-01 11:09] VanasriJithendar opened #886 "Future image not showing for my Facebook Instant Articles"
Future image not showing on my Facebook Instant Articles when I add youtube video in the article. Please check the attached screenshot for reference.

I have enabled Use video in News Feed link preview when available later I disabled it. But the problem is still annoying. Please give me a suggestion.

![screenshot_20180226-223113](https://user-images.githubusercontent.com/20453233/36841677-0dd20fe

[2018-03-01 19:04] lubimow commented on #877
@pestevez Please read the comment above

[2018-03-01 23:22] bsgies opened #887 "How to scrape articles to development library"
Hi,

Can anyone tell me how to scrape content to Development articles Library first before pushing it to Production Library?

I could not find any development FEED URL that I can enter in Instant article configuration section.

Please HELP!

Regards,
Bilal

[2018-03-02 12:07] FagnerCA opened #888 "Issue with some divs"
I have tried to make a transformation rule for all of this DIVs but it is not working.

My Source Markup:

[code]
My Transformed Markup:
[code]

## Version Info

* Plugin version: 4.0.6
* WordPress version: 4.9.4
* PHP version: 5.6.31

Without the above information we are not able to debug the issue and will close it.

[2018-03-02 12:25] vkama commented on #884
I am sorry, we don't support 3rd party plugins.
More information about how to create custom rules here: https://developers.facebook.com/docs/instant-articles/sdk/transformer-rules

[2018-03-02 12:25] #884 closed

[2018-03-02 12:26] vkama commented on #885
Hi @codeslane, can you provide more info about the problem you are facing?

[2018-03-02 12:34] vkama commented on #886
Are you following these guidelines here:
https://developers.facebook.com/docs/instant-articles/design/videolink
I think Youtube embeds are not supported, you have to link to the actual video file for it to work.

[2018-03-02 12:37] vkama commented on #887
This is the document for the ingestion:
https://developers.facebook.com/docs/instant-articles/crawler-ingestion

Also, in the plugin under Publishing Settings you can click the checkbox to enable the Development Mode, so it will go to your development feed.

[2018-03-02 12:37] #887 closed

[2018-03-02 12:38] VanasriJithendar commented on #886
Yes. I have disabled Use video in News Feed link preview. But still getting problem.

[2018-03-02 12:39] vkama commented on #26
Closing. If this is still an issue, please reopen.

[2018-03-02 12:39] #26 closed

[2018-03-02 12:48] bsgies commented on #887
Hi Vkama,

Thanks for your response. I understand what you said by I'm just curious to know if there's a link to the development feed which I can go and enter into the Instant articles configuration section and refresh anytime.

I hope I made it more specific to you now.

Regards,
Bilal

[2018-03-02 14:46] bsgies opened #889 "How do I remove articles from Instant article feed?"
Hi,

I've had an issue with an article and I have deleted it from my production library. A few moments later the article is back up again in my production library. The reason for that is Facebook recrawled the RSS feed and found the article to be there.

But only if I can manage which article can be in my RSS feed will allow me to only send those articles to the Facebook production library.

Can s

[2018-03-02 15:48] codeslane commented on #885
@vkama,

I'm attaching the screenshots. I don't know why I'm getting empty articles errors on few articles. But, the rest articles are publishing perfectly.

PS: I haven't done any changes in server, plugin or installed any other plugins recently.

<img width="984" alt="empty article" src="https://user-images.githubusercontent.com/26877201/36907690-3fd6b6ee-1e5f-11e8-8f97-daee98e360b9.png">
<img w

[2018-03-02 15:52] codeslane commented on #886
@VanasriJithendar, Can I see the list of plugins you're currently using. Also, Double check that you have set the featured image or not.

Also, have you tried facebook debugger to get the status of your OG.
If not, try debugging your URL here: https://developers.facebook.com/tools/debug/

Let me know if this works.

[2018-03-02 16:00] codeslane commented on #886
@VanasriJithendar, As I can check & found that the image is fetching properly. But, the issue is that your featured image size isn't perfect/ up to the mark. Please check the size.

<img width="524" alt="debugger1" src="https://user-images.githubusercontent.com/26877201/36908242-b789aa6a-1e60-11e8-80f9-060e067be702.png">
<img width="1068" alt="debugger" src="https://user-images.githubusercontent.c

[2018-03-04 18:44] maungthuu opened #890 "How to put RSS feed text on footer of the content?"
Hello all,

I'm finding a method to put this RSS text on the footer of every post in Instant Article. Please see the attachment.
![content-feed](https://user-images.githubusercontent.com/11045808/36949117-72a89876-2012-11e8-9aff-59ef92129fff.png)

Thanks

[2018-03-05 07:45] noideaxd opened #891 "Long Paginated Posts Causing PHP to crash"
When trying to produce a large paginated post into an instant article, we are timing out and site the is crashing. The only way to recover is to restart PHP.

PHP Version is 7.0
Plugin Version is 4.0.6

We are running on NGINX

Using New Relic Tool to monitor PHP

fb-instant-articles taking over 1700seconds with wp_head (900seconds) and do_feed_instant-articles (800 seconds) taking the longest see

[2018-03-05 17:52] jerclarke commented on #878
Excited to hear any updates about this.

[2018-03-05 18:07] FrancescJR opened #892 "AMP canonical and publisher issue"
I am really sorry I can't really reproduce the error, so please be free to close the issue if you feel appropriate, it's just I feel that some AMP pages are not created properly  with this 2 issues:
1. canonical is not set properly (for some reason google crawled some post with  weird canonical href - for example the author of the post instead ). This would be one of the page google complains of:

[2018-03-06 00:15] jerclarke commented on #878
For anyone with authors that need to be informed about this bug, this article I wrote for our editors should be helpful so they can understand how the Sharing Debugger can overcome the limitation in the plugin.

[Facebook Instant Articles: Thou shalt re-scrape thine articles after important edits	](https://community.globalvoices.org/2018/03/facebook-instant-articles-thou-shalt-re-scrape-thine-arti

[2018-03-06 01:58] dekajayanta commented on #881
What to do with this now? Any update?

[2018-03-06 10:05] bsgies opened #893 "Instant Article Mass Update Issue"
Hi everyone,

I have made some changes in IA’s setting like I’ve embedded a new tracking script. Now what has already been scraped by Facebook doesn’t have my new tracking code in its source code. The only option left is to open WordPress post one by one and click update so that a newer version can be sent to Facebook via RSS. Is there any quicker way I can send the new version of all my blog post

[2018-03-06 17:04] nstrazimiri opened #894 "This post was transformed into an Instant Article with some warnings"
## Steps required to reproduce the problem

1. Hello I have a wordpress website where i have installed Facebook Intant Articles. For every article it keeps me showing that i have transformation warning. My server is Ubuntu 14. I moved my website from my actual server to another one, and it works perfect.Always using same theme, same plugins. So maybe i thought i miss any php extension. I googled a

[2018-03-07 07:09] shaibo10 opened #895 "Playbuzz Plugin new version using new embed code"
##

In the next version of Playbuzz WordPress Plugin, the plugin will use the new (v3.0.0) Playbuzz embed code, and you are not supporting it in your plugin

The new embed code will look like this:
[code]

Plus some attributes for supporting other WordPress plugins that use Playbuzz Embed v2

Testing it is easy:
1. Use Playbuzz Plugin version <= v1.0.6
2. Copy this embed code to your wordpress pos

[2018-03-07 07:29] VanasriJithendar commented on #886
@codeslane I have updated with 1200 * 780 size image but same problem..

[2018-03-07 10:33] VanasriJithendar commented on #886
I think the problem is with og:type. Can any one tell me that how to change og:type video.other to article.

[2018-03-07 14:55] #886 closed

[2018-03-08 17:00] jerclarke commented on #895
There should really be a filter that external plugins can use to insert extra JSON into the transformer rules, that way this code could be in the Playbuzz plugin instead.

Having to manage patches like this one is a senseless pain for the IA plugin devs. Setting up a good filter would save IA dev time as well as making it so WAY more plugins would add IA support on their end.

We do this in our pl

[2018-03-08 18:43] everton-rosario commented on #895
Thats a great idea @jerclarke.
Would you be up for sending a PR with this approach?

[2018-03-08 19:16] mburak commented on #889
Hi @bsgies, this plugin builds the RSS based on your published posts, so if you don't want any of them to be on your feed, you'd need to unpublish/delete your post from Wordpress. If you need other kind of configuration you would have to create a custom feed and use that.
I encourage you to stop using the RSS feed which doesn't give you any flexibility, so once you create an article in Wordpress a

[2018-03-08 19:16] #889 closed

[2018-03-08 20:38] mburak commented on #892
I'm sorry @FrancescJR but I couldn't reproduce this either, please feel free to create a new issue if you have more context on how to reproduce it. Thanks!

[2018-03-08 20:38] #892 closed

[2018-03-08 21:10] mburak commented on #893
Hey @bsgies, this would be a great addition to the plugin! Unfortunately we cannot do bulk updates at the moment. We are a implementing some features that would help to add this functionality in the future.
In the meantime what you can try is to use some Wordpress bulk-update plugin to update the modified time for the posts so the next time the RSS is fetched it would re-scrape all the articles.

[2018-03-08 21:18] mburak commented on #894
Hi @nstrazimiri, I'm not seeing any warning using your source html.
Do you have any custom rule? Also, could you share the warning that you are getting? Thanks!

[2018-03-08 22:50] jerclarke commented on #895
I'll consider it, but it would have to wait for a time when I really needed it. Since we already have our solution (albeit hacky) set up, I don't actually need this myself.

[2018-03-09 04:03] maungthuu commented on #890
Hi @mburak

For temporary, I just added main website link instead of post url link in footer credit section.
It'll be awesome if we can add dynamic post url in the footer section.

Thanks

[2018-03-09 04:07] maungthuu commented on #893
Hi @bsgies

You can bulk update posts from Wordpress>Posts.

Select Posts you want to edit > Select Edit  > and Just click Update Button.

It's done.

[2018-03-09 04:15] maungthuu commented on #877
Hi @lubimow

Put this code in Custom Transformer Rules.

`{
    "rules": [{
        "class": "ImageRule",
        "selector": "img[data-src]",
        "properties": {
            "image.url": {
                "type": "string",
                "selector": "img",
                "attribute": "data-src"
            }
        }
    }]
}`

[2018-03-09 08:07] nstrazimiri commented on #894
Hello @mburak ,

Below is my code from my wordpress admin.
The errors that i get are:
No rules defined for <img> in the context of Anchor
No rules defined for <p> in the context of Anchor
I don't have any custom rule. I tried some but none of them works, i keep geting the same errors.
As i said before, the same content, in another server works just fine.
[code]

[2018-03-09 14:41] mburak commented on #586
Closing due to inactivity, please reopen if you still need help and can provide the required information for us to be able to help.

[2018-03-09 14:41] #586 closed

[2018-03-09 14:41] mburak commented on #869
Closing due to inactivity, please reopen if you still need help and can provide the required information for us to be able to help.

[2018-03-09 14:41] #869 closed

[2018-03-09 14:42] mburak commented on #860
Closing due to inactivity, please reopen if you still need help and can provide the required information for us to be able to help.

[2018-03-09 14:42] #860 closed

[2018-03-09 14:42] mburak commented on #865
Closing due to inactivity, please reopen if you still need help and can provide the required information for us to be able to help.

[2018-03-09 14:42] #865 closed

[2018-03-09 14:43] mburak commented on #866
Closing due to inactivity, please reopen if you still need help and can provide the required information for us to be able to help.

[2018-03-09 14:43] #866 closed

[2018-03-09 14:44] mburak commented on #868
Hi @kuroshi21, could you share the source HTML as text so we can debug it? Thanks!

[2018-03-09 18:18] mburak commented on #894
@nstrazimiri it's weird, that should work very straightforward, there are already default rules taking care of that. What plugins are you using?

[2018-03-09 18:34] mburak opened #897 "Allow other plugins to insert their own rules"
It would be good to add a filter that other plugins can use to insert extra JSON into the transformer rules.

Having to manage external plugin rules inside the IA project is not appropriate and would also make development faster on other plugins that want to implement IA support.

[2018-03-09 19:36] jerclarke commented on #586
FWIW I suspect the solution was just to remove the bold tag that was wrapped around the image, and put it around whatever text it was supposed to apply to.

IA format is extremely restrictive and it really hates "things in things" formatting, and chokes on a lot of otherwise totally normal HTML nesting (e.g. headings inside blockquotes, which are impossible).

[2018-03-09 19:48] jerclarke commented on #890
FWIW this is possible using the [WP Filter API](https://developer.wordpress.org/reference/functions/add_filter/#more-information) and the `instant_articles_content` filter in this plugin.

We use code similar to below to insert our author credits at the bottom of the post:

[code]

Be very careful though, you need to ensure all the code you add is up to the IA spect. For example we used `<footer>`

[2018-03-09 20:00] jerclarke commented on #897
Proposed properties of this change:

- Handle [Transformations](https://developers.facebook.com/docs/instant-articles/sdk/transformer-rules) not as JSON, but as PHP data.
- Store default Transformations as an array inside the plugin, then, only at render time, convert it into JSON for output.
- Allow plugins/themes to filter the array, adding their own values and removing existing ones.
   - Alter

[2018-03-10 00:14] bujaris opened #899 "I can not activate any page for setting up instant articles, it does not list my pages at all!"
## Steps required to reproduce the problem

1.
2.
3.

## Expected Result

## Actual Result
If your issue is about the error message _No rules defined for ..._. Please do the following.
* Go to the Wordpress editor and open the post
* In the Instant Article plugin section click on _[Toggle debug information]_
* Share both _Source Markup_ and _Transformed Markup_

## Version Info

Please state _exac

[2018-03-10 03:12] news2nepal commented on #715
I have problem on adsense theme. When I post text content only then feature image will disply on facebook sharing. But if I include youtube embeed then feature image  will not show on facebook. What id the solution please does anyone know?

[2018-03-10 08:52] jjsnjan commented on #584
it works

[2018-03-10 11:14] BabysMutu opened #900 "No rules defined for <aside class="mashsb-container mashsb-main mashsb-stretched"> in the context of InstantArticle"
Hi, i like mashshare plugin but after insteling this plusgin i fount error on InstantArticle when i try to post upadte the i got error like this - No rules defined for <aside class="mashsb-container mashsb-main mashsb-stretched"> in the context of InstantArticle

Submit this article even with warnings  | can i submit this artilcle by checking this or need to fix please help !

thank you

[2018-03-10 12:29] lubimow commented on #877
@maungthuu Thanks, this solved my problem

[2018-03-10 20:43] algmelo opened #901 "Bug - Transients created in autoload=true, on table wp_options"
## Steps required to reproduce the problem

1. Insert a embed on post content (Youtube, Facebook, Twitter or Instagram)
2. Access this post
3. Verify MySQL table wp_options, and run this query:

SELECT option_name, option_value
FROM wp_options
WHERE autoload = 'yes'

4. See the result, and you'll find something like this:

option_name

[2018-03-11 16:51] nstrazimiri commented on #894
@mburak , i use the official plugin from wordpress.org page : https://wordpress.org/plugins/fb-instant-articles/
 that's why I posted here, because i didn't find anything similar to the web.

[2018-03-11 19:40] elisabertoldi opened #902 "AAWP plugin trasformer rules"
I like to transform this HTML code:

[code]

## Expected Result

I expect this result:
`<a href="href="MYURL">Gli Aristogatti (Special Edition)</a>
`
and I also like to show also the image...but the url image is in the attribute style="background.url...

I use this rules:
{"class" : "PassThroughRule","selector" : "div.aawp"},{"class" : "PassThroughRule","selector" : "div.aawp-product"},{"class" :

[2018-03-12 22:42] jerclarke commented on #900
You need to learn to use IA  [Transformations](https://developers.facebook.com/docs/instant-articles/sdk/transformer-rules) to tell IA what to do with the `aside.mashsb-container` HTML. This is very complicated.

Here's an example ticket where I include the solution to a similar problem: #732

Related ticket about making support for custom HTML via. IA Trasformations easier to accomplish: #897

[2018-03-13 17:03] SeanWP opened #903 "Text Characters >,<, & (HTML &lt; &gt; and &amp;) do not convert"
## Steps required to reproduce the problem

1.  Text characters >, <, and & convert to "& lt;" "& gt;"  and "& amp;" in html.
2.  Plugin does not convert  "& lt;" "& gt;"  and "& amp;"  to text symbols in FBIA markup.
3.  Is there a way to create a transformer rule to replace "& lt;" "& gt;"  and `"& amp;"` with the corresponding text symbols, or alternatively, the text "less than" "greater than"

[2018-03-14 03:30] everton-rosario commented on #878
@jerclarke This PR #904 brings a functional setup where you can start using and let us know about your tests.

It is still a work in progress given I need to treat better if any misconfigured setup is done and then no message is being show for that particular setup problem. If you configure with correct app ID, app secret and page access token it is working perfectly.

You can generate your page a

[2018-03-14 15:56] mburak commented on #895
Fixed by #896

[2018-03-14 15:56] #895 closed

[2018-03-14 20:39] jerclarke commented on #878
Okay I will test this and see what happens.

Can you describe the expected workflow a normal user would follow for this system?

Specific instructions for what to do with the explorer?

How do I keep 50 sites working using this system?

[2018-03-14 21:20] jerclarke commented on #878
More questions that every user will need to be able to answer:

What should I use as my "Privacy Policy URL" for my app?

[2018-03-14 22:41] eustasskid commented on #638
I checked my site again using PHP Compatibility Checker plugin to verify if the site is compatible with PHP 7.1, I'm getting this error.

`FILE: /home/mysite/public_html/wp-content/plugins/fb-instant-articles/vendor/facebook/graph-sdk/src/Facebook/PseudoRandomString/McryptPseudoRandomStringGenerator.php
-----------------------------------------------------------------------------------------------

[2018-03-15 03:34] maungthuu commented on #877
@lubimow glad it helps.

[2018-03-15 05:34] yeah-sir commented on #899
Hi @bujaris can you please provide more details on what you are looking to do achieve and the errors you are seeing during the setup?

[2018-03-16 20:46] wle8300 commented on #785
@anthonykantara I'm encountering this issue. How'd you fix it?

[2018-03-17 09:42] biswanathtoday24 opened #906 "facebook.com/biswanathtoday24"

[2018-03-19 14:37] everton-rosario commented on #885
Hey @codeslane , looks like your transformed articles have no paragraphs nor texts.
This print shows an empty article within the tags `<article><body></body></article>`.
By empty I mean: There is now images, no titles, no paragraphs nor any other component then the `op-tracker` and the `footer`.
Can you share your article URL and the content those articles have?

We need you to click in the link "

[2018-03-19 15:43] VanasriJithendar commented on #57
Where to paste the code @jerclarke

[2018-03-19 16:32] jerclarke commented on #57
@VanasriJithendar In the functions.php of your theme, or [create a simple WP plugin just to include this code](http://webcraft.tools/how-to-create-a-simple-wordpress-plugin/).

[2018-03-21 20:28] pasqualehun opened #907 "Custom image as cover media ACF"
## Steps required to reproduce the problem

1. Add filter to instant_articles_cover_media
2. Use get_field('NAME_OF_CUSTOM_IMAGE_FIELD')
3. It doesn't load the field, and cannot access the path to the image

## Expected Result
To have cover photo from ACF.
[code]

## Actual Result
The get_field('facebook_image') is null. But if i append get_field('facebook_image')['url']  to the content in the 'in

[2018-03-21 21:00] wle8300 opened #908 "Embedding JW video players will strip the markup inside <iframe>"
## Steps required to reproduce the problem

1. Paste a JWP video embed (https://jwplayer.com). Using the "Text" tab of course
2. Publish the post!

[code]

## Expected Result

It would preserve everything nested in the `<iframe/>` and wrap with `<figure class="op-interactive"/>`

## Actual Result

_Source Markup_
[code]

_Transformed Markup_
[code]

## Version Info

* Plugin version: 4.0.5
* WordP

[2018-03-21 21:54] Kluny commented on #871
@mburak, wondering if I could get a review or merge?

[2018-03-22 01:55] HongPong commented on #669
FYI more broadly speaking, you might want to look at different browsers. see https://support.mozilla.org/en-US/questions/1189443 & https://stackoverflow.com/questions/47363501/embedded-twitter-post-not-working-in-wordpress

It seems in some cases twitter embeds in general vary by browser: ok in "IE11, Edge, Safari and Opera, but not in Firefox, Chrome and Maxthon".

[2018-03-22 19:44] jerclarke commented on #871
Just want to say I love the concept of this patch so much! Will really help admins who want to quickly audit how things are going (and be a useful red flag for managing editors if they see any red or a lot of yellow).

(would test it myself but waiting for feedback about a composer bug)

[2018-03-23 21:11] everton-rosario commented on #669
@J0ker98 or @HongPong if you are facing this issue, can you please open a new issue with proper reproducible steps?
This way we can investigate better.

Thanks for reporting.

[2018-03-24 12:58] Singletrackmark commented on #877
We have the same problem. I've added the custom rule above to our IA plugin. Do I have to go back and republish all affected articles now?

[2018-03-24 21:04] bujaris commented on #899
The problem is the following: I have many facebook pages where I am the
admin and when I try to apply for instant article it keep saying me "You
have to be an admin to apply for instant article". Any help for this?

Bujar Ismaili
Student

Faculty of natural sciences and mathematics
<http://www.pmf.ukim.edu.mk/web/pages/news>
"Ss Cyril and Methodius" University in Skopje
Pravda Spasovska, 13
1300 K

[2018-03-27 14:06] zomidaily commented on #874
Is this plugin compatible with PHP 7.1 yet? Regards,

[2018-03-28 22:37] jerclarke commented on #878
Alright, I now have the plugin set up locally with the `fix/auto-update` branch, so I can see the `Facebook App ID`, `Facebook App Secret` and `Page Access Token` fields.

Can you please reply with instructions on how to use them to get it working?

[2018-03-29 11:16] timjacobi commented on #903
duplicate of #881

[2018-03-29 11:16] #903 closed

[2018-03-30 07:43] maungthuu commented on #877
@Singletrackmark you need to update affected articles again.

[2018-03-31 20:36] moyanerd opened #911 "Transform Rule for SlickQuiz"
## Steps required to reproduce the problem

1. No rules defined for <div class="slickQuizWrapper"> in the context of InstantArticle
2.
3.

## Expected Result
I wanted to learn how to allow the quiz from slickquiz to be shown in my instant article post.

## Actual Result
If your issue is about the error message _No rules defined for ..._. Please do the following.
* Go to the Wordpress editor and op

[2018-03-31 20:43] lubimow commented on #877
@maungthuu Hey. I again do not see a link to the image. Help, what to do?

[2018-04-01 15:02] #908 closed

[2018-04-01 15:18] wle8300 opened #912 "<p> tags in <blockquotes> get stripped"
## Steps required to reproduce the problem

1. Use `<blockquote>` in "Text" tab.
2. Add a bunch of text with multiline carriages
3. Close using `</blockquote>`

[code]

## Expected Result

Wordpress wraps lines with `<p>`, and InstantArticle uses the pre-defined `PassThroughRule` to preserve `<p>`

I know that there's a pre-defined rule for [`blockquote p`](https://github.com/Automattic/facebook-i

[2018-04-03 05:08] samborcia opened #913 "Instant Articles suddenly not working"
Two days ago my Instant Articles suddenly stopped working. In WordPress it shows it was successfully transformed to an IA like usual. I run it through the debugger and it shows "Yes" as an Instant Article. I check in my "Production Articles" tab on my Facebook page and the article shows "Live" there. However, once I post it on my Facebook page, it doesn't display as an Instant Article in the news

[2018-04-03 16:39] jerclarke commented on #913
I couldn't reproduce this myself, but didn't test it carefully. That said, several people on the [Instant Articles Open Source FB Group](https://www.facebook.com/groups/629655867187397/permalink/995679977251649/) were having the same problem: Inexplicable failure for IA version to get rendered on mobile despite everything seeming okay in WP and on the FB Page Settings backend.

[2018-04-04 04:04] samborcia commented on #913
Yes, it seems like others have the same issue too. Is there anyway to contact Facebook directly and report this?

[2018-04-04 13:09] pestevez commented on #913
Hi @samborcia - is there a sample URL you can share with us? This repo is related to the creation of the Instant Articles markup and submission to Facebook, which based on your description is working, but I can try to troubleshoot from my end to see if anything jumps at me.

[2018-04-04 15:38] ghost opened #914 "No rules defined for <pre class="brush: java; title: ; notranslate"> in the context of InstantArticle"
i am using instant article plugin in my wordpress blog and i am using syntaxHighlighter plugin to decorate my source code so that user can read it easily but when i write my code inside [java]mycode[/java, instant article plugin shows this error "No rules defined for `<pre class="brush: java; title: ; notranslate">` in the context of InstantArticle" how to solve this please help me :)

[2018-04-04 17:13] samborcia commented on #913
Website: https://www.lakemchenryscanner.com
Facebook: https://www.facebook.com/LakeMcHenryScanner

[2018-04-04 18:24] pestevez commented on #914
Hi @ranbahadurbk. This is covered in the Frequently Asked Questions section of the [readme](https://github.com/Automattic/facebook-instant-articles-wp/blob/master/README.md). Can you please check there under **What does the “No rules defined for ____ in the context of ____” warning mean?**

[2018-04-04 19:45] pestevez commented on #913
Thanks for the links. I don't see any issues related to the IA generation. I think you should try in the recommended Facebook group. Closing this one now...

[2018-04-04 19:45] #913 closed

[2018-04-05 01:51] moyanerd commented on #911
Anyone know how to add a quiz to work with instant articles?

[2018-04-05 13:58] pestevez commented on #911
Hey @moyanerd. For anything related to missing rules please refer to the Frequently Asked Questions section of the [readme](https://github.com/Automattic/facebook-instant-articles-wp/blob/master/README.md) file.

Also, the description of your issue still has some of the information from the New Issue template that has a description of the steps you need to take and the information you need to prov

[2018-04-05 14:36] pestevez commented on #912
Hey @stephdau. Thanks for your detailed description. I will take a look to see if I can reproduce the issue. I will keep you posted.

[2018-04-05 16:58] pestevez commented on #912
I was able to reproduce the problem and I could not find a set of rules to keep the paragraph.

I was checking the [documentation](https://developers.facebook.com/docs/instant-articles/reference/blockquote) and it is not clear whether rich HTML is allowed inside the blockquote. However, I ran a few tests creating the markup manually and the Instant Article kept the paragraphs inside.

I will go ah

[2018-04-05 17:54] wle8300 commented on #912
Thx for checking this out!

This isn’t something that could be quickly changed in the transformer?

Sent from my iPhone

[2018-04-05 18:53] pestevez commented on #912
I'd say it is likely a not too difficult change. However, it will have to be prioritized with the rest of the outstanding tasks.

I'm happy to review a pull request addressing this problem, though.

[2018-04-05 23:56] jerclarke commented on #912
So from our experience the ban on `blockquote>p` is part of the overall nesting intolerance inherent to IA. There's no way to have such nesting because of [**Rule Context**](https://developers.facebook.com/docs/instant-articles/sdk/transformer-rules#rule-context) (this doc is VERY hard to find OMG, why is it not linked from the docs of every element type?!?)

@pestevez It would be really great if

[2018-04-06 01:24] wle8300 commented on #912
Whoa this is next level developer fanaticism. I like it!

What we’re doing now is exactly like what you said. Just using the “Text” tab, using blockquotes and manually inputing <br> tags to simulate different paragraphs.

This option shouldn’t be seen as anything more than a “hack.” It works but I’m pretty sure the writers really hate having to write HTML. I don’t blame them.

I guess it is what i

[2018-04-06 12:36] Honey2580 commented on #899
The problem is the following: I have many facebook pages where I am the
admin and when I try to apply for instant article it keep saying me "You
have to be an admin to apply for instant article". Any help for this?

[2018-04-06 12:36] Honey2580 commented on #899
Done alot of things by searching on Google did'nt find any useful results kindly help

[2018-04-06 12:49] Ironir opened #915 "Instant Articles Configuration problem"
Hello, I have a problem with the instant articles configuration, I submitted the articles for review, but it says that my articles contain visible code.

![screenshot_8](https://user-images.githubusercontent.com/34078470/38421978-5feaf21e-39a9-11e8-9b7f-c23cdd38bce2.jpg)

![screenshot_9](https://user-images.githubusercontent.com/34078470/38421979-600aab4a-39a9-11e8-87b9-081839b12d6a.jpg)

What sho

[2018-04-06 13:33] pestevez commented on #915
Hey @Ironir. Can you please share the Source and Transformed markup for any of those articles? The Frequently Asked Questions of the [readme](https://github.com/Automattic/facebook-instant-articles-wp/blob/master/README.md) has some instructions on how to do it.

Also, can you please share which version of the plugin you are using?

By the way, based on the screenshot, it looks like the main reaso

[2018-04-06 13:49] Ironir commented on #915
Hey @pestevez I'm not sure what are you asking for but hope this is it
![screenshot_14](https://user-images.githubusercontent.com/34078470/38424566-c0fe4e18-39b1-11e8-85b6-0eb3c72181ef.jpg)
The plugin is the latest version Version 4.0.6.
Yeah I created my own style before I applied, but now I deleted it and only uploaded the logo to the default style... could this be the reason?

[2018-04-09 07:00] javed7744 commented on #131
General Errors: Empty articles: You have one or more articles without any content
i have the same problem

[2018-04-09 07:51] zukiii opened #916 "Our review team examined a sample of your articles and found some problems Please address these issues before submitting again ! Help Me Please"
## Steps required to reproduce the problem

1.
2.
3.

## Expected Result

## Actual Result
If your issue is about the error message _No rules defined for ..._. Please do the following.
* Go to the Wordpress editor and open the post
* In the Instant Article plugin section click on _[Toggle debug information]_
* Share both _Source Markup_ and _Transformed Markup_

## Version Info

Please state _exac

[2018-04-09 07:52] zukiii commented on #916
Our review team examined a sample of your articles and found some problems
Please address these issues before submitting again

Update Your Style Formatting
Additional Detail from your Reviewer:
Make sure that text is aligned the same in both the web version and the Instant Article. Within the <html> tag you can specify dir="rtl" for right to left. If you don't specify it will be left to right by

[2018-04-09 07:53] zukiii commented on #916
<html>
 <head>
   <title>Buying Chips Or Air???</title>
    <link rel="canonical" href="http://oekcha.com/buying-chips-or-air/">
<meta charset="utf-8">
  <meta property="fb:article_style" content="Nepalipaan"></head>
<link rel="canonical" href="http://oekcha.com/buying-chips-or-air/">
<meta charset="utf-8">
<meta property="op:generator" content="facebook-instant-articles-sdk-php">
<meta property="

[2018-04-09 08:43] demetrox opened #917 "how to make plugin detect my video as thumbnail in instant article?"
## Steps required to reproduce the problem

1. i install plugin featured video plus
2. its auto replace featured image with video selected
3. successful display video as my featured video in website but not in instant article

## Expected Result
featured video auto display in instant article like code below

`<header>`
`<figure>`
  `<video>`
    `<source src="http://mydomain.com/path/to/video.mp4"

[2018-04-09 11:54] zukiii commented on #916
<html>
  <head>
    <link rel="canonical" href="http://oekcha.com/bollywood-legend-salman-khan-now-prisoner-no-106-in-battle-for-safeguard/"/>
    <meta charset="utf-8"/>
    <meta property="op:generator" content="facebook-instant-articles-sdk-php"/>
    <meta property="op:generator:version" content="1.9.2"/>
    <meta property="op:generator:application" content="facebook-instant-articles-wp"/>

[2018-04-09 11:54] zukiii commented on #916
<p>NEW DELHI: Bollywood genius Salman Khan, now Prisoner 106, should spend in any event one more night in prison as he battles a five-year jail term for slaughtering imperiled natural life.</p>
<p>Khan, one of the world&#8217;s most generously compensated performing artists, was detained Thursday after a court indicted him for killing uncommon elands known as dark bucks on a chasing trip while sho

[2018-04-09 12:41] anuppoudel54 opened #918 "Facebook instant article cannot resubmit"
Facebook reviewed my request and told me there were some errors in my articles.I deleted those articles but the error is still there.
![screenshot 9](https://user-images.githubusercontent.com/28307225/38498221-6af07824-3c23-11e8-8768-542002fd65cf.png)

[2018-04-10 12:18] codeslane opened #919 "Crashing MultiSite when Articles published"
Crashing Multisite when any new article is published.

[2018-04-10 21:04] moyanerd commented on #911
Thank you for replying. I tried to join the Facebook Instant Articles group but my request to join group was never accepted. This is what I get as a markup from the slickquiz plugin. I don't know much about coding but would appreciate it if you could guide me in creating a rule for this plugin or for any plugin. Unless you know of a quiz plugin that works with instant articles with out having to c

[2018-04-10 21:37] jerclarke commented on #878
@everton-rosario Still waiting for the instructions outlining the steps that are expected to work with this patch.

In the meantime it looks like FB have changed the way tokens work:

* [Announcement of all changes that were going to happen](https://developers.facebook.com/blog/post/2018/04/04/facebook-api-platform-product-changes/)
* [Announcement that user access tokens are changing](https://dev

[2018-04-10 21:46] jerclarke commented on #911
@moyanerd There is no way you could use Transformations to convert this code into Instant Article-safe HTML. It's impossible to have any kind of custom `<div>` in Instant Articles, and even less possible to have a `<h3>` in anything but the root of the document (i.e. you couldn't even have `blockquote>h3` or something similar that would "simulate" the div).

On top of that, even if you did manage

[2018-04-11 14:08] pestevez commented on #912
Hey guys, here are my two cents:

* I agree we need to improve the documentation at multiple levels
* There are different types of docs:
    * The Instant Articles format docs
        * This defines the format itself, so the concept of Permitted Context does not have a meaning here
        * One example of this type of doc is the definition of the [blockquote](https://developers.facebook.com/docs/

[2018-04-11 16:38] moyanerd commented on #911
Thank you for your response. This helps. Now I know how to look for a plugin that will help me and to not count on the ones that do not use iframe.

[2018-04-11 19:31] everton-rosario commented on #878
Sorry @jerclarke I might have misunderstood that you were already unblocked by the last time we contacted.
If any token stops working, a response with "Expired access token" will return, then you should generate another one.

To generate one you can use the Graph API Explorer, or implement the calls by yourself.
Im exemplifying here the flow on the Graph API Explorer:
1. Access the tool: https://d

[2018-04-11 19:38] jerclarke commented on #912
Thanks for the clarification @pestevez

...

Okay that makes some sense I suppose, but obviously you understand why the existing docs are incoherent to users. The "Permitted Context" docs, regardless of whether they are in the SDK or in the  "format" docs, are the only place where appropriate inheritance is broached, and thus the only reference for why this natural use of `blockquote>p` fails in t

[2018-04-11 19:52] jerclarke commented on #878
Thanks @everton-rosario for this answer to how to get a token to put into the plugin.

Do you think this is the right number of steps for plugin users to follow?

I would appreciate answers to my other questions I asked, both for general information and in light of the recent changes to the API:

Can you please figure out and explain here how this will affect the patch and proposed system for havi

[2018-04-12 08:49] mail47002 opened #920 "The plugin does not publish articles on facebook"
Good day. I have a problem with the plugin for wordpress instant articles
The plugin does not publish articles on facebook, although the article shows that everything is ok.
http://joxi.net/E2pzaNpf9g8K7r

## Version Info
* Plugin version:  4.0.6
* WordPress version: 4.9.5
* PHP version: 7.0

Without the above information we are not able to debug the issue and will close it.

[2018-04-12 11:18] everton-rosario commented on #878
I don't think this is the best solution or best number of steps, this is just a temporary solution, since we are working into the final solution, that will require much less steps, but it is more complex and unfortunately taking more for getting it done.

The tokens you generate this way should never expire, unless anything else comes on top of this.

This is still on going into the PR, that's why

[2018-04-13 18:28] diegoquinteiro commented on #919
Hi @codeslane, thanks for reporting. Can you provide the version info as required on the issue template?

## Version Info

Please state _exact_ versions, not _latest_ or _new_.

* Plugin version:
* WordPress version:
* PHP version:

Without the above information we are not able to debug the issue.

[2018-04-13 18:30] diegoquinteiro commented on #920
That's correct. This plugin does not publish articles on Facebook, it only transforms it to Instant Articles so it's rendered as Instant Articles once it is published by you or someone on Facebook.

[2018-04-13 18:30] #920 closed

[2018-04-13 18:41] diegoquinteiro commented on #262
Hi @jerclarke. Thanks for your feedback. As you correctly stated this is not an issue with the plugin, and for any feature not supported by Instant Articles itself the intended behavior is to fallback to the m-web version, so I will close this issue.

Instant Articles is not a browser engine, it renders natively all its supported components and does it over a large subset of HTML5, but not for the

[2018-04-13 18:41] #262 closed

[2018-04-13 18:43] diegoquinteiro commented on #894
Hi @nstrazimiri, Instant Articles (not the plugin) currently does not support links with images inside or links with paragraphs inside. The intended behavior for the plugin on this scenario is to not convert and fallback to the mobile web version.

Thank you!

[2018-04-13 18:43] #894 closed

[2018-04-13 18:46] diegoquinteiro commented on #899
Hi @Honey2580, this is not an issue with the plugin, so I'll close the issue.

Please refer to this documentation to report a bug on the right channel: https://developers.facebook.com/ia/blog/post/2016/02/02/bug-reporting-tool/

Thank you!

[2018-04-13 18:46] #899 closed

[2018-04-13 18:50] diegoquinteiro commented on #915
Hi @Ironir, please follow these instructions to get the information we need for debugging:

* Go to the Wordpress editor and open the post
* In the Instant Article plugin section click on _[Toggle debug information]_
* Share both _Source Markup_ and _Transformed Markup_

@abramova2018 please open a new issue explaining your problem with the plugin in detail so we can debug.

@Hamza4332 you need to

[2018-04-13 18:55] diegoquinteiro commented on #911
@jerclarke thanks for the comprehensive explanation.

@moyanerd we have also included a convenience on our transformation engine: if you wrap any content on your markup with `<div class="embed">...</div>` our plugin will put this content inside an iframe.

But if your article is composed only by the quiz, it's better to simply render it as mobile web.

[2018-04-13 22:00] Ironir commented on #915
@diegoquinteiro thank you for your response, here:
![screenshot_1](https://user-images.githubusercontent.com/34078470/38759553-c80c81dc-3f76-11e8-94b3-19f90977d2b9.jpg)

[2018-04-13 22:30] abramova2018 commented on #883
HI bro I had do same problem, but now i know how to resolved this Issue
firstly you must go to the photos on this articles then click to edit and make photo on the center then
![screenshot-2018-4-13 edit post my dirasa wordpress](https://user-images.githubusercontent.com/38193533/38760306-7585ac3a-3f72-11e8-8c89-19476fea0ac7.png)
i hope you are understand me
sorry because im not good in english go

[2018-04-15 17:23] randika2018 opened #921 "Your Facebook Page is in violation of Instant Articles policies. Review the policies to see what changes can be made to regain access."
Your Facebook Page is in violation of Instant Articles policies. Review the policies to see what changes can be made to regain access.
why this problem.
![instanat](https://user-images.githubusercontent.com/38404972/38781262-ccaed0d4-40ff-11e8-8513-2c246b03532c.JPG)

[2018-04-15 17:33] randika2018 commented on #921
how does solute this problem. please help me

[2018-04-16 14:13] BlankSuporte5 opened #922 "FIA-WP not getting all post data"
I have a Recipes Blog, where I use some Custom Fields to set Ingredients and Directions, as you can see here:
![image](https://user-images.githubusercontent.com/38261894/38813760-38df6398-4166-11e8-8878-7bb8eccfe961.png)

But the feed gets only the content data (Which I use for directions).
![image](https://user-images.githubusercontent.com/38261894/38813844-75f877ec-4166-11e8-9b4b-a4008552840e.pn

[2018-04-16 14:38] jerclarke commented on #922
This is already possible but you'll need to use PHP plugin code to insert content into the IA output and you'll also need to be very careful to ensure the content you insert is valid IA format HTML.

Read this link for my previous reply to a similar question with code example: https://github.com/Automattic/facebook-instant-articles-wp/issues/890#issuecomment-371926279

[2018-04-16 19:33] bakry3d opened #923 "i have problem with insttant article"
hello every one

please the instant article its not working

the problem is

Too Many Line Breaks: This text block uses too many line breaks (<br/> elements). Please split the text block into multiple paragraphs or reduce the number of line breaks to a maximum of 5.

can any one help me

[2018-04-16 19:35] dilllily3 commented on #923
and facebook send this

Thank you for submitting an appeal. We've reviewed your Page for monetization eligibility. At this time, we aren't able to reinstate its access to Ad Breaks, Branded Content, and/or Instant Articles. To use these features, your Page must comply with Facebook's policies and terms and our monetization eligibility criteria. We recommend that you address your Page's compliance

[2018-04-16 23:37] demetrox commented on #800
oh my god.. i really need an answer to this issue

[2018-04-17 11:25] demetrox commented on #668
any update?  so far need to change manually in production article

[2018-04-17 11:29] demetrox commented on #921
this is not plugin issue..lol

[2018-04-18 04:54] lubimow opened #924 "Disable ads on specific content"
How do I disable ads on inappropriate content for facebook?
Perhaps there is a way to not publish news in Instant Articles with a tag (tag in Wordpress)?

[2018-04-19 17:48] Mohan2266 opened #925 "Website Verification"
I am getting this error while trying to submit my website URL
"The provided URL is not being accepted because the site has minimal readership, which violates the Instant Article Policies (https://developers.facebook.com/docs/instant-articles/policy/). Please provide a different URL."

I install instant article plugin, kept page ID into it and everything done right. My blog is https.

[2018-04-20 15:25] tabarsi opened #926 "Production articles show articles are Live, still Instant Article is not working"
Hello,

Instant article for my website has suddenly stopped working since around two days. When i went to the production article section all articles are Live but still when articles are shared on any of the pages it opens in the browser. Can someone please help!

[2018-04-20 23:55] everton-rosario commented on #925
Hello, @Mohan2266
Can you share the blog URL and FB Page ID?

[2018-04-21 00:51] everton-rosario commented on #924
Hello @lubimow this is how you can do it:
https://github.com/Automattic/facebook-instant-articles-wp/issues/396#issuecomment-242133950

Let us know if this was something you were looking for.

[2018-04-21 00:51] #924 closed

[2018-04-21 00:52] everton-rosario commented on #919
Closing, please reopen with the needed info, so we can check it properly.

[2018-04-21 00:52] #919 closed

[2018-04-21 00:57] everton-rosario commented on #921
Can you share the Page ID?

[2018-04-21 00:58] everton-rosario commented on #926
Can you share your Page ID?

[2018-04-21 01:01] everton-rosario commented on #923
Can you share the Page ID?
To the topic of line breaks, you can add a filter to remove extra line breaks and keep just one on Instant Articles.

[2018-04-21 01:09] everton-rosario commented on #922
As @jerclarke mentioned, we have a way to perform the content addition at the moment of the HTML content generation per https://github.com/Automattic/facebook-instant-articles-wp/issues/890#issuecomment-371926279

You can also do it on the moment after Instant article was created, using the hook:
add_action( ''instant_articles_after_transform_post", "function_to_add_specific_things" );

function f

[2018-04-21 01:09] #922 closed

[2018-04-21 01:12] everton-rosario commented on #912
We agreed on these next steps and filed the tasks as needed.
Thanks for the reports, @jerclarke .
Also I'd like to welcome anyone who is interested in sending any PR regarding this.

[2018-04-21 01:14] #878 closed

[2018-04-21 01:54] wle8300 commented on #912
I’m super bad at PHP... is there a JavaScript way to accomplish this?

[2018-04-21 18:50] moyanerd opened #927 "Tumblr links need a transformation rule?"
## Steps required to reproduce the problem

1. Copy link from a tumblr post.
2. Paste link on wordpress post or page.
3. The image of the link shows up just like a twitter link does but while the twitter links do not recieve a warning the tumblr link does.

## Expected Result
I'm hoping the tumblr shared link pass through just like a twitter link.

## Actual Result
If your issue is about the error

[2018-04-22 21:42] bakry3d commented on #923
This id
385005064969364

What's you think about

{
    "rules":
    [
    {
        "class": "IgnoreRule",
        "selector" : ".wp-caption.aligncenter"
    }
  ]
}

Is that good ,?

[2018-04-23 04:47] domimvp commented on #925
Hi im having the same problem i have been using my site sinds last year and now im getting this error i dont know why :( any help will be much appreciated

[2018-04-23 11:42] Ironir opened #928 ""Resubmit for review" button disabled - Facebook Instant articles"
Hello everyone,

I applied for instant articles lately, and did all the steps as required, after I submitted for review facebook asked to edit some articles or post new ones, and I already did that but still the "resubmit for review" button is disabled, what should I do? I contacted the Facebook support but without success...

![screenshot_5](https://user-images.githubusercontent.com/34078470/3912

[2018-04-24 10:34] cemmildon commented on #925
I'm having the same problem. Why we can't add our site?

[2018-04-24 13:50] basudevkunwar commented on #925
Hi im also having the same problem , my website is new, just created 3 days ago , and today trying to Connect my  Site on instant articles , there is i saw (**<b>The provided URL is not being accepted because the site has minimal readership, which violates the Instant Article Policies (https://developers.facebook.com/docs/instant-articles/policy/). Please provide a different URL.</b>) this warning

[2018-04-24 16:56] jnsprngs commented on #839
What could be added is optional logic to strip out underlines, subscripts, and superscripts ---->

`{"rules" : [
	{
		"class" : "IgnoreRule",
		"selector" : "u"
	},
	{
		"class" : "IgnoreRule",
		"selector" : "sup"
	},
	{
		"class" : "IgnoreRule",
		"selector" : "sub"
	}
]}`

[2018-04-24 20:55] fwegberts commented on #926
Same problem here

[2018-04-25 03:41] micolore commented on #925
Hi im also having same problem. i think one page only add one domain . but  last month can add many website . when i remove already added website it's can't add again. why

[2018-04-26 13:13] nhavietnamese commented on #925
The provided URL is not being accepted because the site has minimal readership, which violates the Instant Article Policies (https://developers.facebook.com/docs/instant-articles/policy/). Please provide a different URL.
please help me solve this problem

[2018-04-26 14:29] Kumanova22 commented on #925
The provided URL is not being accepted because the site has minimal readership, which violates the Instant Article Policies (https://developers.facebook.com/docs/instant-articles/policy/). Please provide a different URL.
i have this problem from switzerland hmmm? why , why , why???

[2018-04-27 03:16] mizansyl commented on #925
plz help  me why i getting message when i want verify fb
The provided URL is not being accepted because the site has minimal readership, which violates the Instant Article Policies (https://developers.facebook.com/docs/instant-articles/policy/). Please provide a different URL

[2018-04-27 03:18] mizansyl opened #929 "plz help me when i vrefy my fb site i got this message"
The provided URL is not being accepted because the site has minimal readership, which violates the Instant Article Policies (https://developers.facebook.com/docs/instant-articles/policy/). Please provide a different URL## Steps required to reproduce the problem

[2018-04-27 18:42] mkasik commented on #925
Same problem. Any one can solve this?

[2018-04-27 21:08] beeriz opened #930 "Publishing date is too close to the body text, need urgent fix"
Hello. My design just changed without giving as clues about the cause of the changes, if someone have any idea how to fix this that will be great !

## Steps required to reproduce the problem
1. Open Facebook, read any article of our website.

## Expected Result
Some space between the date and the article

## Actual Result
I tried everthing to make some space between the date/signature and the res

[2018-04-28 22:49] robbiet480 commented on #911
Sorry to jump onto this issue, but i've also been waiting to be accepted to the [Facebook Group](https://www.facebook.com/groups/629655867187397/?ref=group_header) for months now without success. My Facebook account is at https://facebook.com/robbiet if needed. Again, apologies for using this issue but i've reached out privately to the group admins and none of them have responded to me for a full

[2018-04-29 11:12] taaariqul commented on #925
I also have the same problem.
Can any expert help with this?

[2018-04-30 13:27] jerclarke commented on #925
Okay team, I don't want to be a downer, but in case any of you think this is just an error we should of course take seriously the text of the message:

It sounds like IA has, without any announcement on [The Instant Articles Blog](https://developers.facebook.com/ia/blog) (which is normal, they never update that blog with important, system-breaking changes to the plugin, only with useless PR, despi

[2018-04-30 14:03] jerclarke commented on #925
FWIW I realize now that this error may come up for people earlier in the process than I was first imagining.

If the error happens before the "Submit for review" step then I apologize that I accused FB of being so negligent and foolish as to let people get that far without telling them that IA would never work for that site. If it happens when you first try to "enable" IA for a FB page (before val

[2018-05-01 06:45] JimmyLim-ChuenYee commented on #925
sound like Facebook try to block for IA apply

[2018-05-02 04:27] zomidaily opened #932 "How can I make Facebook page link opens in App, instead of browser"
Hi...
Example: In the Copyright box, I enter this link <a href="https://www.facebook.com/facebook/">Official Facebook Page</a>

But the Facebook page is open in mobile browser. How can I make the link open within the Facebook app?

## Version Info
* Plugin version: 4.0.6
* WordPress version: 4.9.5
* PHP version: 7.2

[2018-05-02 18:44] KTigran opened #933 "Instant Article"
## Steps required to reproduce the problem

1. This post will not be available as Instant Article because it is missing content
2.
3.

## Expected Result
Help me please to solve this problem

## Actual Result
If your issue is about the error message _No rules defined for ..._. Please do the following.
* Go to the Wordpress editor and open the post
* In the Instant Article plugin section click on _

[2018-05-04 18:23] BlankSuporte5 opened #934 "Facebook can't get the feed correctly"
## Steps required to reproduce the problem

1. FIA page and plugin correctly configured.
2. New posts published
3. Acessed Produced Articles in Facebook

## Expected Result
It was supposed to get the feed configured ( https://www.receitas.eduguedes.com.br/feed/instant-articles ), but it turns out to get another content that is not in the feed I set up.

Expected code to be loaded into Facebook:
(n

[2018-05-05 02:16] domimvp commented on #925
well its strange because i have been  using IA for more then a year now and my site its been getting more then 2 to 3k visits per day sinds last year take a look at this
https://gyazo.com/1ec6c7462a08e3a210bda743e8bbb7a4

they even approved to publish Instant Articles!
and still i cant connect my site :/
it has been more then 2 weeks almost and nothing has change :(

[2018-05-07 03:57] yeah-sir commented on #926
Hi @tabarsi, following up here. Can you please send over the Page ID. We will need to close out the issue if we do not see any further activity.

[2018-05-07 03:58] yeah-sir commented on #928
Hi @Ironir can you send over your page id ?

[2018-05-07 04:04] yeah-sir commented on #929
hi @mizansyl. This is not bug but content policy. You can find more information on possible steps to resolve here: https://developers.facebook.com/support/bugs/1809474069346452/

[2018-05-07 04:04] #929 closed

[2018-05-07 04:25] yeah-sir commented on #933
We will need more information in order to debug this. Can you please provide what your input HTML, output and any details on the errors you are seeing?

[2018-05-07 04:30] yeah-sir commented on #921
@randika2018 you can find more details on Instant Articles policies on the link below. Kindly review to see if your page meets the standards. If not your page will not eligible for Instant Articles. You can find steps to regain access there as well:

https://developers.facebook.com/docs/instant-articles/policy/

[2018-05-07 09:36] Ironir commented on #928
Page ID: 306287716188954

[2018-05-08 00:27] jerclarke commented on #925
The silence is deafening.

I can confirm even already-validated sites have now been disabled if they don't have enough traffic, for example my personal site which I use to test bugs related to this plugin. It's now impossible to use IA with a normal site that isn't mission critical to test new features, what a mess.

Post about this on the blog so people at least know that you have INTENTIONALLY B

[2018-05-08 18:36] lyluch opened #935 "Instant Articles not submitted to Production Article"
My Facebook page lost access to Instant Article. I sent an appeal about 6 months ago. Now IA allows me to resubmit for review by posting 3 articles. After posting, Instant Article not submitted to Production Articles, that’s why I can’t click on Resubmit button.

I have tried many methods people sharing on the web but it’s not working anyway.

Anyone can solve this problem? Please tell me.

[2018-05-09 17:51] lyluch commented on #928
I have the same problem. Please help solving the problem.

[2018-05-10 01:03] samborcia commented on #693
This issue is still not fixed.

[2018-05-11 23:29] mostafazahran1 commented on #925
the same problem with my site i have more than 5000 articles

The provided URL is not being accepted because the site has minimal readership, which violates the Instant Article Policies (https://developers.facebook.com/docs/instant-articles/policy/). Please provide a different URL.

URL : https://www.benefits-ginger.com

any body can help me pls?

[2018-05-12 03:50] JohnWickerz commented on #928
I have the same problem, until to submmit a new reviews, IA is dead?

[2018-05-12 04:05] JohnWickerz opened #936 "Submit for Reviews Instant Articles, no works! Facebook no Response"
Two weeks ago I have sent to review applications to be part of the Instant Articles program, but I have no response from Facebook. Has it reached its end?

Step to get IA

1 - Activate the AI option to the Fanpage by:
2 - Set up the Web + Plugin + 10 post + Logo
3 - Wait 3-5 days

But I've been waiting almost 2 weeks and they still do not answer me.

Also I have solved some problems with respect t

[2018-05-14 05:51] tsanaung commented on #925
Same to me, I'v this problem. I'm from Myanmar.

[2018-05-14 20:31] wle8300 commented on #912
@everton-rosario Has this been fixed?

[2018-05-15 10:45] bakry3d commented on #923
any help ?

[2018-05-17 20:17] Chekist76 opened #938 "Website Minimal readership"
I am getting this error while trying to submit my website URL
"The provided URL is not being accepted because the site has minimal readership, which violates the Instant Article Policies (https://developers.facebook.com/docs/instant-articles/policy/). Please provide a different URL."

My website had an instant articles activated, had traffic and suddenly I got this error.

Also tried submitting a

[2018-05-18 00:43] koconder commented on #608
I contribute to a number of analytics plugins on Wordpress. Happy to assist with the likes of Chartbeat, Google Analytics and Google Tag Manager support and extending compatibility with other 3rd party apps.

If we have hooks available id be more than happy to look into some common setups. Using widely used WP plugins that handle analytics.

[2018-05-18 11:38] beeriz opened #939 "GDPR and Google Analytics Global Site Tag on Facebook Instant Articles"
Hello.
Can we continue to use Google Analytics Global Site Tag on Instant article and be compliant with GDPR regulations?

I'm using Gtag with
anonymize_ip': true,
allow_display_features': false

Thank you.

[2018-05-18 18:16] wle8300 opened #940 "Transformer rule for placing <video> in <header>?"
Hi there, I'm looking at the various transformer rules and I don't see one for putting videos into the `<header>`. We'd like to take advantage of the preview videos [as the cover](https://developers.facebook.com/docs/instant-articles/design/videolink)<sup>1</sup> in the NewsFeed and this seems to be necessary to accomplish that.

Any help appreciated! Thx!

1. https://developers.facebook.com/docs/

[2018-05-20 00:48] bafi commented on #923
I have the same problem

[2018-05-20 09:43] Latesthairstyleideas commented on #925
I have the same problem https://latesthairstyleideas.com

[2018-05-20 15:14] koconder commented on #939
Also keen to understand any implications or certian changes that need to be made

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-20 23:58] adarshkhatri commented on #925
Having same problem.

Was running this for a year and had no issue. Suddenly my content writer messed up with unwanted tags (mostly lots of <br>) and instant article triggered it and showed me this msg:

And after 30 days of waiting and removing all those errors, I have finally got **Submit for review** button enabled and can click in it. When clicked it states that it has been sent for review, bu

[2018-05-21 21:22] jerclarke commented on #925
Thanks for the update @adarshkhatri

My own page does have minimal readership, since I only set it up to use IA, which was clearly tolerated until now, so I didn't have any data about what constitutes "minimal".

Apparently even a significant reach and engagements like 107/week still isn't enough to qualify, so they are being really aggressive about this test.

# HEY ADMINS, HOW ABOUT SOME NUMBERS

[2018-05-21 21:37] jerclarke commented on #938
They upended their standards and it seems now almost all sites have minimal readership by the new standards. Previously they didn't seem to enforce this rule at all.

Someone in #925 (which this is pretty much a duplicate of) logged their specific stats as being over 100 engagements/week and still considered minimal, so that's our main reference so far. Maybe you could go there and add your compar

[2018-05-22 08:46] RKUNYOU opened #943 "I am getting this error while trying to submit my website URL"
I am getting this error while trying to submit my website URL
"The provided URL is not being accepted because the site has minimal readership, which violates the Instant Article Policies (https://developers.facebook.com/docs/instant-articles/policy/). Please provide a different URL."

[2018-05-22 10:16] ardovic commented on #925
Hi, our [website](http://cryptonomi.st) is active, everyday our editors write new posts and our [facebook page](https://www.facebook.com/cryptonomist) is growing with facebook ads everyday.

We decided to use IA and adjusted our site accordingly, yet upon submitting the website URL, I get the following error:

I couldn't find enough information about this and how to solve this issue anywhere... Pl

[2018-05-22 21:43] tdlm commented on #939
Also interested in hearing back about this!

[2018-05-23 17:32] jerclarke commented on #925
I reviewed the plugin on the WP directory so hopefully people know what a mess you've created here:

https://wordpress.org/support/topic/awful-plugin-with-irresponsible-developers-who-dont-care-about-users/#new-post

This page REALLY needs to mention how small sites shouldn't waste their time: https://wordpress.org/plugins/fb-instant-articles/

[2018-05-23 19:42] rained23 opened #944 "Fetched IA Markup by FB not same like created by WP with custom rules"
I have created custom transformer rules to fix my transformer warning because a youtube video will always missing when fetched by FB.

Now when I had this custom transformer rules, the markup generated by the plugin is the right one as it work if I copy paste manually the debug markup, but look like FB did not use the ia_markup_url content for the IA as it will ignore the custom rules.

This only

[2018-05-23 19:59] rained23 commented on #944
I am not sure what happen but after scrape url multiple times and wait sometime now the IA is following the generated markup, its probably didnt update the content because FB didnt scrape the new post.

I am closing this.

[2018-05-23 19:59] #944 closed

[2018-05-24 17:25] MasterSEObg commented on #925
We have the same problem. Why can not we add our site? Given the fact that we have been pushing it for "1 year" and we have a traffic of 10,000 to 25,000 impressions per month, which is good for a regional cultural site?

[2018-05-25 09:08] keralafbmedia commented on #943
this same issue i am getting    "   The provided URL is not being accepted because the site has minimal readership, which violates the Instant Article Policies (https://developers.facebook.com/docs/instant-articles/policy/). Please provide a different URL.

[2018-05-25 09:08] keralafbmedia commented on #943
please help me

[2018-05-25 12:50] jerclarke commented on #943
Hi all, there is no help, or response from the developers of this plugin with regard to this issue.

This ticket is a duplicate of #925 and should be closed, you can add yourself to the comments there if you want.

Facebook HQ made this change and doesn't care about all the people who already had it working and for whom it's now broken, I don't think they care AT ALL about the people who didn't ev

[2018-05-25 21:36] noideaxd commented on #925
I’m going to chime in with this too. I recently moved our site from a subdomain to the root domain. Adding the root domain is giving me the same error:

The provided URL is not being accepted because the site has minimal readership, which violates the Instant Article Policies (https://developers.facebook.com/docs/instant-articles/policy/). Please provide a different URL.

We have over 1.4million e

[2018-05-25 21:53] jerclarke commented on #925
It's absurd you would be forced to even consider that. What a mess, I'm sorry as in "my condolences".

[2018-05-28 11:47] daniyals commented on #925
I have the same problem: https://www.hungerist.com

[2018-05-29 10:18] tipsclick commented on #925
i am facing the same issue on https://diseasesclick.com/

[2018-05-29 12:41] AschwinWarps commented on #925
Insights Dashboard and API – Interruption and Resolution
We found an interruption in the timeline of Instant Articles data available through our dashboard and through the Insights API. Instant Articles data has been unavailable since late last week. We've been investigating the issue and have found all accessible data remains accurate; however, an overexertion on our tools seems to have temporaril

[2018-06-01 14:20] everton-rosario commented on #925
Hello, we are actively working to improve Instant Articles as a platform and we appreciate your involvement.

Being a multi-sided platform, Instant Articles has to meet the needs of publishers being read on Facebook and advertisers to support monetization of publisher content. Facebook has multiple quality checks in place to ensure quality on both sides, but unfortunately these signals only work w

[2018-06-01 14:20] #925 closed

[2018-06-01 18:37] jerclarke commented on #925
Thank you for that explanation.

**Are you going to update the plugin's description so people know not to waste their time?**

How about posting about this on the blog?

[2018-06-02 16:11] XtremeBasic commented on #925
Hi there! I have a theory for this. I think the 10 articles of yours should have a great engagement in it. So, I think, we need to make people engage commenting on those 10 articles in your Facebook page. You can do poll or let's say you make your audience push to comment on your posts (thats for the 10 articles. As for me, [our website](https://reviewsean.com) is new and I make sure that every po

[2018-06-05 00:34] theinoomg opened #945 "hello"
## Steps required to reproduce the problem

1.
2.
3.

## Expected Result

## Actual Result
If your issue is about the error message _No rules defined for ..._. Please do the following.
* Go to the Wordpress editor and open the post
* In the Instant Article plugin section click on _[Toggle debug information]_
* Share both _Source Markup_ and _Transformed Markup_

## Version Info

Please state _exac

[2018-06-05 18:43] taaariqul commented on #925
After redesigning my wordpress blog it says

You've Lost Access to Instant Articles

Your articles either have minimal readership or are not currently meeting the content policies for Instant Articles. To reapply for access, submit for review when you have at least 10 articles in your production library and have increased your traffic. Learn more

&

The provided URL is not being accepted because

[2018-06-05 21:36] jerclarke commented on #925
There is no solution. Your site isn't big enough to qualify.

According to @everton-rosario above, the reason this has become a **violation** is because their new quality control systems require a minimum of traffic in order to function:

So get your site to be way way bigger with lots of Facebook traffic if you ever want to use Instant Articles again. Otherwise you'll stay in violation forever or

[2018-06-06 03:32] JoshuaLangit123 commented on #925
A few months ago, our publication website which was receiving thousands of traffic hits per day wanted to try IA in order to further expand our reach since our traffic was from Facebook anyways. Why not use IA instead of them directly interacting with the site? However, our IA was neglected which made us not eligible for IA since articles has stopped being published altogether for awhile, which go

[2018-06-06 03:48] man152207 opened #946 "Production articles show articles are Live, still Instant Article is not working"
Hi! Instant article for my website has suddenly stopped working since around some days. When i went to the production article section all articles are Live but still when articles are shared on any of the pages it opens in the browser. Can someone please help!
## Version Info

* Plugin version: 4.0.6
* WordPress version: 4.9.6

[2018-06-06 13:04] pumamammal opened #947 ""Not Approved URLs" Showing on The Configuration Tab"
## Steps required to reproduce the problem

 I've lost my Instant Article and I hope to get it back. My Url gets about 13,000 visits in a day and the page gets about 300,000 engagement in a day.

This morning, I saw Pending URLs and Not Approved Urls.

Please what does "Not Approved Urls" mean.

[2018-06-06 15:49] everton-rosario commented on #925
We are actively advocating for you guys.

Initially we are still figuring out, but unfortunately there will be no room(yet) to fit those still small, but yet powerful and valid use cases like personal blogs, developer contents and others, since our IA tool is deeply tied to the Monetization products within Facebook structure.

That is not the end of the road here. We are still figuring out possibl

[2018-06-06 17:16] everton-rosario commented on #946
Check for any warnings or messages surrounding your site configuration.

Check this thread to see if it falls into same case: #925

[2018-06-06 17:16] #946 closed

[2018-06-06 17:18] everton-rosario commented on #947
Please, use the Publishing tools under your page for this type of request.

[2018-06-06 17:18] #947 closed

[2018-06-06 17:21] everton-rosario commented on #945
Looks like you missed to inform the content.

Please open an issue with full and complete information.

[2018-06-06 17:21] #945 closed

[2018-06-06 19:12] everton-rosario commented on #923
To your comment, regarding the rule, it is possible.
I was wondering you applying some filters like this (first google result about removing line breaks):

https://kellenmace.com/remove-line-breaks-wordpress/

Regarding the monetization standards, this is not the right channel to do it. You should go thru your "publishing tools"/"instant articles" within your Facebook Page.

[2018-06-06 19:12] #923 closed

[2018-06-07 00:14] everton-rosario commented on #608
Hey @jerclarke, as @robbiet480 did here, is a good one to go:
https://github.com/Automattic/facebook-instant-articles-wp/pull/941

[2018-06-07 00:15] everton-rosario commented on #938
Duplicate of #925

[2018-06-07 00:15] #938 closed

[2018-06-07 00:17] everton-rosario commented on #943
#925 duplicate.

[2018-06-07 00:17] #943 closed

[2018-06-07 01:31] JoshuaLangit123 commented on #925
Most of the small sites that want IA do not necessarily need it to be monetized, though I have a feeling that this is tied to monetization due to Facebook getting some shares from it. I get it why IA needs a site to be big enough because doing reviews on each article that gets published takes time and reviewing hundreds, or even thousands of articles is not a small task, but Facebook's ever-expand

[2018-06-07 11:59] everton-rosario commented on #944
@rained23 We are working on this re-scrape issue, so we can trigger the re-scrape automatically after each change into your posts.

Till there, you will need to force re-scrape by code or manually.

More info can be seen here: https://stackoverflow.com/a/12101700/2083015

[2018-06-08 18:05] ihorko24 commented on #925
Hi there,
my news site has approx 100 thousand unique visitors a day... so I guess it's eligible for being published via Instant Articles.
I tried to connect my site: I added a domain, but it's in pending status for 7 days.
I even added an exception to the nginx server config: in case of facebook user-agent, don't redirect from http to https, but no effect for now.
Can anybody advice? What is the

[2018-06-09 05:40] noideaxd commented on #925
@ihorko24
We were in a similar situation, all we did was wait it out and we were eventually approved it took 8 days with us. Good luck!

[2018-06-09 05:47] fiantynick commented on #925
same problem here, i have 155.000+ fans, and unique visitor everyday, but still got "The provided URL is not being accepted because the site has minimal readership, which violates the Instant Article Policies (https://developers.facebook.com/docs/instant-articles/policy/)." .

my FP : https://web.facebook.com/kittykus/
website : https://fiantynick.com/

[2018-06-11 11:52] Mohdnazimhussain commented on #925
I am also facing the same problem while applying Facebook Instant Articles at claim your website step. my website http://openatalk.com/

[2018-06-11 14:45] algmelo commented on #901
No news on this bug?

[2018-06-11 17:52] everton-rosario commented on #901
@algmelo Not sure I fully understood the problem you are raising here.
Are you affirming that the `autoload = true` is being set by this plugin?

[2018-06-11 19:08] everton-rosario commented on #901
Gotcha.
I could find the lines you should try change:

File `embed.php`
[code]

Didn't test, but it looks promising.
Check if this will fix the issue for you.

[2018-06-12 16:48] algmelo commented on #901
Great, @everton-rosario !!!

This solved the problem, but how to do in case of future updates in the plugin?

Thanks!

[2018-06-12 17:30] everton-rosario commented on #901
Can you send a PR with that fix? We need to double check for further impact into the code (if this will generate any unwanted collateral behavior).

[2018-06-14 09:29] viplavm opened #948 "Installation issues with Instant articles."
## Steps required to reproduce the problem

1.  Instant articles plugin not getting installed .
2. Please read the details below.
3.

## Expected Result
Installation and activation of plugin.

## Actual Result
![image](https://user-images.githubusercontent.com/40262943/41402251-6f50fce6-6fdf-11e8-89c6-83118183b779.png)

If your issue is about the error message _No rules defined for ..._. Please do

[2018-06-14 19:54] everton-rosario commented on #948
Looks like you have file permissions issue while copying and running the script to build and install the dependencies from the WordPress plugin.

Can you confirm if your system is allowing or has write permmission on the folder listed on the error message you've printed?
`fb-instant-articles/vendor/facebook/facebook-instant-articles-sdk-extensions-in-php/tests/Facebook/InstantArticles/AMP/articles

[2018-06-14 19:54] #948 closed

[2018-06-15 04:03] pangmedia commented on #928
Same issue with me too......
its been 10days and facebook still has not responded.....

[2018-06-15 10:17] #921 closed

[2018-06-15 10:28] mburak commented on #926
Closing due to inactivity. Please create a new ticket if the issue persists.
Check this thread to see if it falls into same case: #925

[2018-06-15 10:28] #926 closed

[2018-06-15 10:32] mburak commented on #916
Hi @zukiii, I'm closing this due to inactivity, please create a new ticket if you still need more help.

[2018-06-15 10:32] #916 closed

[2018-06-15 10:35] mburak commented on #935
Hi @lyluch, this is not completely related to the WP plugin. But please check for any warnings or messages surrounding your site configuration.

Check this thread to see if it falls into same case: #925

[2018-06-15 10:35] #935 closed

[2018-06-15 10:37] mburak commented on #891
Hi @noideaxd, I'm closing this due to inactivity. Please feel free to create a new ticket if the problem persists. Thanks.

[2018-06-15 10:37] #891 closed

[2018-06-15 10:38] mburak commented on #885
Hi @codeslane, I'm closing this due to inactivity. Please feel free to create a new ticket if the problem persists. Thanks.

[2018-06-15 10:38] #885 closed

[2018-06-15 10:39] mburak commented on #868
Hi @kuroshi21, I'm closing this due to inactivity. Please feel free to create a new ticket if the problem persists. Thanks.

[2018-06-15 10:39] #868 closed

[2018-06-15 10:50] mburak commented on #928
Hi @Ironir, I'm sorry but this is not related to the WP plugin. I suggest you to go through the support page: https://developers.facebook.com/support/
Also, check for any warnings or messages surrounding your site configuration.
Check this thread to see if it falls into same case: #925

Thanks.

[2018-06-15 10:50] #928 closed

[2018-06-15 16:30] thantgyi commented on #925
How much visitors or impressions need to have minimal readership.

[2018-06-18 06:19] vvsmanoharvadapalli commented on #102
I'm using v3.0 and I am getting the same issue.

[2018-06-20 22:49] pumamammal opened #950 "Instant Article Approval Pending for 15 Days"
Good day,

I've registered for Applied for Instant Article on my page. This is the 15th day and I haven't gotten reply yet.

What do you think I should do?

[2018-06-21 22:19] samborcia opened #951 "Ampersand not outputting correctly in author byline"
I've had this issue for over a year now. My Facebook page name is called Lake & McHenry County Scanner. On my page's instant articles that are posted it's showing in the author byline as "Lake &amp; McHenry County Scanner". This is the HTML that's being generated:

`<address><a href="https://www.lakemchenryscanner.com">Lake &amp;amp; McHenry County Scanner Staff</a>Lake and McHenry County Scanner

[2018-06-22 23:17] pumamammal commented on #925
I applied for Instant Article and my application has been on "Submit for Review" for about 15 days now.

the URL is still pending, does anyone know what I'm doing wrong?

[2018-06-23 06:45] gaurav84692 commented on #950
same as brother...I've registered for Applied for Instant Article on my page. This is the 30th day but facebook cant reply

[2018-06-26 09:40] faruqsandi commented on #216
Thanks for letting me reopen this issues.

Transforming pre tag to ParagraphRule is nice, but it kinda reduces readability. Especially if we switch single line of code with a single line of the paragraph frequently.

I read this [Displaying code in Facebook instant articles 📱](https://codingislove.com/displaying-code-facebook-instant-articles/) and found out that iframe will show pre tag as is sho

[2018-06-28 17:48] thusanka commented on #925
I'm add my https://www.artsapi.lk website to IA but I can't add another website.. why?

[2018-06-29 16:59] pumamammal commented on #950
Hello, @gaurav84692 Hope you are good?

please you can contact me through mail lets talk about this experiences with Facebook Instant Article.
pumamammal@gmail.com. I want to ask, When you submitted your Instant Article for review, where you still updating your website such that some articles were not suitable to be published?

[2018-06-29 17:39] jerclarke opened #953 "ia:markup_url being output on home.php, author.php etc. because of get_post() instead of is_singular()"
## Steps required to reproduce the problem

1. Have the plugin set up and working
2. Visit homepage/author screen/term screen
3. View source and search for `ia:markup_url`

## Expected Result

Nothing, because these screens can't possibly be summarized as IA and they aren't.

## Actual Result

Homepage header has this in it (POST_URL is the first post that was on my screen, but would vary dependin

[2018-06-29 17:49] jerclarke commented on #953
Just edited my PR to re-add `if ( ! $post ) {return;} ` which I had removed by accident in the initial PR.

Incidentally, it shouldn't really be necessary, since `is_singular()`+`get_the_ID()` should always work together, but just in case, this avoids some bad user code screwing it up and passing in an empty variable.

[2018-06-29 18:00] marlonarias opened #955 "My wordpress entries do not have errors, but they are not shown in articles in production and I have everything configured well."
greetings I have a problem since day I am trying to request the instant articles, but I could not add my domain and I get a message that says pending and uploaded 10 articles but the instant articles do not want to load me.

* Plugin version: 4.0.6
* WordPress version: 4.9.6
* PHP version:

[2018-07-01 05:35] gaurav84692 commented on #950
Thank you so much facebook team for this opportunity. instant article for
review , where all article suitable for instant article ,no
violence contain in www.gujaratnewslive.com.

                    Gaurav Shingala

On Fri, Jun 29, 2018 at 10:29 PM, pumamammal <notifications@github.com>
wrote:

[2018-07-02 18:00] jerclarke commented on #953
Okay, my mistake. `get_the_ID()` ultimately does the same thing as using `global $post->ID`, in that any loop will set that value to the current post, and thus it doesn't reliably return the "single post ID".

The correct function to use for getting only the main post from a single view is `get_queried_object_id()`, which returns the post ID for singular views, and the term ID, author ID etc for o

[2018-07-03 18:34] algmelo commented on #901
Hi, @everton-rosario

I created a PR with the fix. I had never done a PR haha

I hope the amendment is accepted.

Thanks for the guidance!

[2018-07-04 13:57] gtaxha commented on #925
Hello everyone, I've been dealing with the same thing for a couple of months now and  I'm glad I found a place where this is being discussed even though this is not the right place to talk about this

I manage 5 health-related facebook pages (2 m fans total)  and after using google ads for years decided to try Instant Articles. Used it  for 6 months and  decided to convert all my pages to IA  but

[2018-07-05 02:51] basudevkunwar opened #958 "error while images on wordpress post"
## Steps required to reproduce the problem

1. This post was transformed into an Instant Article with some warnings [Learn more | Transformer rule configuration | Toggle debug information]

**_Invalid selector for fields (image.url). The node being transformed was <img> in the context of InstantArticle within the Rule ImageRule with these properties: { image.url=StringGetter}_**

## Expected Resul

[2018-07-05 10:57] pumamammal opened #959 "NOT APPROVED URLS: WHAT DOES IT MEAN?"
I've been trying to apply for a new Instant Article,
I used my first url, it went under the NOT APPROVED URL

I used the second one, went to the business manger to claim ownership and it also went under the NOT APPROVED URL

Please who knows the criteria to get ones's url approved?

[2018-07-05 18:31] jerclarke commented on #959
It's normal, you need thousands and thousands of visitors to your site from Facebook or the site won't qualify. They refuse to tell us the actual numbers, and claim not being popular on Facebook is a violation of the "Standards".

Probably give up and spend your time on other platforms that welcome small publishers.

See #925

[2018-07-06 09:26] Optimusprimekbu opened #960 "FacebookResponse.php(210)"
Hello ! Such a problem.
## Steps required to reproduce the problem
#0 /home/prefiksb/public_html/wp-content/plugins/fb-instant-articles/vendor/facebook/graph-sdk/src/Facebook/FacebookResponse.php(210): Facebook\Exceptions\FacebookResponseException::create(Object(Facebook\FacebookResponse))
#1 /home/prefiksb/public_html/wp-content/plugins/fb-instant-articles/vendor/facebook/graph-sdk/src/Facebook/F

[2018-07-06 13:01] pumamammal commented on #959
@jerclarke , I have thousand and thousands of views. My facebook page has oer 1million likes and at least 200k engagement a day. The weblinks is about 30k in a day.

I don't get the low readership error, what I get "Not Approved Url"

I think the "Not Approved Url" has to do with another criteria.

[2018-07-08 08:32] Desitalk opened #961 "Indeed Config - Help"
I was Installed Latest FIAW - To my website

I Need Help with Config New Settings

I given Application ID
Secret -
But How to Get Page Access Token ? please Help me out !!

i was Tried without Page Access Token . When am trying to Debug Getting error
**Missing Properties The following required properties are missing: fb:app_id**

Please Help me Out

[2018-07-09 17:12] jerclarke commented on #961
Detailed instructions somewhere prominent is what this needs.

Here are the most detailed instructions we've gotten, pasted from #878

[2018-07-10 07:39] Desitalk commented on #961
Thank You !! ...

After That Am trying Debug  Getting These errors

The following required properties are missing: og:url, og:type, og:title, og:image, og:description, fb:app_id

[2018-07-12 06:46] rb-git commented on #961
@jerclarke - Thanks a lot for the instructions. I discovered the update not syncing issue yesterday and was horrified to read through [878](https://github.com/Automattic/facebook-instant-articles-wp/issues/878). Surprised nobody else flagged this - Thanks a lot for your persistence and getting this fixed.
@devteam - These detailed instructions need to be updated on the plugin page as well.

[2018-07-14 23:32] said-java commented on #102
I'm using v3.0 and I am getting the same issue.
Invalid Scopes: manage_pages, publish_pages. This message is only shown to developers. Users of your app will ignore these permissions if present. Please read the documentation for valid permissions at: https://developers.facebook.com/docs/facebook-login/permissions

[2018-07-18 13:35] everton-rosario commented on #102
Hey @vvsmanoharvadapalli and @said-java Can you give more details about the problem you're facing?

I want to understand where you are using the login with FB on the plugin.

[2018-07-18 13:40] everton-rosario commented on #961
Hey @rb-git per our latest release, we are generating a key and signing the re-scrape request.
This was added into the v4.1 and up.

Then the token config and the detailed step-by-step shouldn't be needed anymore.

Let us know if you still need the token config. (this was a mid-term solution per @jerclarke raised an important issue).

Now the final solution is this signing to the scrape request.

[2018-07-18 13:40] #961 closed

[2018-07-18 17:21] said-java commented on #102
@everton-rosario

i want to post in my profile i have ,

Facebook - ERROR -  Graph returned an error: (#200) Requires either publish_actions permission, or manage_pages and publish_pages as an admin with sufficient administrative permission

[2018-07-22 10:20] vishu3113 commented on #925
I have the same problem [themelock.online](url)

[2018-07-27 10:15] shinchao commented on #925
my site: https://www.acoda.vn/ the same problem 💯

[2018-07-29 19:38] bigstamp commented on #925
I’ve the same problem for three of my sites

http://Sheffield.bigstamp.uk
Https://thegay.directory
And http://theuk.directory

[2018-07-31 03:37] kedai-lelaki-com commented on #925
I've got the same problem for my site
http://infokesihatan.org
please help!

[2018-07-31 07:47] sudeepbanjade21 commented on #926
Same problem here...my instant articles in production articles are live but when i post inmt in my page they are not showing instant articles...intead it redirects to the website

[2018-08-02 07:12] samichamoun opened #963 "Is there any support for video link covers yet?"
I've been interested in this functionality for some time now and am seeing more pages start to make use of it: https://developers.facebook.com/docs/instant-articles/reference/cover/

It doesnt appear as though the plugin has any direct support for it, which is fine if there was a hook we could use to manually add the <figure> element in but I can't see any.

Could someone point me in the direction

[2018-08-03 10:01] Desitalk opened #964 "Please tell Why Its happening ?"
#0 /home/#####/public_html/wp-content/plugins/fb-instant-articles/vendor/facebook/graph-sdk/src/Facebook/FacebookResponse.php(210): Facebook\Exceptions\FacebookResponseException::create(Object(Facebook\FacebookResponse))
#1 /home/#####/public_html/wp-content/plugins/fb-instant-articles/vendor/facebook/graph-sdk/src/Facebook/FacebookResponse.php(255): Facebook\FacebookResponse->makeException()
#2 /

[2018-08-05 12:40] kishore9302 opened #965 "Notice: Undefined index: display_warning_column in /home/wikileaks4india/public_html/wp-content/plugins/fb-instant-articles/facebook-instant-articles.php on line 466"
I am using Instant Articles for WP plugin so please solve this error.
Thanks

[2018-08-06 03:28] yeah-sir commented on #955
Hi @marlonarias , each page needs to undergo Instant Articles Review before its enabled to post. You can find more on how to get approved for this here: https://developers.facebook.com/docs/instant-articles/get-started/article-review/

[2018-08-06 03:28] #955 closed

[2018-08-06 03:31] yeah-sir commented on #958
Hi @basudevkunwar, Can you please add the input and output HTML here as well. That will help us debug this issue better

[2018-08-06 03:34] yeah-sir commented on #959
@pumamammal You can find details about the Instant Articles Review process and content policies here: https://developers.facebook.com/docs/instant-articles/get-started/article-review/

[2018-08-06 03:35] #959 closed

[2018-08-06 03:36] yeah-sir commented on #960
Hi @Optimusprimekbu Can you please send over the input and output HTML from which you got this error? This will help us debug the issue better.

[2018-08-06 03:38] yeah-sir commented on #964
Hi @Desitalk can you please attach the input and output HTML with which you are seeing this error? This will help is debug this issue better.

[2018-08-06 18:48] pumamammal commented on #959
@yeah-sir What could be the issue. My Instant article was banned for an unknown reason. I have 200,000 monthly traffic monthly. 150,000 from facebook.
My URL is under "Not Approved Url"

I've read the policy several times and I'm not violating any of them.
url: correctbae.ng
facebook  Page: Correct Bae

[2018-08-07 21:13] samnangei9 commented on #965
[Uploading fb-instant-articles.4.1.1.zip…]()

[2018-08-08 04:27] Umedi95 commented on #790
![untitled](https://user-images.githubusercontent.com/18601809/43816227-350cdb5c-9b06-11e8-863a-96ca67f644f1.png)

i dont understant what they mean by saying this error, it says embed from acctual article is not showing in facebook instant article, but in facebook page app i can see it. and about that img shodnt be enclosed with p

[2018-08-08 07:53] kishore9302 commented on #965
what is this..
please fix error plz

Automattic/facebook-instant-articles-wp] Notice: Undefined index:
display_warning_column in /home/wikileaks4india/public_html/wp-con
tent/plugins/fb-instant-articles/facebook-instant-articles.php on line 466

On Wed, Aug 8, 2018 at 2:44 AM, samnangei9 <notifications@github.com> wrote:

[2018-08-08 14:44] nepali1234 commented on #950
i have my pending for 3 month what should i do ?

[2018-08-08 14:51] gyansetu commented on #925
So guys is there any update on this.
or any solution please tell me its not connecting **[https://www.gyansetu.in](https://www.gyansetu.in)**

[2018-08-08 16:49] gaurav84692 commented on #950
hello..,

Since 3 months ago, I send an appeal to Facebook for approving my instant
article request. and so many times to mail and appeal threw connect with
Facebook team but all time same answer.

I hope, this time good reply... :)

                    Gaurav Shingala

On Wed, Aug 8, 2018 at 8:14 PM, nepali1234 <notifications@github.com> wrote:

[2018-08-09 06:34] nepali1234 commented on #950
exactly. i have the same problem. how can i process again. i dont know what to do. my time is wasting anyone help me

[2018-08-09 06:47] Desitalk commented on #964
<html>
  <head>
    <link rel="canonical" href="http:/*Edited*/09/08/173834.php"/>
    <meta charset="utf-8"/>
    <meta property="op:generator" content="facebook-instant-articles-sdk-php"/>
    <meta property="op:generator:version" content="1.9.2"/>
    <meta property="op:generator:application" content="facebook-instant-articles-wp"/>
    <meta property="op:generator:application:version" content=

[2018-08-10 04:04] kittipongo commented on #965
Enable "FB IA Status column" option for quick fix.

[2018-08-10 10:51] kishore9302 commented on #965
currently i am enabled it

Thanks

On Fri, Aug 10, 2018 at 9:34 AM, Kittipong <notifications@github.com> wrote:

[2018-08-15 17:14] jerclarke commented on #950
If you want to stop wasting your time I recommend you stop trying to use Instant Articles.

Instead spend your time optimizing the performance and design of the mobile responsive version of your site. That will help you now and in the future and on all mobile platforms.

If you are feeling extreme enough you could start serving an AMP version which will be quick on the frontend.

Instant Articles

[2018-08-16 14:44] moeezlodhi commented on #925
Facing the same issue.
https://www.adifferentversion.com

[2018-08-16 17:57] iambikal opened #966 "ia:markup_url tag missing from Instant Article"
## Steps required to reproduce the problem

1. Create a post including with youtube video embed. Following below link to embed youtube video
https://developers.facebook.com/docs/instant-articles/reference/embeds/
2.  Verify with inspect element that post has 'op-interactive' and instant article feed page as well.

## Expected Result

Instant article feed page should have 'op-interactive'

## Actua

[2018-08-16 21:50] funnyshark2000 commented on #925
i have the same problem to my site also [
Ägypten Ausflüge](https://extraegypt.de)

[2018-08-17 15:42] WillemSpork opened #967 "IA doesn't update source"
1. When i post a new article on my WP and save it as a concept, than work further on the article FB-IA doesn't update the article to the RSS.
2. So i have to delete the old version, with the saves concept, and create new article to make it work.

Actual source of the article in the WP-editor: https://imgur.com/serYWmv
The debug information in the FB-IA module: https://imgur.com/M8Noksz

So what i'

[2018-08-19 08:31] fuzifim commented on #925
i have the same problem to my site also  [https://cungcap.net](url)

[2018-08-20 00:13] samichamoun commented on #963
anyone?

[2018-08-20 00:13] samichamoun commented on #963
I am just looking for some sort of hook to be able to use manually

[2018-08-21 11:24] lubimow opened #968 "Filter by tags and category"
Facebook recently tightened the rules for displaying ads on the pages of Instant Articles. As a result, some publishers have disabled monetization.
Consider adding a feature to exclude news with certain tags (you can exclude news on the topic "murder", "deaths") and categories
I think that this function would be useful to very many.

I would be grateful if you can tell how you can publish news con

[2018-08-22 07:27] thusanka opened #969 "I have this error"
## Steps required to reproduce the problem

1.
2.
3.

## Expected Result

## Actual Result
If your issue is about the error message _No rules defined for ..._. Please do the following.
* Go to the Wordpress editor and open the post
* In the Instant Article plugin section click on _[Toggle debug information]_
* Share both _Source Markup_ and _Transformed Markup_

## Version Info
https://www.healthf

[2018-08-24 02:56] cong10000 commented on #925
i have the same problem http://www.360huaxiafans.com/
and i am wonding how facebook know how many visitors i have??

[2018-08-25 03:29] ankshvayt commented on #925
I've written every detail about the eligibility criteria of a Facebook page and a website here: [How to check if your website or page is eligible for Facebook Instant Articles?](https://www.brandnol.com/blog/social-media/how-to-check-if-your-website-or-page-is-eligible-for-facebook-instant-articles/)

[2018-08-25 03:30] ankshvayt commented on #921
I've answered this here: https://github.com/Automattic/facebook-instant-articles-wp/issues/925#issuecomment-415930528

[2018-08-27 11:16] ehabmohameed commented on #925
I'm also having the same problem ,
The provided URL is not being accepted because the site has minimal readership, which violates the Instant Article Policies (https://developers.facebook.com/docs/instant-articles/policy/). Please provide a different URL.) this warning.

my site having good ranking and have more than 2000 articles, you can check it here https://kollyom.com , can anyone advise what

[2018-08-28 05:35] ManuITGuy commented on #925
I Got It Resolved - Please Review https://www.routineupdate.com/forums/topic/facebook-instant-articles-wp/

[2018-08-28 06:42] NicheSuccess opened #970 "Instant Articles With Facebook Video Embedded Not Previewing (via WordPress)"
## Steps required to reproduce the problem

1. Create article using wordpress
2. Encode Facebook video using the following URL:

https://developers.facebook.com/docs/plugins/embedded-video-player/?prefill_href=https%3A%2F%2Fwww.facebook.com%2FLFRSOakham%2Fvideos%2F201961350531013%2F#

3. Add the following code to body:

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getEl

[2018-08-28 06:42] NicheSuccess commented on #970
![screen shot 2018-08-28 at 07 35 27](https://user-images.githubusercontent.com/40598046/44705224-ebefa400-aa95-11e8-84e2-5bbae5917bcb.png)

[2018-08-28 18:40] nainglu commented on #925
@ManuITGuy did you mean "If Got It Resolved - Ple..........."  or you got it resolved? if you got it resolved, please share how to fix. Or please fix your typo.

[2018-08-29 07:39] ServeMe opened #971 "RTL problem"
I am using facebook instant articles for wordpress and I choose "Enable Right-to-Left (RTL) publishing"
but it does not work this is a sample of my blog
[code]

on the other side on Instant articles when I check the content I can not find any dir="rtl"

Instant Articles for WP : 4.1.1
Wordbress : 4.9.6

any ideas?

[2018-08-29 19:48] denisfb commented on #925
I have never monetized my fanpage/website and if I try to request instant articles it says that "this Page is ineligible for Instant Articles."

I tried to send an appeal but got the standard answer that Facebook isn't able to reinstate its access to Branded Content and Instant Articles.

WTF is going on? Content is fine, no copyright strikes or similiar things. We have a really huge traffic (abou

[2018-08-30 06:26] ManuITGuy commented on #925
@nainglu Sorry About that I Fixed Typo.

[2018-08-30 14:27] inimist commented on #964
Having same problem when I QuickEdit a wordpress post.

[2018-08-31 06:39] shanideshwal commented on #925
I am getting same error on my page for my website that is [https://www.howtocrazy.com](https://www.howtocrazy.com)
any solution to this error ??

[2018-09-01 12:57] bakry3d opened #973 "instant_article_ads"
You must be an admin of this Audience Network App. You need to contact a current admin and have them add you as an administrator in the roles section."

It looks like previous owner still own app so we cannot create our own .As we acquired business as a whole this is problem which needs to be removed, what should we do?

[2018-09-03 17:45] Jany-M commented on #216
I second @faruqsandi's request.
How do achieve an actual code embed through Transformer Rules, as referenced in that post?
`ParagraphRule` is not appropriate for code / pre embeds.

@everton-rosario

[2018-09-03 23:02] wilfredonoyola commented on #925
Hi all,

So, Will we hope until that our websites goal big traffic 3-6 months?

Thanks.

[2018-09-04 16:33] gabu69 commented on #668
Any update on this? This is really important since raises the CTR by far

[2018-09-04 20:31] everton-rosario commented on #668
I have this gist here: https://gist.github.com/everton-rosario/26fe2a14591e603c5db37d4d6dc6ba06
It shows how to implement in the WP integration.

If any of you come with a PR of this being treated from a default video configuration on the header will be great.

[2018-09-04 20:31] #668 closed

[2018-09-05 04:05] samichamoun commented on #668
Unsure where this code should be placed @everton-rosario ?

[2018-09-05 07:19] keralafbmedia opened #974 "INSTANT ARTICLE"
HI,
i cant connect my website with instant article.. i got a notification in Facebook like ( You've Lost Access to Instant Articles Your articles either have minimal readership or are not currently meeting the content policies for Instant Articles. To reapply for access, submit for review when you have at least 10 articles in your production library and have increased your traffic. ) like this

ac

[2018-09-05 19:12] jerclarke commented on #974
You don't decide if you are meeting the ToS, Facebook does, and they don't tell you what part you are in violation of.

Importantly, the "minimal readership" part of it is completely subjective to them and can change any time they want (months ago most sites got ejected because you needed thousands/tens-of-thousands of traffic all of a sudden, when previously there was no minimum).

Facebook doesn

[2018-09-05 22:32] Wormedi commented on #925
How to fix this problem : Not Approved URLs
https://postimg.cc/image/55s9gbqhj/